.slides .sPrev,.slides .sNext{background:url(../images/spirit24.png) no-repeat;}
.slides{width:100%;overflow:hidden;position:relative;}
.slides .slidesBd{width:1274px;height:365px; margin:0 auto;position:relative;}
.slides .slidesVisible{overflow:visible; position:absolute;left:0;top:0;}
.slides .slidesUl{width:1274px;height:365px;}
.slides .slidesUl li{width:1260px;padding:0 7px;left:0;top:0; position:absolute;}
.slides .sPrev,.slides .sNext{width:60px;height:58px;line-stacking:600px;overflow:hidden;position:absolute;left:17px;top:50%; margin-top:-29px;}
.slides .sNext{left:auto;right:17px; background-position:left -59px;}
.indexMain{width:830px; background:#fff;}
.indexMain .navTag{height:60px;line-height:60px; background:#f8f8f8;}
.indexMain .navTag li{float:left;}
.indexMain .navTag li a{padding:0 36px; display:inline-block; color:#4c4c4c; font-size:16px;}
.indexMain .navTag li a:hover,.indexMain .navTag li.on a{background:#27303f; color:#fff; text-decoration:none;}
.indexMain .mainList{padding:0 30px;}
.indexMain .mainList li{height:auto !important;height:138px; min-height:138px;padding:30px 0; border-bottom:1px solid #dedede;}
.indexMain .mainList li .lBd{margin-left:238px;}
.indexMain .mainList li .lName{height:34px;line-height:34px; padding-bottom:8px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.indexMain .mainList li .lTag{width:56px;height:18px;line-height:180px;overflow:hidden;display:inline-block; background:url(../images/indexlTag.png) no-repeat; margin:-3px 16px 0 0; vertical-align:middle;}
.indexMain .mainList li .zj{background-position:left -19px;}
.indexMain .mainList li .dc{background-position:left -38px;}
.indexMain .mainList li .lName a{color:#4c4c4c;font-size:16px;}
.indexMain .mainList li .lText{line-height:26px; color:#808080;}
.indexMain .mainList li .lBar{line-height:30px;padding-top:12px;font-size:12px; color:#808080;}
.indexMain .mainList li .userBar i{width:30px;height:30px;overflow:hidden; float:left;}
.indexMain .mainList li .userBar span{width:110px; display:block; margin:0 20px 0 40px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.indexMain .mainList li .lIntBar a{background:url(../images/spirit.png) no-repeat left -22px;padding-left:22px;display:inline-block; margin-left:20px;color:#808080;}
.indexMain .mainList li .lIntBar a.star{background-position:left -55px;}
.indexMain .mainList li .lIntBar a.praise{background-position:left -84px;}