@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}


/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}




/*内容*/


.neirong{ width:1260px; height:1000px; margin:auto; margin-top:17px; background-color:#FFF}
.baitiao{ width:1260px; height:20px; background-color:#FFF}
.miaoshu{ width:750px; height:100px; background-color:#f8f8f8;  margin:auto; color:#4c4c4c; font-size:20px; text-align:center; padding-top:60px; }

.erji{ width:750px; height:60px; background-color: #f8f8f8;margin-left: 255px;margin-top: 30px;}
.zuixin{ width:80px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:10px; background-color:#27303f} 
.zx{ width:247px; height:40px; color:#4c4c4c; font-size:18px; float:left; padding-top:20px; padding-left:30px;margin-left: 210px}


.sanji{ width:750px; height:147px;margin-left: 255px;margin-top: 30px;}
.gsjj{width:80px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:10px; background-color:#27303f}
.youq{ width:660px; height:134px; float:left;background-color: #f8f8f8}
.sh{color:#4c4c4c; font-size:18px; margin-top:15px; margin-left:30px}



.siji{ width:750px; height:147px;margin-left: 255px;margin-top: 20px;}
.gsjjw{width:80px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:10px; background-color:#27303f}
.youqw{ width:660px; height:134px; float:left;background-color: #f8f8f8}
.shw{color:#4c4c4c; font-size:18px; margin-top:15px; margin-left:30px}


.wuji{ width:750px; height:60px; background-color: #f8f8f8;margin-left: 255px;margin-top: 30px;}
.zuixinw{ width:70px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:20px; background-color:#27303f} 
.zxw{ width:247px; height:40px; color:#4c4c4c; font-size:18px; float:left; padding-top:20px; padding-left:30px;margin-left: 290px}



.liuji{ width:750px; height:60px; background-color: #f8f8f8;margin-left: 255px;margin-top: 30px;}
.zuixinwe{ width:65px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:25px; background-color:#27303f} 
.zxwe{ width:247px; height:40px; color:#4c4c4c; font-size:18px; float:left; padding-top:20px; padding-left:30px;margin-left: 260px}


.qiji{ width:750px; height:60px; background-color: #f8f8f8;margin-left: 255px;margin-top: 30px;}
.zuixinwer{ width:65px; height:40px; color: #FFF; font-size:16px; float:left; padding-top:20px; padding-left:25px; background-color:#27303f} 
.zxwer{ width:247px; height:40px; color:#4c4c4c; font-size:18px; float:left; padding-top:20px; padding-left:30px;margin-left: 220px}

.queren{ width:152px; height:40px; background-color:#109ce6; border-radius:7px 7px 7px 7px; margin:auto; color:#FFF; font-size:20px; text-align:center; margin-top:30px; padding-top:10px}



/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}


























































