@charset "utf-8";
/* CSS Document */


*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}





/*导航*/
.dabeijing{ width:100%; height:2500px;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:43px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px;  font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}



/*轮播*/
.lunbo{ width:1260px; height:365px; background-image: url(../images/s_03.png); background-repeat:no-repeat; margin:auto; position:relative}
.zizhu{ position:absolute; color:#FFF; font-size:24PX;margin-top:315px;margin-left: 91px;}
.zizhu2{position:absolute; color:#FFF; font-size:22PX;margin-top:315px;margin-left: 991px;}
.x1{ width:34px; height:28px; background-image:url(../images/sd_03.png); background-repeat:no-repeat; position:absolute;margin-top:319px;margin-left: 1080px;}
.x2{ width:34px; height:28px; background-image: url(../images/sd_05.png); background-repeat:no-repeat; position:absolute;margin-top:319px;margin-left: 1130px;}
.x3{ width:34px; height:28px; background-image: url(../images/sd_07.png); background-repeat:no-repeat; position:absolute;margin-top:319px;margin-left: 1180px;}



.erji{ width:1260px; height:60px; background-color: #f8f8f8; margin:auto; margin-top:17px}

.zuixin{ width:70px; height:38px; color:#4c4c4c; font-size:16px; float:left; padding-top:20px; padding-left:30px;}
.fdj2{ width:18px; height:18px; background-image: url(../images/chuangke/%E5%88%9B%E5%AE%A2_0322.png); background-repeat:no-repeat; margin-top:25px;float:left}
.suxian12{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; margin-top:20px;float:left}
.suxian22{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px;margin-top:20px;}
.shuru2{ width:63px; height:11px; font-size:10px; color:#808080; background-color:#f8f8f8; border:#27303f; margin-left:20px; padding-top:25px; float:left}
.zuixin:hover{border-bottom: 2px #808080 solid}


.hangye{ width:1260px; height:84px; border-bottom:1px #efefef solid; background-color:#FFF; margin:auto}
.hangneizi{  width:70px; height:40px; color:#4c4c4c; font-size:16px; float:left; padding-top:20px; padding-left:30px; margin-top:12px}
.yl{width:90px; height:21px; padding-bottom:20px}
.hangneizi:hover{ background-color:#27303f; color:#FFF}



.hangye3{width:1260px; height:84px; border-bottom:1px #efefef solid; background-color:#FFF; margin:auto; }
.hangneizi13{ width:70px; height:40px; color:#4c4c4c; font-size:16px; padding-left:30px; float:left;padding-top:20px;margin-top:12px;}
.hangneizi33{ width:110px; height:40px;color:#4c4c4c; font-size:16px; float:left;padding-top:20px;margin-top:12px; padding-left:30px}
.hangneizi13:hover{ background-color:#24303f; color:#FFF}

.hangneizi33:hover{ background-color:#24303f; color:#FFF}


/*内容*/

.neirong{ width:1260px; height:2710px; background-color: #FFF; margin:auto; margin-top:17px}


.sj{ width:1260px; height:60px}
.hdsj{ width:100px; height:60px;  font-size:20px; text-align:center;padding-top: 15px;background-color:#27303f; color:#FFF ;float:left}



.hddd{ width:100px; height:60px;  color:#4d4d4d; font-size:20px; text-align:center;padding-top: 15px; float:left; margin-left:30px}
.hddd:hover{background-color:#27303f;padding-top: 15px; color:#FFF}

.hdnr{ width:100px; height:60px;  color:#4d4d4d; font-size:20px; text-align:center;padding-top: 15px; float:left;margin-left:30px}
.hdnr:hover{background-color:#27303f;padding-top: 15px; color:#FFF}

.hdbq{ width:100px; height:60px;  color:#4d4d4d; font-size:20px; text-align:center;padding-top: 15px; float:left;margin-left:30px}
.hdbq:hover{background-color:#27303f;padding-top: 15px; color:#FFF}

.lx{ width:100px; height:60px;  color:#4d4d4d; font-size:20px; text-align:center;padding-top: 15px; float:left;margin-left:30px}
.lx:hover{background-color:#27303f;padding-top: 15px; color:#FFF}


.sjzi{width:1260px; height:60px; background-color:#f8f8f8}
.quanzi{ width:475px; height:30px; color:#4d4d4d; margin-left: 420px; padding-top:19px; font-size:20px}

.dd{  width:100px; height:60px;  font-size:20px; text-align:center;padding-top: 15px;background-color:#27303f; color:#FFF }
.didian{width:1260px; height:60px; color:#4d4d4d;background-color:#f8f8f8; text-align:center; padding-top:15px;font-size:20px}


.nr{width:100px; height:60px;  font-size:20px; text-align:center;padding-top: 15px;background-color:#27303f; color:#FFF}
.nrzi     {width:1260px; height:120px; color:#4d4d4d;background-color:#f8f8f8; text-align:center; padding-top:15px}
.nrqz{width:1260px; height:105px; color:#4d4d4d;background-color:#f8f8f8; text-align:center; padding-top:15px;font-size:20px}
.fxwx{ width:154px; height:43px; background-image:url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_07.png); background-repeat:no-repeat; margin-left: 800px;margin-top: 20px}
.sc{ width:128px; height:43px; background-image:url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_09.png); background-repeat: no-repeat; margin-left: 970px;margin-top: -43px;}
.jb{ width:111px; height:40px; background-image: url(../images/asas_03.png); background-repeat:no-repeat;margin-left: 1120px;margin-top: -43px;}


.bq{width:100px; height:60px;  font-size:20px; text-align:center;padding-top: 15px;background-color:#27303f; color:#FFF}
.biaoqian{width:1260px; height:60px; color:#4d4d4d;background-color:#f8f8f8; text-align:center;padding-top:15px}
.sq{ width:96px; height:32px; border:1px #d9d9d9 dashed;  margin:auto;font-size:20px }

.luxian{width:100px; height:60px;  font-size:20px; text-align:center;padding-top: 15px;background-color:#27303f; color:#FFF}
.lxt{ width:1208px; height:506px; background-image:url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_14.png); background-repeat:no-repeat; margin:auto; margin-top:17px}

.keneng{ width:153px; height:25px; color:#4c4c4c; font-weight:600;margin-top: 40px;margin-left: 25px;font-size: 18px}
.xqda{ width:1217px; height:500px; margin:auto}
.z1{ width:274px;margin-top: 10px; float:left; padding-left: 27px;border-right: 1px #f0f0f0 solid;border-bottom: 1px #f0f0f0 solid}
.t1{ width:245px; height:146px; background-image:url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_18.png);background-size:245px 146px; background-repeat:no-repeat}
.ziq{font-size: 16px;margin-top: 10px; color:#7e7f80;width: 245px;height: 60px}
.tx1{width:245px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_30.png);background-size:245px 146px; background-repeat:no-repeat;margin-top:25px;}
.ziqx1{font-size: 16px;margin-top: 10px; color:#7e7f80; width:245px; height:60px}
.xian1{ width:1160px; height:1px; background-color:#f0f0f0;}


.z2{width:274px;margin-top: 10px; float:left;padding-left: 30px;border-right: 1px #f0f0f0 solid;border-bottom: 1px #f0f0f0 solid}

.t1q{ width:245px; height:146px; background-image: url(../images/sdasdasd_03.png); background-repeat:no-repeat}
.ziqq{font-size: 16px;margin-top: 10px; color:#7e7f80; height:42px; width:245px;height: 60px}
.tx1q{width:245px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_32.png); background-size:245px 146px; background-repeat:no-repeat;margin-top:25px;}
.ziqx1q{font-size: 16px;margin-top: 10px; color:#7e7f80;width:245px;height:60px}



.z3{width:274px;margin-top: 10px; float:left;padding-left: 30px;border-right: 1px #f0f0f0 solid;border-bottom: 1px #f0f0f0 solid}
.t1qw{ width:274px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_22.png);background-size:245px 146px; background-repeat:no-repeat}
.ziqqw{font-size: 16px;margin-top: 10px; color:#7e7f80; width:245px;height: 60px}
.tx1qw{width:245px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_33.png);background-size:245px 146px; background-repeat:no-repeat;margin-top: 25px;}
.ziqx1qw{font-size: 16px;margin-top: 10px; color:#7e7f80 ;height:42px;width:245px;height:60px}


.z4{width:274px;margin-top: 10px; float:left;margin-left:30px;border-bottom: 1px #f0f0f0 solid}
.t1qwe{ width:274px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_24.png);background-size:245px 146px; background-repeat:no-repeat}
.ziqqwe{font-size: 16px;margin-top: 10px; color:#7e7f80; height:60px; width:245px}
.tx1qwe{width:245px; height:146px; background-image: url(../images/%E5%85%B7%E4%BD%93%E6%B4%BB%E5%8A%A8_34.png);background-size:245px 146px; background-repeat:no-repeat;margin-top: 25px;}
.ziqx1qwe{font-size: 16px;margin-top: 10px; color:#7e7f80;width:245px;height:60px;}


.tiwen{width:292px; height:25px; color:#4c4c4c; font-weight:600;margin-top: 40px;margin-left: 25px;font-size: 18px}
.tiwenkuang{ width:1173px; height:274px;margin-left: 40px; margin-top:30px}
.twaz{ width:128px; height:58px; background-color:#109ce6; font-size:20px;margin-top: 20px;margin-left: 1090px;color: #fff;}



.pinglunbj{ height:2000px}



.lijibaoming{ width:44px; height:142px; background-color:#c2c2c2; position:fixed; right:200px; top:200px; font-size:20px; font-weight:600; color:#fff;text-align: center;padding-top: 13px;
               border-radius:7px}

      

















































