[#escape x as (x)!?html]
[#assign node=getNode(Param.id?number)/]
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>${node.name}</title>
    <meta name="viewport" content="width=640, target-densitydpi=device-dpi, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="stylesheet" href="_files/zhijia/css/main.css"/>
</head>
<body>
<a class="menu2 showMenus"></a>
<div class="catgyPage">
    [@InfoList nodeId=node.id isIncludeChildren='true' siteId='1' attr='focusphoto' sort='publishDate desc' limit='1';list]
    [#list list as info]
    <a href="${ctx}/app.jspx?template=info&id=${info.id}" class="bnImg"><img src="${info.attrImageUrl}" /></a>
    [/#list]
    [/@InfoList]

    <div class="list">
        [@InfoList nodeId=node.id isIncludeChildren='true' siteId='1' sort='publishDate desc' limit='5';list]
        [#list list as info]
        <a href="${ctx}/app.jspx?template=info&id=${info.id}" class="mod">
            <span class="t1">${info.title}</span>
            <span class="img">
		      <img src="${info.largeImageUrl}" />
		      </span>
            <div class="t2">
                <span class="tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
                <span class="ntc">${info.comments}</span>
            </div>
        </a>
        [/#list]
        [/@InfoList]
        <span class="cmLoadRow"></span>
    </div>

</div>

[#include 'inc_nav.html'/]
[#include 'inc_footer.html'/]

<script type="text/javascript" src="_files/zhijia/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<script>
    $(function(){

    });

    var canLoad = true;
    $(window).scroll(
        function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight >= scrollHeight - 2 && canLoad == true) {
//                alert(scrollTop + ", " +  windowHeight + ", " + scrollHeight)
                loadMore("${node.number}");
            }
        });

    var loadTimes = 0;
    var offset = 5;
    function loadMore(nodeNumber) {
        var url = "${ctx}/tab_zuixin/load_more/list_news.jspx?nodeNumber=" + nodeNumber + "&offset=" + offset + "&listNumber=5";
        $.ajax({
            url : url,
            type : 'post',
            dataType : 'text',
            success : function (result) {
                $(".cmLoadRow").replaceWith(result)
                loadTimes++;
                var num = $(".list").find(".mod").length;
                if (num < offset + 5) {
                    $(".list").find(".cmLoadRow").remove();
                    canLoad = false;
                } else {
                    offset += 5;
                }
            }
        });
    }
</script>
</body>
</html>
[/#escape]