[#escape x as (x)!?html]
<script src="_files/zhijia/js/jquery-1.7.2.min.js"></script>
<div class="cmsMenuChi" id="tou">
    <div class="topRow">
        <a class="closeBtn" href="/"></a>
        <div class="rt">
            [#if user??]
            <a href="${ctx}/logout.jspx" class="txBtn" >退出</a>
            <!--<span class="jg"></span>
            <a href="${ctx}/space/${user.id}.jspx">
                <span class="logEd">${user.username}</span>-->
            </a>
            [#else]
            <a href="${ctx}/login.jspx?fallbackUrl=${Param.fallbackUrl?url}&tabIndex=1" class="txBtn">注册</a>
            <a href="${ctx}/login.jspx?fallbackUrl=${Param.fallbackUrl?url}&tabIndex=0" class="txBtn">登录</a>
            [/#if]
            <a href="${ctx}/search.jspx" class="scBtn"></a>
        </div>
    </div>
    <div class="chi1">
        <div class="cc1">
            [@Node number='newcar' siteId='1';n]<a href="${ctx}/app.jspx?template=list&id=${n.id}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='newcars' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='evaluate' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='brand' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='newenergy' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='shadow' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='business' siteId='1';n]<a href="${ctx}/app.jspx?template=list&id=${n.id}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='e-commerce' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='nettravel' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='caro2o' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='chuangtou' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='reading' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='technology' siteId='1';n]<a href="${ctx}/app.jspx?template=list&id=${n.id}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='smartcar' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='vehicle' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='uav' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='geek' siteId='1';n]<a href="${ctx}/second_node/app.jspx?id=${n.id}" class="[#if (node.id)?? && n.id==node.id]cur[/#if]">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='column' siteId='1';n]
            <a href="${ctx}/zhuanlan/app.jspx?id=${n.id}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>
            [@MemberList memberGroupId='2' status='0' limit='5';list]
            [#list list as member]
            <a href="${ctx}/creator/${member.id}.jspx?id=${n.id}" class="[#if (targetUser.id)?? && targetUser.id == member.id]cur[/#if]">${(member.realName)!'未知'}</a>
            [/#list]
            [/@MemberList]
            [/@Node]
        </div>
    </div>
    <div class="chi2">
        <a href="${ctx}/m/zj_about.jspx?tabIndex=0">关于智驾</a>
        <a href="${ctx}/m/zj_about.jspx?tabIndex=1">关于投稿</a>
        <a href="${ctx}/m/zj_about.jspx?tabIndex=3">商务合作</a>
    </div>
</div>
[/#escape]
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?381043f76fbf0c4024a0f8e31d0076fd";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
(function() {
	var flag = 0;
	var className = '';
   	$('.showMenus').click(function(){
   		className = 'showMenus';
   	});
   	//$('#btn').unbind("click"); 
   	$('body').not('#tou').click(function(){
   		if(className==('showMenus')){
   		}else{
	    	if($('#tou').is(':visible')){
	    		$('#tou').hide();
	    	}
    	}
   		className = '';
   	 });
})();
</script>