[#escape x as (x)!?html]
<div class="cmsMenuChi">
    <div class="topRow">
        <a class="closeBtn"></a>
        <div class="rt">
            [#if user??]
            <a href="${ctx}/logout.jspx" class="txBtn" >退出</a>
            <span class="jg"></span>
            <a href="${ctx}/space/${user.id}.jspx">
                <span class="logEd">${user.username}</span>
            </a>
            [#else]
            <a href="${ctx}/login.jspx?fallbackUrl=${Param.fallbackUrl?url}" class="txBtn">注册</a>
            <a href="${ctx}/login.jspx?fallbackUrl=${Param.fallbackUrl?url}" class="txBtn">登录</a>
            [/#if]
            <a href="#" class="scBtn"></a>
        </div>
    </div>
    <div class="chi1">
        <div class="cc1">
            [@Node number='newcar' siteId='1';n]<a href="${n.url}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='newcars' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='evaluate' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='brand' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='newenergy' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='business' siteId='1';n]<a href="${n.url}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='e-commerce' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='nettravel' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='caro2o' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='chuangtou' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='reading' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='technology' siteId='1';n]<a href="${n.url}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@Node number='smartcar' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='vehicle' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='uav' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
            [@Node number='geek' siteId='1';n]<a href="${n.url}">${n.name}</a>[/@Node]
        </div>
        <div class="cc1">
            [@Node number='column' siteId='1';n]<a href="${n.url}" class="fst[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id] cur[/#if]">${n.name}</a>[/@Node]
            [@MemberList memberGroupId='2' status='0' limit='5';list]
            [#list list as member]
            <a href="${ctx}/creator/${member.id}.jspx">${(member.realName)!'未知'}</a>
            [/#list]
            [/@MemberList]
        </div>
    </div>
    <div class="chi2">
        <a href="${ctx}/m/zj_about.jspx?tabIndex=0">关于智驾</a>
        <a href="${ctx}/m/zj_about.jspx?tabIndex=1">关于投稿</a>
        <a href="${ctx}/m/zj_about.jspx?tabIndex=3">商务合作</a>
    </div>
</div>
[/#escape]