[#escape x as (x)!?html]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>商务合作</title>
	<meta name="viewport" content="width=640, target-densitydpi=device-dpi, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<link rel="stylesheet" href="_files/zhijia/css/main.css"/>
</head>
<body>

	[#include 'inc_header.html'/]
	
	<div class="atcDexPage addPdT">
	  <div class="cmsAtcCon">
	    <div class=" firTit">商务合作</div>
	    <div class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoR智驾是一家拥有网络、杂志、微信公众平台及线下活动的互联网媒体公司，是国内首家关注汽车智能化的媒体平台。我们期待与各个合作伙伴开展多层次多角度的合作。<br />
		</div>
	    <div class="firTit">AutoR智驾 商务合作资源</div>
	    <div class="para">
			1. 网站广告<br />
			2. 微信广告及活动<br />
			3.《AutoR智驾》杂志广告<br />
			4. 新媒体服务<br />
			5. 线下活动：合作举办各类论坛及活动<br />
		</div>
		<div class="firTit">商务合作及索取报价刊例请发邮件至market@autor.com.cn</div>
	  </div>
	</div>

	[#include 'inc_nav.html'/]
	[#include 'inc_footer.html'/]
	
	<script type="text/javascript" src="_files/zhijia/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
	<script>
	  $(function(){
		
	  });
	</script>
</body>
</html>
[/#escape]