[#escape x as (x)!?html]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>关于智驾</title>
	<meta name="viewport" content="width=640, target-densitydpi=device-dpi, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<link rel="stylesheet" href="_files/zhijia/css/main.css"/>
</head>
<body>

	[#include 'inc_header.html'/]
	
	<div class="atcDexPage addPdT">
	  <div class="cmsAtcCon">
	    <div class="firTit">关于智驾</div>
	    <div class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoR智驾传媒是国内第一家关注汽车科技、汽车智能化与互联网汽车商业模式
			的垂直类汽车科技媒体公司。公司以关注汽车业内科技动态、产品测评、国外技术前沿、商业变革观察为己
			任，发掘业内观点，展示汽车技术进步为目标。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoR智驾传媒旗下拥有《AutoR智驾》杂志、AutoR智驾网、AutoR智驾微信公众
			号等全媒体凭条，平台大量原创内容同步推送今日头条、汽车之家、易车、新浪、搜狐、网易、凤凰、界面、
			百度、喜乐航等媒体公众平台。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《AutoR智驾》杂志隶属中国工业与信息化部，由中国信息产业商会智能汽车分会
			（筹）指导，中国电子企业协会和中国电子器材总公司主办，是中国第一本专注于汽车科技、汽车进化的汽车
			杂志。在汽车智能革命的前夜，智驾网将与《AutoR智驾》杂志一道，以科技视角发现汽车工业典型样本，解
			读成功汽车品牌独特基因，挖掘成功产品制胜秘籍，权威展望和品鉴最新汽车产品。
		</div>
	    <div class="firTit">联系我们</div>
	    <div class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京智驾时代传媒科技有限公司<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：北京市朝阳区朝外大街乙6号朝外SOHO D座5097室<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内容及寻求报道：editor@autor.com.cn<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市场及商务合作：market@autor.com.cn
		</div>
	  </div>
	</div>

	[#include 'inc_nav.html'/]
	[#include 'inc_footer.html'/]
	
	<script type="text/javascript" src="_files/zhijia/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
	<script>
	  $(function(){
		
	  });
	</script>
</body>
</html>
[/#escape]