[#escape x as (x)!?html]
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>关于投稿</title>
	<meta name="viewport" content="width=640, target-densitydpi=device-dpi, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="email=no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<link rel="stylesheet" href="_files/zhijia/css/main.css"/>
</head>
<body>

	[#include 'inc_header.html'/]
	
	<div class="atcDexPage addPdT">
	  <div class="cmsAtcCon">
	    <div class=" firTit">关于投稿</div>
	    <div class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非常感谢您的关注和支持，请将投稿稿件以邮件附件形式发送至以下邮箱，我们
			将在第一时间与您联系。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿地址：editor@autor.com.cn<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：010-65030507<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿题材应与汽车，创业，科技等相关，字数要求在1000字以上。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特别提示：请在投稿邮件中详细注明投稿人 姓名、联系电话、稿件来源（原创或者稿件出处）。我们将根据新闻内容性来决定稿件是否被采用，一经采用我们将视稿件采用情况支付一定稿费。<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;再次感谢您的支持和关注。
		</div>
	  </div>
	</div>

    [#include 'inc_nav.html'/]
    [#include 'inc_footer.html'/]
	
	<script type="text/javascript" src="_files/zhijia/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
	<script>
	  $(function(){
		
	  });
	</script>
</body>
</html>
[/#escape]