@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}



/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}



/*轮播*/
.lunbo{ width:1260px; height:365px;  margin:auto; position:relative}
.lb{ width:1260px; height:365px; position:absolute}


.zizhu{ position:absolute; color:#FFF; font-size:24PX;margin-top:322px;margin-left: 91px}

.erji{ width:1260px; height:60px; background-color: #f8f8f8; margin:auto; margin-top:17px}

.zuixin{ width:70px; height:38px; color:#4c4c4c; font-size:16px; float:left; padding-top:20px; padding-left:30px;}
.fdj2{ width:18px; height:18px; background-image: url(../images/chuangke/%E5%88%9B%E5%AE%A2_0322.png); background-repeat:no-repeat; margin-top:25px;float:left}
.suxian12{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; margin-top:20px;float:left}
.suxian22{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px;margin-top:20px;}
.shuru2{ width:63px; height:11px; font-size:10px; color:#808080; background-color:#f8f8f8; border:#27303f; margin-left:20px; padding-top:25px; float:left}
.zuixin:hover{border-bottom: 2px #808080 solid}


.hangye{ width:1260px; height:84px; border-bottom:1px #efefef solid; background-color:#FFF; margin:auto}
.hangneizi{  width:70px; height:40px; color:#4c4c4c; font-size:16px; float:left; padding-top:20px; padding-left:30px; margin-top:12px}
.yl{width:90px; height:21px; padding-bottom:20px}
.hangneizi:hover{ background-color:#27303f; color:#FFF}



.hangye3{width:1260px; height:84px; border-bottom:1px #efefef solid; background-color:#FFF; margin:auto; }
.hangneizi13{ width:70px; height:40px; color:#4c4c4c; font-size:16px; padding-left:30px; float:left;padding-top:20px;margin-top:12px;}
.hangneizi33{ width:110px; height:40px;color:#4c4c4c; font-size:16px; float:left;padding-top:20px;margin-top:12px; padding-left:30px}
.hangneizi13:hover{ background-color:#24303f; color:#FFF}

.hangneizi33:hover{ background-color:#24303f; color:#FFF}


/*内容*/


.neirongqu{ width:1260px; height:1337px; background-color:#FFF; margin:auto}



.neirongzuo1{ width:388px; height:1150px; margin-left:25px; float:left}
.neitu1{ width:388px; height:233px; margin-top:25px;}
.xiakuai1{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqia1{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichang1{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiao1{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiao11{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiao111{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neitu2{ width:388px; height:233px; margin-top:25px;}
.xiakuai12{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqia12{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichang12{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiao12{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiao112{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiao1112{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neitu3{ width:388px; height:233px; margin-top:25px;}
.xiakuai13{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqia13{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichang13{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiao13{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiao113{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiao1113{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}




/**/


.neirongzuo2{ width:388px; height:1150px; margin-left:25px; float:left}
.neituw{ width:388px; height:233px; margin-top:25px }
.xiakuaiw{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiaw{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichangw{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaow{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaoww{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaowww{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neitue{ width:388px; height:233px; margin-top:25px;}
.xiakuaie{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiae{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichange{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaoe{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaoee{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaoeee{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neitur{ width:388px; height:233px; margin-top:25px}
.xiakuair{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiar{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichangr{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaor{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaorr{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaorrr{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


/**/

.neirongzuo3{ width:388px; height:1150px; margin-left:25px; float:left}
.neituz{ width:388px; height:233px; margin-top:25px;}
.xiakuaiz{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiaz{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichangz{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaoz{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaozz{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaozzz{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neitux{ width:388px; height:233px; margin-top:25px;}
.xiakuaix{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiax{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichangx{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaox{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaoxx{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaoxxx{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}


.neituc{ width:388px; height:233px; margin-top:25px;}
.xiakuaic{ width:388px; height:132px; background-color:#f8f8f8; position:relative}
.youqiac{ color:#1a1a1a; font-size:20px; position:absolute; margin-top:18px; margin-left:22px}
.shangwuzhichangc{ color:#808080; font-size:14px; position:absolute; margin-top:58px; margin-left:22px}
.xiaoc{color:#808080; font-size:14px; position:absolute;  margin-left:22px; margin-top:88px}
.xiaocc{color:#808080; font-size:14px; position:absolute;  margin-left:140px; margin-top:88px}
.xiaoccc{color:#808080; font-size:14px; position:absolute;  margin-left:260px; margin-top:88px}





.jiazaigengduo{ width:150px; height:35px; background-color:#109ce6; font-size:16px; color:#FFF; float:left;margin-left: 560px;text-align: center;margin-top: 80px; padding-top:10px}


/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}
