/*导航条*/
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px }
.sy a{ color:#FFF; font-size:16px; text-decoration: none; }
.sy a:hover{ font-size:18px; color:#00a0e9; text-decoration: none; }
.syd a{ font-size:16px; color:#00a0e9 }
.fdj{ width:18px; height:18px; background-image: url(img/zj_icon_search.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}