@charset "utf-8";
/* CSS Document */


*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}



/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}

/*内容区*/

.neirongqu{ width:1260px; height:1970px; background-color:#FFF; margin:auto; margin-top:17px}

.fanhui{ width:800px; height:23px; margin-left:30px; padding-top:15px}
.xsy{ color:#808080; font-size:16px; float:left}
.fanhui1{ width:8px; height:11px; background-image:url(../images/danchexing/%E5%8D%95%E4%B8%AA%E8%BD%A6%E5%9E%8B%E9%A1%B5%E9%9D%A2_0347_03.png); 
          background-repeat:no-repeat; float: left; margin-left:15px; margin-top:6px}
.suoyou{color:#808080; font-size:16px; float:left; margin-left:15px}
.fanhui2{width:8px; height:11px; background-image:url(../images/danchexing/%E5%8D%95%E4%B8%AA%E8%BD%A6%E5%9E%8B%E9%A1%B5%E9%9D%A2_0347_03.png);
          background-repeat:no-repeat; float: left; margin-left:15px; margin-top:6px}
.rav4{color:#4c4c4c; font-size:18px; float:left; margin-left:15px}





.erji{ width:1260px; height:60px; background-color: #f8f8f8; margin:auto; margin-top:17px}
.zuixin{ width:70px; height:38px; color:#4c4c4c; font-size:16px; float:left; padding-top:20px; padding-left:30px;}
.fdj2{ width:18px; height:18px; background-image: url(../images/chuangke/%E5%88%9B%E5%AE%A2_0322.png); background-repeat:no-repeat; margin-top:25px;float:left}
.suxian12{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; margin-top:20px;float:left}
.suxian22{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px;margin-top:20px;}
.shuru2{ width:63px; height:11px; font-size:10px; color:#808080; background-color:#f8f8f8; border:#27303f; margin-left:20px; padding-top:25px; float:left}
.zuixin:hover{border-bottom: 2px #808080 solid}


.zhijiapaihang{ width:1260px; height:50px}

.zjph{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 23px;margin-left: 20px}
.znhl{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zl{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zl:hover{ background-color:#27303f; color:#FFF}
.zx{ margin-left:30px}
.bl{ margin-left:30px}
.qb{ margin-left:40px}
.ca{ margin-left:40px}
.cap{ margin-left:40px}


.zjphq{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlq{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlq{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlq:hover{ background-color:#27303f; color:#FFF}
.zxq{ margin-left:30px}
.blq{ margin-left:30px}
.qbq{ margin-left:40px}
.caq{ margin-left:40px}
.capq{ margin-left:40px}



.zjphqw{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlqw{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlqw{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlqw:hover{ background-color:#27303f; color:#FFF}
.zxqw{ margin-left:30px}
.blqw{ margin-left:30px}
.qbqw{ margin-left:40px}
.caqw{ margin-left:40px}
.capqw{ margin-left:40px}


.zjphqwe{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlqwe{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlqwe{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlqwe:hover{ background-color:#27303f; color:#FFF}
.zxqwe{ margin-left:30px}
.blqwe{ margin-left:30px}
.qbqwe{ margin-left:40px}
.caqwe{ margin-left:40px}
.capqwe{ margin-left:40px}


/*车介绍*/
.tupianjiesaoq{ width:1200px; height:477px; margin:auto; margin-top:20px}

.zuotzq{ width:386px; height:477px; float:left}
.tq{ width:386px; height:217px;}
.tqs{ width:386px; height:260px; background-color:#f8f8f8}
.cacx{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zs{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zsz{ position:absolute; margin-left:20px}
.zsw{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszw{ position:absolute; margin-left:20px}
.changzi{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjq{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiang{ width:19px; height:19px; margin-left: 330px;margin-top: -15px;}
            



.zuotzqw{ width:386px; height:477px; float:left; margin-left:20px}
.tqw{ width:386px; height:217px; }
.tqsw{ width:386px; height:260px; background-color:#f8f8f8}
.cacxw{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zsl{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zszl{ position:absolute; margin-left:20px}
.zswl{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszwl{ position:absolute; margin-left:20px}
.changziw{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjqw{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiangw{ width:19px; height:19px; margin-left: 330px;margin-top: -15px;}
           



.zuotzqwe{ width:386px; height:477px; float:left; margin-left:20px}
.tqwe{ width:386px; height:217px; }
.tqswe{ width:386px; height:260px; background-color:#f8f8f8}
.cacxwe{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zslk{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zszlk{ position:absolute; margin-left:20px}
.zswlk{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszwlk{ position:absolute; margin-left:20px}
.changziwe{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjqwe{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiangwe{ width:19px; height:19px;  margin-left: 330px;margin-top: -15px;}
           

/**/



.zhijiapaihang2{ width:1260px; height:50px}
.zjph2{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 23px;margin-left: 20px}
.znhl2{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zl2{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zl2:hover{ background-color:#27303f; color:#FFF}
.zx2{ margin-left:30px}
.bl2{ margin-left:30px}
.qb2{ margin-left:40px}
.ca2{ margin-left:40px}
.cap2{ margin-left:40px}


.zjphq2{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlq2{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlq2{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlq2:hover{ background-color:#27303f; color:#FFF}
.zxq2{ margin-left:30px}
.blq2{ margin-left:30px}
.qbq2{ margin-left:40px}
.caq2{ margin-left:40px}
.capq2{ margin-left:40px}



.zjphqw2{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlqw2{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlqw2{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlqw2:hover{ background-color:#27303f; color:#FFF}
.zxqw2{ margin-left:30px}
.blqw2{ margin-left:30px}
.qbqw2{ margin-left:40px}
.caqw2{ margin-left:40px}
.capqw2{ margin-left:40px}


.zjphqwe2{ width:138px; height:35px; font-size:20px; color: #FFF; background-color:#27303f; text-align: center;padding-top: 10px;margin-top: 20px;margin-left: 20px}
.znhlqwe2{ width:1220px; height:70px; margin:auto; border-bottom:1px #efefef solid}
.zlqwe2{ width:92px; height:30px; color:#4c4c4c; float:left; padding-top:30px; font-size:17px; text-align:center;margin-top: 13px;padding-top: 10px; padding-bottom:5px}
.zlqwe2:hover{ background-color:#27303f; color:#FFF}
.zxqwe2{ margin-left:30px}
.blqwe2{ margin-left:30px}
.qbqwe2{ margin-left:40px}
.caqwe2{ margin-left:40px}
.capqwe2{ margin-left:40px}


/*车介绍*/
.tupianjiesaoq2{ width:1200px; height:477px; margin:auto; margin-top:20px}

.zuotzq9{ width:386px; height:477px; float:left}
.tq9{ width:386px; height:217px;}
.tqs9{ width:386px; height:260px; background-color:#f8f8f8}
.cacx9{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zs9{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zsz9{ position:absolute; margin-left:20px}
.zsw9{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszw9{ position:absolute; margin-left:20px}
.changzi9{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjq9{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiang9{ width:19px; height:19px; margin-left: 330px;margin-top: -15px;}
            



.zuotzqw8{ width:386px; height:477px; float:left; margin-left:20px}
.tqw8{ width:386px; height:217px; }
.tqsw8{ width:386px; height:260px; background-color:#f8f8f8}
.cacxw8{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zsl8{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zszl8{ position:absolute; margin-left:20px}
.zswl8{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszwl8{ position:absolute; margin-left:20px}
.changziw8{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjqw8{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiangw8{ width:19px; height:19px; margin-left: 330px;margin-top: -15px;}
           



.zuotzqwe7{ width:386px; height:477px; float:left; margin-left:20px}
.tqwe7{ width:386px; height:217px; }
.tqswe7{ width:386px; height:260px; background-color:#f8f8f8}
.cacxwe7{ color:#1a1a1a; font-size:20px; margin-left:17px; padding-top:10px} 
.zslk7{ width:247px; height:30px;margin-left: 65px;margin-top: 20px;color:#808080; font-size:16px; position:relative}
.zszlk7{ position:absolute; margin-left:20px}
.zswlk7{ width:247px; height:30px;margin-left: 65px;color:#808080; font-size:16px; position:relative}
.zszwlk7{ position:absolute; margin-left:20px}
.changziwe7{ color:#808080; font-size:16px; margin-top:10px; margin-left:17px }
.sjqwe7{ color:#808080; font-size:14px;margin-left: 17px;margin-top: 20px;}
.fenxiangwe7{ width:19px; height:19px;  margin-left: 330px;margin-top: -15px;}



.jiazai{ width:150px; height:35px; background-color:#109ce6; font-size:16px; color:#FFF; float:left;margin-left: 560px;text-align: center;margin-top: 50px; padding-top:10px}



/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}




























































