@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}



/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}



/*内容*/
.nrbj{ width:1260px; height:2590px; margin:auto; background-color:#FFF; margin-top:17px}
.biaoti{ width:1260px; height:155px; margin:auto;}
.xqbd{ width:190px; height:40px; background-color:#109ce6; color:#FFF; text-align:center; margin:auto; font-size:20px; padding-top:10px}
.baise{ width:1260px; height:30px; background-color:#FFF}


.gslx{ width:100px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px}

.lxgs{ width:767px; height:50px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; color:#4c4c4c}
.gsmz{width:100px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.mzgs{ width:755px; height:35px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}
.slo{ width:126px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px;margin-top:40px}
.gsslo{width:755px; height:35px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}

.cpjs{width:160px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.jycp{width:755px; height:160px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}

.csrxf{width:200px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.xf{width:755px; height:160px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}


.tdjs{width:180px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.csrtd{width:755px; height:160px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}


.yysj{width:150px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.gjyy{width:755px; height:160px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}


.mbyh{width:244px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.gjkh{width:755px; height:160px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}

.gsgw{width:100px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.gw{width:755px; height:35px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}


.lxfs{width:100px; height:45px; background-color:#27303f; font-size:20px; color:#FFF; text-align:center; padding-top:15px; margin-left:260px; margin-top:40px}
.fs{width:755px; height:35px; border:1px #d9d9d9 solid; font-size:18px;margin-left: 260px;margin-top: 20px;padding-left: 10px; padding-top:15px;color:#4c4c4c}

.tijiao{ width:180px; height:50px; background-color:#109ce6; color:#FFF; font-size:20px;margin-top: 40px;margin-left: 550px;}





/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}

















































































