@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}

/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}

/*轮播*/
.lunbo{ width:1260px; height:365px;  margin:auto; position:relative}
.lb{ width:1260px; height:365px;}
.zizhu{ /* position:absolute;  */color:#FFF; font-size:25PX;margin-top:-50px;margin-left: 91px}

.daneirong{ width:1260px; height:1500px; margin:auto; margin-top:17px}
.zuobeijing{ width:830px; height:1500px; background-color:#FFF; float:left}

/*图片加文字*/
.hezi{ width:750px; height:182px; margin-left:30px;border-bottom: 1px #efefef solid; position:relative}
.chetu{ width:214px; height:138px; margin-top:25px; position:absolute}
.chetuimg{ width:214px; height:138px; float:left}
.biaoqian{ dword-break:keep-all; white-space:nowrap; border-radius: 10px; border: #0080ff 1px solid; background-color: #0080ff; /* width:56px; */ height:18px; position:absolute; margin-left:237px; margin-top:25px; text-align:center; color:#fff}
.yihang{white-space:nowrap; width:350px; height:22px; font-size:16px; color:#4c4c4c; margin-left:320px; position:absolute; margin-top:25px}
.erhang{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:60px}
.sanhang{ width:200px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:84px}
.txq{ width:31px; height:31px; position:absolute; margin-top:130px; margin-left:235px}
.tyzy{ width:60px; height:16px; color: #808080; font-size:14px; margin-top:135px; margin-left:276px; position:absolute}
.fzq{ /* width:62px; */ height:16px; color: #808080; font-size:14px; position:absolute; margin-top:135px; margin-left:400px; }
.xpl{ width:18px; height:18px; position:absolute; margin-top:136px; margin-left:560px}
.szq{ width: 16px; height:16px;color: #808080; font-size:14px; margin-top:135px; margin-left:584px; position:absolute}
.scq{ width:18px; height:18px;  position:absolute; margin-top:136px; margin-left:624px}
.szw{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:648px; position:absolute}
.za{width:18px; height:18px; background-image: position:absolute; margin-top:136px; margin-left:690px}
.sze{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:730px; position:absolute}
.gengduo{ width:150px; height:36px; position:absolute; background-color:#109ce6; margin-left:340px; margin-top:40px; color:#FFF; font-size:16px;  text-align:center; padding-top:10px}

/*右面*/
.youhezi{ width:410px; height:1500px; float:left; }

.youguanggao1{ width: 415px; height: 133px;margin-left: 15px;}

.youbeijing1{ width:415px; height:1030px; background-color:#FFF;  margin-left:15px; margin-top:17px}

.biaoti1{ width:415px; height:66px}
.suxianyou1{ width:4px; height:20px; background-color:#e43a47; float:left; margin-left:20px; margin-top:26px}
.zhijiayou{ color:#666666; font-size:16px; float:left; margin-left:7px; margin-top:25px}
.quanbu1{ color:#808080; font-size:14px; float:left; margin-left:230px; margin-top:25px;}

.zhuanlan1{ width:390px; height:162px; position:relative; margin-left:15px; border-bottom:1px #efefef solid}
.zt1{ width:111px; height:131px; margin-top:10px}
.zlq{ color:#808080; font-size:15px; position:absolute; margin-left:150px; margin-top:-120px}
.zlw{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-90px}
.zle{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-60px}
.zlr{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-30px}

.zhuanlan2{ width:390px; height:162px; position:relative; margin-left:15px; border-bottom:1px #efefef solid; margin-top:30px}
.zt2{ width:111px; height:131px; margin-top:10px}
.zlqq{ color:#808080; font-size:15px; position:absolute; margin-left:150px; margin-top:-120px}
.zlww{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-90px}
.zlee{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-60px}
.zlrr{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-30px}

.zhuanlan3{ width:390px; height:162px; position:relative; margin-left:15px; border-bottom:1px #efefef solid; margin-top:30px}
.zt3{ width:111px; height:131px;margin-top:10px}
.zlqqq{ color:#808080; font-size:15px; position:absolute; margin-left:150px; margin-top:-120px}
.zlwww{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-90px}
.zleee{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-60px}
.zlrrr{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-30px}

.zhuanlan4{ width:390px; height:162px; position:relative; margin-left:15px; border-bottom:1px #efefef solid; margin-top:30px}
.zt4{ width:111px; height:131px; margin-top:10px}
.zlqqqq{ color:#808080; font-size:15px; position:absolute; margin-left:150px; margin-top:-120px}
.zlwwww{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-90px}
.zleeee{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-60px}
.zlrrrr{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-30px}

.zhuanlan5{ width:390px; height:162px; position:relative; margin-left:15px; margin-top:30px}
.zt5{ width:111px; height:131px; margin-top:10px}
.zlqqqqq{ color:#808080; font-size:15px; position:absolute; margin-left:150px; margin-top:-120px}
.zlwwwww{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-90px}
.zleeeee{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-60px}
.zlrrrrr{color:#808080; font-size:15px; position:absolute;margin-left:130px; margin-top:-30px}

.youguanggao2{width: 415px; height: 133px; margin-left: 15px;}
