@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}


/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}


/*轮播*/
.lunbo{ width:1260px; height:365px;  margin:auto; position:relative}

.zizhu{ position:absolute; color:#FFF; font-size:24PX;margin-top:-50px;margin-left: 91px}



/*上三图*/
.neirongqu{ width:1260px; height:1574px; margin:auto; background-color:#FFF; margin-top:17px}
.shangsantu{ width:1260px; height:385px}
.tu1jiazi{ width:387px; height:230px; float:left; margin-left:20px; margin-top:20px}
.xiakuai{ width:387px; height:135px; background-color:#f8f8f8; }
.jinkou{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:16px; margin-left:10px}
.dache{ color:#808080; font-size:16px; position:absolute; margin-top:68px; margin-left:45px}
.pinglun{ width:18px; height:18px; margin-top:102px; margin-left:225px; position:absolute}
.pinglunw{ width:18px; height:18px; margin-top:102px; margin-left:280px; position:absolute}
.pinglune{ width:18px; height:18px; margin-top:102px; margin-left:340px; position:absolute}
.ssq{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:250px}
.ssw{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:308px}
.sse{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:364px}


.tu2jiazi{ width:387px; height:230px;  float:left; margin-left:30px; margin-top:20px}
.xiakuai2{ width:387px; height:135px; background-color:#f8f8f8; margin-top:230px}
.jinkou2{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:16px; margin-left:10px}
.dache2{ color:#808080; font-size:16px; position:absolute; margin-top:68px; margin-left:45px}
.pinglun2{ width:18px; height:18px; margin-top:102px; margin-left:225px; position:absolute}
.pinglunw2{ width:18px; height:18px; margin-top:102px; margin-left:280px; position:absolute}
.pinglune2{ width:18px; height:18px; margin-top:102px; margin-left:340px; position:absolute}
.ssq2{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:250px}
.ssw2{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:308px}
.sse2{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:364px}



.tu3jiazi{ width:387px; height:230px;  float:left; margin-left:30px; margin-top:20px}
.xiakuai3{ width:387px; height:135px; background-color:#f8f8f8; margin-top:230px}
.jinkou3{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:16px; margin-left:10px}
.dache3{ color:#808080; font-size:16px; position:absolute; margin-top:68px; margin-left:45px}
.pinglun3{ width:18px; height:18px; margin-top:102px; margin-left:225px; position:absolute}
.pinglunw3{ width:18px; height:18px; margin-top:102px; margin-left:280px; position:absolute}
.pinglune3{ width:18px; height:18px; margin-top:102px; margin-left:340px; position:absolute}
.ssq3{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:250px}
.ssw3{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:308px}
.sse3{ font-size:12px; color:#808080; position:absolute; margin-top:102px; margin-left:364px}

/*中间*/

.zhongneirong{ width:1260px; height:591px}
.zhongtu{ width:1225px; height:404px; position:relative; margin-left:17px; margin-top:20px}
.zdt{ width:1225px; height:404px; position:absolute}
.xiakuaiz{ width:1225px; height:187px; background-color:#f8f8f8; position: absolute; margin-top:404px}

.wow{ color:#4c4c4c; font-size:24px; position:absolute; margin-left:500px; margin-top:434px}
.mn{ color:#808080; font-size:20px; position:absolute; margin-top:500px; margin-left:160px}
.pl{ width:20px; height:20px; margin-top:550px; margin-left:820px; position:absolute}
.pl2{ width:20px; height:20px; margin-top:550px; margin-left:890px; position:absolute}
.pl3{ width:20px; height:20px; margin-top:550px; margin-left:950px; position:absolute}
.dtz{font-size:14px; color:#808080; position:absolute; margin-top:550px; margin-left:850px}
.dtz2{font-size:14px; color:#808080; position:absolute; margin-top:550px; margin-left:920px}
.dtz3{font-size:14px; color:#808080; position:absolute; margin-top:550px; margin-left:980px}

/*下文章*/


.hezi1{ width:1260px; height:182px; margin-left:30px;border-bottom: 1px #efefef solid; position:relative}
.chetu1{ width:214px; height:138px; margin-top:25px; position:absolute}
.biaoqian1{ width:56px; height:18px;  position:absolute; margin-left:237px; margin-top:25px}
.yihang{ width:350px; height:22px; font-size:16px; color:#4c4c4c; margin-left:320px; position:absolute; margin-top:25px}
.erhang{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:60px}
.sanhang{ width:200px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:84px}
.txq{ width:31px; height:31px; position:absolute; margin-top:130px;
       margin-left:235px}
.tyzy{ width:60px; height:16px; color: #808080; font-size:14px; margin-top:135px; margin-left:276px; position:absolute}
.fzq{ width:62px; height:16px; color: #808080; font-size:14px; position:absolute; margin-top:135px; margin-left:400px; }
.xpl{ width:18px; height:18px; position:absolute; margin-top:136px;
       margin-left:560px}
.szq{ width: 16px; height:16px;color: #808080; font-size:14px; margin-top:135px; margin-left:584px; position:absolute}
.scq{ width:18px; height:18px;  position:absolute; margin-top:136px;
        margin-left:624px}
.szw{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:648px; position:absolute}
.za{width:18px; height:18px; background-image: position:absolute; margin-top:136px;
         margin-left:690px}
.sze{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:730px; position:absolute}


.hezi2{ width:1260px; height:182px; margin-left:30px;border-bottom: 1px #efefef solid}
.chetu12{ width:214px; height:138px; margin-top:25px; position:absolute}
.biaoqian12{ width:56px; height:18px;  position:absolute; margin-left:237px; margin-top:25px}
.yihang2{ width:350px; height:22px; font-size:16px; color:#4c4c4c; margin-left:320px; position:absolute; margin-top:25px}
.erhang2{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:60px}
.sanhang2{ width:200px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:84px}
.txq2{ width:31px; height:31px; position:absolute; margin-top:130px;
       margin-left:235px}
.tyzy2{ width:60px; height:16px; color: #808080; font-size:14px; margin-top:135px; margin-left:276px; position:absolute}
.fzq2{ width:62px; height:16px; color: #808080; font-size:14px; position:absolute; margin-top:135px; margin-left:400px; }
.xpl2{ width:18px; height:18px; position:absolute; margin-top:136px;
       margin-left:560px}
.szq2{ width: 16px; height:16px;color: #808080; font-size:14px; margin-top:135px; margin-left:584px; position:absolute}
.scq2{ width:18px; height:18px;  position:absolute; margin-top:136px;
        margin-left:624px}
.szw2{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:648px; position:absolute}
.za2{width:18px; height:18px; background-image: position:absolute; margin-top:136px;
         margin-left:690px}
.sze2{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:-23px; margin-left:730px; position:absolute}

.jiazai{ width:149px; height:45px; background-color:#109ce6; margin:auto; margin-top:40px}
.gengduo{ color:#FFF; font-size:16px; text-align:center; padding-top:10px}



/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}


















































































