@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}


/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.shangguanggao{ width:1260px; height:175px; background-image: url(../images/%E6%99%BA%E9%A9%BE_02.gif);background-repeat:no-repeat; margin:auto}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}


/*轮播*/
.lunbo{ width:1260px; height:365px; background-image: url(../images/zhuanti/%E4%B8%93%E9%A2%98_03.png); background-repeat:no-repeat; margin:auto; position:relative}

.zizhu{ position:absolute; color:#FFF; font-size:24PX;margin-top:322px;margin-left: 91px}



/*上三图*/
.neirongqu{ width:1260px; height:1574px; margin:auto; background-color:#FFF; margin-top:17px}
.shangsantu{ width:1260px; height:385px}
.tu1jiazi{ width:387px; height:230px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_07.png); position:relative; float:left; margin-left:20px; margin-top:20px}
.xiakuai{ width:387px; height:135px; background-color:#f8f8f8; margin-top:230px}
.jinkou{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:250px; margin-left:10px}
.dache{ color:#808080; font-size:16px; position:absolute; margin-top:300px; margin-left:45px}
.pinglun{ width:143px; height:13px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_0s7.png); position:absolute; margin-top:335px; margin-left:225px}


.tu2jiazi{ width:387px; height:230px; background-image: url(../images/zhuanti/%E4%B8%93%E9%A2%98_09.png); position:relative; float:left; margin-left:30px; margin-top:20px}
.xiakuai2{ width:387px; height:135px; background-color:#f8f8f8; margin-top:230px}
.jinkou2{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:250px; margin-left:10px}
.dache2{ color:#808080; font-size:16px; position:absolute; margin-top:300px; margin-left:45px}
.pinglun2{ width:143px; height:13px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_0s7.png); position:absolute; margin-top:335px; margin-left:225px}



.tu3jiazi{ width:387px; height:230px; background-image: url(../images/zhuanti/%E4%B8%93%E9%A2%98_11.png); position:relative; float:left; margin-left:30px; margin-top:20px}
.xiakuai3{ width:387px; height:135px; background-color:#f8f8f8; margin-top:230px}
.jinkou3{ color:#4c4c4c; font-size:20px; position:absolute; margin-top:250px; margin-left:10px}
.dache3{ color:#808080; font-size:16px; position:absolute; margin-top:300px; margin-left:45px}
.pinglun3{ width:143px; height:13px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_0s7.png); position:absolute; margin-top:335px; margin-left:225px}


/*中间*/

.zhongneirong{ width:1260px; height:591px}
.zhongtu{ width:1225px; height:404px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_16.png); position:relative; margin-left:17px; margin-top:20px}
.xiakuaiz{ width:1225px; height:187px; background-color:#f8f8f8; position: absolute; margin-top:404px}

.wow{ color:#4c4c4c; font-size:24px; position:absolute; margin-left:500px; margin-top:434px}
.mn{ color:#808080; font-size:20px; position:absolute; margin-top:500px; margin-left:160px}
.pl{ width:170px; height:17px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_072.png); position:absolute; margin-top:550px; margin-left:890px}



/*下文章*/


.hezi1{ width:1200px; height:182px; margin-left:30px;border-bottom: 1px #efefef solid; position:relative; margin-top:40px}
.chetu1{ width:214px; height:138px; background-image: url(../images/%E6%99%BA%E9%A9%BE_03.png);margin-top:25px; position:relative}
.biaoqian1{ width:56px; height:18px; background-image: url(../images/%E6%99%BA%E9%A9%BE_05_06.png); position:absolute; margin-left:237px; margin-top:2px}
.yihang{ width:350px; height:22px font-size:16px; color:#4c4c4c; margin-left:320px}
.erhang{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:25px}
.sanhang{ width:200px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:50px}
.tsp{ width:490px; height:36px; background-image:url(../images/%E6%99%BA%E9%A9%BE_06_06.png); background-repeat:no-repeat;margin-top: 90px;margin-left: 237px; position:absolute} 
.sp1{ width:274px; height:165px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_23.png); position:absolute;margin-left: 935px;margin-top: -30px}





.hezi2{ width:1200px; height:182px; margin-left:30px;border-bottom: 1px #efefef solid}
.chetu2{ width:214px; height:138px; background-image: url(../images/%E6%99%BA%E9%A9%BE_17.png);margin-top:45px; position:relative}
.biaoqian2{ width:56px; height:18px; background-image: url(../images/%E6%99%BA%E9%A9%BE_07.png); position:absolute; margin-left:237px; margin-top:2px}
.yihang2{ width:350px; height:22px font-size:16px; color:#4c4c4c; margin-left:320px}
.erhang2{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:25px}
.tsp2{ width:490px; height:36px; background-image:url(../images/%E6%99%BA%E9%A9%BE_06_06.png); background-repeat:no-repeat;margin-top: 90px;margin-left: 237px; position:absolute} 
.sp2{ width:274px; height:165px; background-image:url(../images/zhuanti/%E4%B8%93%E9%A2%98_23.png); position:absolute;margin-left: 935px;margin-top: -30px}

.jiazai{ width:149px; height:45px; background-color:#109ce6; margin:auto; margin-top:40px}
.gengduo{ color:#FFF; font-size:16px; text-align:center; padding-top:10px}



/*底部*/


.dibu{ width:100%; height:675px; background-color:#27303f; margin-top:17px}
.logozi{ width:1210px; height:290px; margin:auto; padding-top:57px; padding-left:20px;border-bottom: 1px #837e7e solid}
.dilogo{ width:225px; height:45px; background-image:url(../images/%E6%99%BA%E9%A9%BE_di.png); background-repeat:no-repeat}

.zuobian1{ font-size:14px; line-height:55px; padding-top:20px; float:left}
.zuobian2{ font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.zuobian3{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}

.zuobian4{  font-size:14px; line-height:55px; padding-top:20px; float:left; margin-left:166px}
.shurukuang{ width:244px; height:43px; color:#808080; }
.dingyue{ width:120px; height:44px; background-color:#109ce6; color:#FFF; border: 1px #109ce6 solid;padding-top: 1px;margin-left: -5px;} 

.zuobian5{ width:59px; height:19px; font-size:14px; line-height:55px; float:left; padding-top:20px; margin-left:-60px}
.dh{ color:#CCC; opacity:0.8}
.dh:hover{ color:#FFF; opacity:1}


.dixiaxiaozi{ width:1206px; height:224px; margin:auto;padding-top: 70px}
.diyixiao{ text-align:center; color:#CCC; line-height:50px; font-size:12px;}
.diyixiao:hover{ color:#FFF}


















































































