@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px}
li{list-style:none}
a{text-decoration:none}
img{border:none}

/*导航*/
.dabeijing{ width:100%; height:100%;;background-color:#dfdfdf}

/*左内容*/
.xsy{ color:#808080; width:40px;    margin-top: 20px;margin-left: 30px; position:relative}
.dy1{ width:14px; height:14px; position:absolute;margin-top: 4px;margin-left: 10px }
.bt{color:#808080; width:40px; position:absolute;    margin-left: 90px;  margin-top: -21px;}
.daneirong{ width:1260px; height:2600px; margin:auto; margin-top:17px}
.zuobeijing{ width:830px; height:2562px; background-color:#FFF; float:left}

/*图片加文字*/
.hezi{ width:750px; height:182px; margin-left:30px; margin-top:30px; border-bottom: 1px #efefef solid; position:relative}
.chetu{ width:214px; height:138px; margin-top:25px; position:relative}
.chetuimg{ width:214px; height:138px; float:left}
.biaoqian{dword-break:keep-all; white-space:nowrap; background-color: #0080ff; position:absolute; margin-left:237px; margin-top:2px}
.yihang{ width:350px; height:22px font-size:16px; color:#4c4c4c; margin-left:320px;  white-space:nowrap}
.erhang{ width:549px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:25px}
.sanhang{ width:200px; height:15px; font-size:15px; color:#808080; position:absolute; margin-left:237px; margin-top:50px}
.txq{ width:31px; height:31px; position:absolute; margin-top:90px; margin-left:20px}
.tyzy{ width:60px; height:16px; color: #808080; font-size:14px; margin-top:95px; margin-left:276px; position:absolute}
.fzq{ /* width:62px; */ height:16px; color: #808080; font-size:14px; position:absolute; margin-top:95px; margin-left:400px; white-space:nowrap;}
.xpl{ width:18px; height:18px; position:absolute; margin-top:96px; margin-left:345px}
.szq{ width: 16px; height:16px;color: #808080; font-size:14px; margin-top:95px; margin-left:584px; position:absolute}
.scq{ width:18px; height:18px;  position:absolute; margin-top:96px; margin-left:409px}
.szw{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:95px; margin-left:648px; position:absolute}
.za{width:18px; height:18px; position:absolute; margin-top:96px; margin-left:475px}
.sze{width: 16px; height:16px;color: #808080; font-size:14px; margin-top:95px; margin-left:715px; position:absolute}

.youhezi{ width:415px; height:1678px; float: left; margin-left:15px}
.guanggao1{ width:415px; height:133px; }

.youbeijing1{ width:415px; height:320px; background-color:#FFF; margin-top:17px;}
.biaoti1{ width:415px; height:66px}
.suxianyou1{ width:4px; height:20px; background-color:#e43a47; float:left; margin-left:20px; margin-top:26px}
.zhijiayou{ color:#666666; font-size:16px; float:left; margin-left:7px; margin-top:25px}
.quanbu1{ color:#808080; font-size:14px; float:left; margin-left:230px; margin-top:25px;}

.hot_tag {padding: 0 10px; padding-bottom: 10px; }
.bq{ display: block; border-radius: 5px; border:#e54e4e 1px solid; color:#e54e4e; padding: 6px 15px;  float:left; margin-left:15px; margin-top:15px; font-size: 14px;}
.bq:hover{ background-color:#e54e4e; color:#FFF}

.guanggao2{ width:415px; height:133px; margin-top:17px}

/*热点文章*/
.youbeijing2{ width:415px; height:885px; background-color:#FFF; margin-top:17px;}
.biaoti12{ width:415px; height:66px}
.suxianyou12{ width:4px; height:20px; background-color:#e43a47; float:left; margin-left:20px; margin-top:26px}
.zhijiayou2{ color:#666666; font-size:16px; float:left; margin-left:7px; margin-top:25px}
.quanbu12{ color:#808080; font-size:14px; float:left; margin-left:230px; margin-top:25px;}

.tujiazi{ width:355px; height:146px;border-bottom:1px #efefef solid;margin-left:30px;margin-top:17px;}
.tuxia{ width:154px; height:102px; position:relative}
.zixia1{width:160px; color:#4c4c4c; font-size:14px;margin-left:200px; margin-top:-100px; position:absolute}
.zixia2{ width:160px; color:#4c4c4c; font-size:14px; margin-top:-50px; margin-left:200px; position:absolute}

.guanggao3{ width:415px; height:133px; margin-top:22px}
