[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${targetUser.username}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="zixunMain clearfix">
    <div class="left">
      <div class="cmMLIns">
        <!--<div class="breadCast"><a href="${ctx}">首页</a><span>&gt;</span>作家中心</div>-->
        [@InfoPage userId=targetUser.id pageSize='8';pagedList]
        <span class="grwzT">文章(${(pagedList.totalElements)!'0'})</span>
        <div class="lList cmsHdmCon show">
        <ul>
        [#list pagedList.content as info]
        <li class="row">
            <div class="cmLstMd clearfix">
              <a href="${info.url}" class="cLMImg">
                <img src="${info.smallImageUrl}" />
              </a>
              <div class="cLMRit">
                [#list info.tagKeywords?split(',') as tagKeyword]
                [#if tagKeyword_index = 0][#assign tag = tagKeyword][/#if]
                [/#list]
                <div class="cRT1">
                  <a href="${ctx}/tagname/${tag?url}.jspx" class="tag[#if info_index % 4 = 0] blue[#elseif info_index % 4 = 1] green[#elseif info_index % 4 = 2] red[#else] yellow[/#if]">+ ${tag}</a>
                  <span class="cTT1"><a href="${info.url}">${info.title}</a></span>
                </div>
                <div class="cTT2">${substring(info.fullTitle,28,'...')!''}</div>
                <div class="cTT3">
                  <div class="c3tl">
                    <a href="${ctx}/creator/${info.creator.id}.jspx"><img src="${(info.creator.avatarSmall)!'${ctx}/template/global/avatar_small.jpg'}" />${(info.author)!(info.creator.realName)}</a>
                  </div>
                  <span class="c3tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
                  <a class="bts zns">${info.diggs}</a>
                  <a class="bts sts">${info.favs}</a>
                  <a class="bts mes">${info.comments}</a>
                </div>
              </div>
            </div>
        </li>
        [/#list]
        </ul>
        <table class="pagging"><tr><td>
            [#include 'page.html'/]
        </td></tr></table>
        [/@InfoPage]
      </div>
    </div>
    </div>

    <div class="right">
      <div class="authorMd">
        <div class="inc">
          <div class="rtp">
            <a href="${ctx}/creator/${targetUser.id}.jspx" class="wzMlimg">
              <img src="${(targetUser.avatarLarge)!'${ctx}/template/global/avatar_large.jpg'}">
            </a>
            <div class="wzMrt">
              <div style="margin:auto;">
              <span class="cTt1 slice">${(targetUser.realName)!'未知'}</span>
                [#if targetUser.bio??]
              <span class="cTt2">${targetUser.bio}</span>
                [/#if]
              </div>
            </div>
          </div>
          [@InfoList userId=targetUser.id;list]
          <div class="wzgs"><a href="${ctx}/creator/${targetUser.id}.jspx">专栏作者</a><span>|</span><a href="${ctx}/creator/${targetUser.id}.jspx">${(list?size)!'0'}篇文章</a></div>
          [/@InfoList]
          <!--<div class="btRs">
            <a href="#" class="btns">与他沟通</a>
            <a class="bts zns">15</a>
            <a class="bts sts">5</a>
            <a class="bts mes">27</a>
          </div>-->
        </div>
      </div>

      <div class="rtCmMd">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热门标签</span>
            <a href="${ctx}/tag.jspx">全部</a>
          </div>
          <div class="hotTag">
          [@TagList sort='refers desc' limit='10';list]
          [#list list as tag]
            <a href="${ctx}/tag/${tag.id?url}.jspx">${tag.name}</a>
          [/#list]
          [/@TagList]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]