<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link href="css/chuangkezi.css"rel="stylesheet" type="text/css" /> 
</head>

<body>




<div class="dabeijing">
     
     
          <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="chuangke.html"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>
          




                                    <div class="shangbu">
                                         <div class="shangzuo">
                                               <img class="tq" src="images/chuangkezi/创客详情_03.png" />
                                               <div class="nnqc">牛牛汽车</div>
                                               	<div class="czx">发布时间 : 2015-3-8</div>
                                               <div class="czxq">汽车</div>
                                               <div class="czxw">工具软件</div>
                                               <div class="czxe">电子商务</div>
                                               <div class="czxr">其他</div>
                                               <div class="czxt">牛牛汽车是全国领先的新车B2B交易平台</div>
                                         </div>
                                         
                                         
                                         
                                               <div class="shangyou">
                                                   
                                                       <p class="fenxiang">分享</p>
                                                        <a href="#"><img class="wx" src="images/chuangkezi/创客详情_06.png" /></a>
                                                        <a href="#"><img class="qq" src="images/chuangkezi/创客详情_08.png" /></a>
                                                        <a href="#"><img class="xl" src="images/chuangkezi/创客详情_10.png" /></a>
                                               
                                               
                                               </div>
                                         
                                         
                                         
                                         
                                      </div>
   
                                                 
                                         
                                         
                                         
                                         
                                    
                                                           <div class="zhongneirongqu">
                                                           
                                                           
                                                                     <div class="zuobian">
                                                                     
                                                                         <ul class="erji">
                                                                                                        
                                                                                    
                                                                             <a href="#q"><li class="zuixin zxb">产品简介</li></a>
                                                                             <a href="#w"><li class="zuixin zxc">竞争优势</li></a>
                                                                             <a href="#e"><li class="zuixin cp">产品成绩</li></a>
                                                                             <a href="#r"><li class="zuixin bf">发表评论</li></a>
                                                                                       
                                                                                    
                                                                         </ul>
                                                                           
                                                                      
                                                                                 <img class="datu" src="images/chuangkezi/创客详情_17.png">
                                                                      
                                                                                   <div class="ziq">牛牛汽车成立于2014年，是目前全国最大的、服务能力最全的新车B2B交易平台，用户为全国范围的新车经</div>
                                                                                   <div class="ziw">销商，认证商户已达6万余家，覆盖近六成全国汽销网络。</div>
                                                                                   <div class="zie">牛牛汽车可为全国新车商户提供新车交易、物流服务、金融服务、保险服务、定制车代理等多项产品，覆盖</div>
                                                                                   <div class="zir">新车全产业链的各项服务，并已逐渐成为中小城市二网汽贸店在车辆采购及服务采购的指定供应商平台。</div>
                                                                                   <div class="zit">目前已与近2000家二网汽贸店形成战略合作关系，并已实现自最上游货源端至最下游落地点的业务贯通。</div>
                                                                      
                                                                                     
                                                                                     
                                                                                     <div class="sanji">
                                                                                        <a name="q"></a><div class="cpjj">产品简介</div>
                                                                                       
                                                                                     </div>
                                                                      
                                                                                   
                                                                      
                                                                                   <div class="jziq">新车经销商市场的痛点在，找到更便宜的车很难、快速批量消化库存很难、确认交易对手的信誉度很难、实</div>
                                                                                   <div class="jziw">现安全可靠和便捷的交易也很难，这是牛牛汽车的主要业务。</div>
                                                                      
                                                                               
                                                                                    <div class="qji">
                                                                       
                                                                                  <a name="w"></a><div class="jzys">竞争优势</div>
                                                                                     </div>
                                                                                      
                                                                                    <div class="sx">1.上线至今，已经聚集了超过4万家汽车经销商的入驻，app注册覆盖全国31个省，160多个市。</div> 
                                                                                     <div class="tg">2.提供海量自营车源、准户寻车、资源查询、车源精准报价、安全交易担保等服务，时时的车源数超过20万辆。</div>
                                                                                    <div class="tgc">3.通过撮合（大多撮合一级与三级经销商）+自营的方式，收取进销差价和服务费，目前，平台月平均交易200</br>0~3000辆。</div>
                                                                           
                                                                      
                                                                      
                                                                                       <div class="siji">
                                                                                        <a name="e"></a><div class="cpcj">产品成绩</div>
                                                                                       
                                                                                     </div>
                                                                      
                                                                                         
                                                                                        <div class="sxq">1.上线至今，已经聚集了超过4万家汽车经销商的入驻，app注册覆盖全国31个省，160多个市。</div> 
                                                                                       <div class="tgq">2.提供海量自营车源、准户寻车、资源查询、车源精准报价、安全交易担保等服务，时时的车源数超过20万辆。</div>
                                                                                      <div class="tgcq">3.通过撮合（大多撮合一级与三级经销商）+自营的方式，收取进销差价和服务费，目前，平台月平均交易200</br>0~3000辆。</div>
                                                                      
                                                                      
                                                                                         <div class="wuji">
                                                                                        <a name="r"></a><div class="fbpl">发表评论</div>
                                                                                       
                                                                                         </div>
                                                                     
                                                                     
                                                                     
                                                                     
                                                                       <form>
                                                       
                                                           <textarea class="pinglun"></textarea> 
                                                     
                                                
                                                                      </form>
                                                 
                                                                             <a href="#"><div class="fabiaopinglun">发表评论</div></a>              
                                                                     
                                                                     
                                                                      
                                                                      
                                                                     </div>
                                                           
                                                           
                                                           
                                                           
                                                           
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              <div class="youbian">
                                                              
                                                                      <div class="erjiw">
                                                                            <div class="fbplw">团队介绍</div>
                                                                                    
                                                                      </div>
                                                               
                                                                      <div class="csr">创始人：</div>
                                                                      <div class="cj">陈琰俊</div>
                                                                      <div class="jj">简介：</div>
                                                                      <div class="jjz">陈琰俊，上海交大硕士毕业，永达投资集团</div>
                                                                      <div class="jjzz">投研部总监，永达汽车。运营中心销售总监。</div>
                                                              
                                                                           
                                                                           
                                                                           <div class="erjiwe">
                                                                            <div class="fbplwe">公司信息</div>
                                                                                    
                                                                           </div> 
                                                              
                                                                            
                                                              
                                                                          <div class="gsxx">公司：</div>
                                                                            <div class="gs">上海爱擎网络科技有限公司</div>
                                                                             <div class="wz">网址：</div>
                                                                             <div class="wzz">http://www.niuniuqiche.co..</div>
                                                                                <div class="rz">融资：</div>
                                                                                <div class="rzz">A轮</div>
                                                                                <div class="zjzb">中骏资本、九合创投|￥1050万</div>
                                                                                <div class="yg">员工：</div>
                                                                                  <div class="ygz">15~20人</div>
                                                                                <div class="dz">地址：</div>
                                                                                <div class="dzz">上海市</div>
                                                                                <div class="cl">成立时间：</div>
                                                                                <div class="clz">2014-09-24</div>
                                                                                <div class="lx">公司类型：</div>
                                                                                <div class="lxz">有限责任公司</div>
                                                              
                                                              
                                                              
                                                                    <div class="erjiwer">
                                                                            <div class="fbplwer">公司报道</div>
                                                                    </div> 
                                                              
                                                              
                                                              
                                                                      <div class="wujiaoq"></div>
                                                                        <a href="#"><div class="xxq">如何实现一分钟来电弹屏</div></a>
                                                                         <div class="wujiaow"></div>
                                                                           <a href="#"><div class="xxw">天母蓝鸟：连锁企业做运维，先破</div></a>
                                                              
                                                                             <div class="wujiaowe"></div>
                                                                              <a href="#"><div class="xxwe">诺普信：让IT运维服务与企业业务发展</div></a>
                                                              
                                                                                <div class="wujiaor"></div>
                                                                                    <a href="#"><div class="xxwer">易维帮助台，弥补木桶效应的那块短板</div></a>
                                                                                     
                                                                                        <div class="wujiaot"></div>
                                                              
                                                                                            <a href="#"><div class="xxwert">互联网时代，企业凭什么重新定义客户</div></a>
                                                              
                                                              
                                                              
                                                              
                                                                
                                                                      <a href="ganxingqu.html"><div class="ganxingqu">对TA感兴趣 </div></a>
                                                                              
                                                                         
                                                                          <a href="#"><div class="zuozan"></div></a>
                                                                          <a href="#"><div class="youzan"></div></a>
                                                                          
                                                                      <div class="huise"></div>
                                                              
                                                              
                                                              
                                                                      <a href="fabuchuangye.htm"><div class="lanse">发布创业项目 <div class="shizi"></div>   </div></a>
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                                </div>
                                                           
                                                           
                                                           
                                                           
                                                           
                                                            </div>
                                                           
                                                           
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              
                                                            
                                                           <div class="dibu">
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li></a>
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                             </div>
                                                                  

                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                          

                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                                                                                      
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           
                                                           


</div>



</body>
</html>
