[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="chuangkeMain clearfix">
    <a href="#" class="tpBigImgs">
	  <img src="_files/zhijia/img/dm40.jpg">
	  <div class="tt slice_span"><span>高品质低油耗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;试驾荣威e950</span></div>
	</a>
    <div class="cons">
      <div class="topsRow">
        <a class="axm">全部项目</a>
        <input type="button" value="" class="scBtn" />
        <input type="text" class="scIpt" placeholder="请输入关键字" />
        <a href="#" class="rLk">申请创业报道</a>
      </div>
      <div class="optRow">
        <span class="lts">行业</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>医疗健康</a>
          <a>消费生活</a>
          <a>企业服务</a>
          <a>社交</a>
          <a>媒体资讯</a>
          <a>房产</a>
          <a>金融投资</a>
          <a>旅游</a>
          <a>法律</a>
          <a>汽车</a>
          <a>教育</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">融资</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>未融资</a>
          <a>天使轮</a>
          <a>Pre-A</a>
          <a>A轮</a>
          <a>B轮</a>
          <a>C轮</a>
          <a>D轮</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">排序</span>
        <div class="rtC tagCmHdm">
          <a class="on">按时间排序</a>
          <a>按热度排序</a>
        </div>
      </div>
      
      <div class="con">
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="_files/zhijia/img/dm39.jpg">
        </a>
        <span class="tt1 slice">邮洽</span>
        <span class="tt2 slice">商务职场精英人士移动办公必备APP，支持所有企业</span>
        <span class="tt3 slice">行业：工具软件&nbsp;&nbsp;&nbsp;&nbsp;所在地：厦门市&nbsp;&nbsp;&nbsp;&nbsp;融资阶段：天使轮</span>
      </div>
      </div>
      <div class="cmLoadMore"><a>查看更多</a></div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]