[#escape x as (x)!?html]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${node.name}_${site.fullNameOrName}</title>
<link href="_files/zhijia/chuangke.css" rel="stylesheet" type="text/css" />
<link href="_files/jquery.slideBox.css" rel="stylesheet" />
[#include 'inc_js.html'/]
</head>
<body>
<div class="dabeijing">
[#include 'inc_header.html'/]
    <div class="lunbo slideBox">
        [@InfoList node='slide_big' attr='focusphoto' limit='3';list]
        <ul class="items">
        [#list list as info]
        <li>
            <a href="${info.url}" title="${info.title}" target="_blank">
                <img class="lb" src="${info.attrImageUrl}" />
            </a>
            <a href="${info.url}"><p class="zizhu">${info.title}</p></a>
        </li>
        [/#list]
        </ul>
        [/@InfoList]
    </div>
    <div class="erji">
        <li class="zuixin">全部</li>
        <li class="fdj2"></li>
        <li class="suxian12"></li>
        <form>
            <input class="shuru2" type="text" value="请输入关键字"
                onfocus="if (value =='请输入关键字'){value =''}"
                onblur="if (value ==''){value='请输入关键字'}" />
        </form>
        <li class="suxian22"></li>
    </div>
    <div class="hangye">
        <ul class="hangyezi">
            <li class="hangneizi">行业</li>
            <li class="hangneizi">全部</li>
            <li class="hangneizi yl">医疗健康</li>
            <li class="hangneizi yl">消费生活</li>
            <li class="hangneizi yl">企业服务</li>
            <li class="hangneizi yl">社交</li>
            <li class="hangneizi yl">媒体资讯</li>
            <li class="hangneizi">房产</li>
            <li class="hangneizi yl">金融投资</li>
            <li class="hangneizi">旅游</li>
        </ul>
    </div>
    <div class="hangye">
        <ul class="hangyezi">
            <li class="hangneizi">融资</li>
            <li class="hangneizi">全部</li>
            <li class="hangneizi">未融资</li>
            <li class="hangneizi">天使轮</li>
            <li class="hangneizi">Pre-A</li>
            <li class="hangneizi">A轮</li>
            <li class="hangneizi">B轮</li>
            <li class="hangneizi">C轮</li>
            <li class="hangneizi">D轮</li>
        </ul>
    </div>
    <div class="hangye3">
        <li class="hangneizi13">排序</li>
        <li class="hangneizi33">按时间排序</li>
        <li class="hangneizi33">按时间排序</li>
    </div>
    <div class="neirongqu">
        <ul class="neirongzuo1">
            <a href="chuangkezi.html">
                <img class="neitu1" src="_files/zhijia/img/chuangke/ck_07.png" /></a>
            <li class="xiakuai1">
                <a href="chuangkezi.html"><p class="youqia1">邮洽</p></a>
                <a href="chuangkezi.html"><p class="shangwuzhichang1">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="chuangkezi.html"><p class="xiao1">行业：工具软件</p></a>
                <a href="chuangkezi.html"><p class="xiao11">所在地：厦门市</p></a>
                <a href="chuangkezi.html"><p class="xiao111">融资阶段：天使轮</p></a>
            </li>
            <a href="#">
                <img class="neitu2" src="_files/zhijia/img/chuangke/ck_09.png" /></a>
            <li class="xiakuai12">
                <a href="#"><p class="youqia12">Bugtags</p></a>
                <a href="#"><p class="shangwuzhichang12">移动时代首选缺陷发现及管理平台，高效提升应用.</p></a>
                <a href="#"><p class="xiao12">行业：工具软件</p></a>
                <a href="#"><p class="xiao112">所在地：北京市</p></a>
                <a href="#"><p class="xiao1112">融资阶段：天使轮</p></a>
            </li>
            <a href="#">
                <img class="neitu3" src="_files/zhijia/img/chuangke/ck_11.png" /></a>
            <li class="xiakuai13">
                <a href="#"><p class="youqia13">喵咚家</p></a>
                <a href="#"><p class="shangwuzhichang13">互联网家装公司，建材材料及施工服务提供商</p></a>
                <a href="#"><p class="xiao13">行业：消费生活</p></a>
                <a href="#"><p class="xiao113">所在地：苏州市</p></a>
                <a href="#"><p class="xiao1113">融资阶段：A轮</p></a>
            </li>
        </ul>
        <ul class="neirongzuo2">
            <a href="#">
                <img class="neituw" src="_files/zhijia/img/chuangke/ck_19.png" /></a>
            <li class="xiakuaiw">
                <a href="#"><p class="youqiaw">邮洽</p></a>
                <a href="#"><p class="shangwuzhichangw">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaow">行业：工具软件</p></a>
                <a href="#"><p class="xiaoww">所在地：厦门市</p></a>
                <a href="#"><p class="xiaowww">融资阶段：天使轮</p></a>
            </li>
            <a href="#">
                <img class="neitue" src="_files/zhijia/img/chuangke/ck_17.png" /></a>
            <li class="xiakuaie">
                <a href="#"><p class="youqiae">邮洽</p></a>
                <a href="#"><p class="shangwuzhichange">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaoe">行业：工具软件</p></a>
                <a href="#"><p class="xiaoee">所在地：厦门市</p></a>
                <a href="#"><p class="xiaoeee">融资阶段：天使轮</p></a>
            </li>
            <a href="#">
                <img class="neitur" src="_files/zhijia/img/chuangke/ck_19.png" /></a>
            <li class="xiakuair">
                <a href="#"><p class="youqiar">邮洽</p></a>
                <a href="#"><p class="shangwuzhichangr">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaor">行业：工具软件</p></a>
                <a href="#"><p class="xiaorr">所在地：厦门市</p></a>
                <a href="#"><p class="xiaorrr">融资阶段：天使轮</p></a>
            </li>
        </ul>
        <ul class="neirongzuo3">
            <a href="#">
                <img class="neituz" src="_files/zhijia/img/chuangke/ck_22.png" /></a>
            <li class="xiakuaiz">
                <a href="#"><p class="youqiaz">邮洽</p></a>
                <a href="#"><p class="shangwuzhichangz">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaoz">行业：工具软件</p></a>
                <a href="#"><p class="xiaozz">所在地：厦门市</p></a>
                <a href="#"><p class="xiaozzz">融资阶段：天使轮</p></a>
            </li>
            <a href="#">
                <img class="neitux" src="_files/zhijia/img/chuangke/ck_27.png" /></a>
            <li class="xiakuaix">
                <a href="#"><p class="youqiax">邮洽</p></a>
                <a href="#"><p class="shangwuzhichangx">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaox">行业：工具软件</p></a>
                <a href="#"><p class="xiaoxx">所在地：厦门市</p></a>
                <a href="#"><p class="xiaoxxx">融资阶段：天使轮</p></a></li>
            <a href="#">
                <img class="neituc" src="_files/zhijia/img/chuangke/ck_30.png" /></a>
            <li class="xiakuaic">
                <a href="#"><p class="youqiac">邮洽</p></a>
                <a href="#"><p class="shangwuzhichangc">商务职场精英人士移动办公必备APP，支持所有企业</p></a>
                <a href="#"><p class="xiaoc">行业：工具软件</p></a>
                <a href="#"><p class="xiaocc">所在地：厦门市</p></a>
                <a href="#"><p class="xiaoccc">融资阶段：天使轮</p></a>
            </li>
        </ul>
        <a href="#"><div class="jiazaigengduo">加载更多</div></a>
    </div>
[#include 'inc_footer.html'/]
</div>
</body>
<script type="text/javascript">
    jQuery(function($) {
        $('.lunbo').slideBox({
            hideClickBar : true, //自动隐藏点选按键
        });
</script>
</html>
[/#escape]
