<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
 <link href="css/danchexing.css" rel="stylesheet" type="text/css" /> 

</head>

<body>



<div class="dabeijing">
       
     
     
          <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="chuangke.html"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>
          
     

                                         
                                           <div class="neirongqu">
                                           
                                           
                                                   <div class="zuobian">
                                           
                                                        <div class="fanhui">
                                                             <a href="index.html"><p class="xsy">首页</p></a>
                                                             <img class="fanhui1" src="images/danchexing/单个车型页面_0347_03.png" />
                                                             <a href="suoyouche.html"><p class="suoyou">所有车型</p></a>
                                                             <img class="fanhui2" src="images/danchexing/单个车型页面_0347_03.png" />
                                                             <a href="#"><p class="rav4">RAV4荣放</p></a>
                                                        </div>
                                           
                                                      
                                                                 <img class="biaozhi" src="images/danchexing/单个车型页面_03.png" />
                                           
                                           
                                                                    <a href="#"><img class="zuodatu" src="images/danchexing/单个车型页面_07.png" /></a>
                                           
                                           
                                                                         <div class="rtu">
                                                                               <a href="#"><img class="tuq" src="images/danchexing/单个车型页面_19.png" /></a>
                                                                               <a href="#"><img class="tuw" src="images/danchexing/单个车型页面_19.png" /></a>
                                                                               <a href="#"><img class="tue" src="images/danchexing/单个车型页面_19.png" /></a>
                                                                               <a href="#"><img class="tuz" src="images/danchexing/单个车型页面_19.png" /></a>
                                                                         </div>
                                           
                                                                                              
                                                                                  <div class="wenzhangsuxian"> 
                                                                                     <div class="suxian"></div>
                                                                                     <div class="wenzhangbiaoti">相关文章</div>   
                                                                                          
                                                                                   </div> 
                                           
                                                                                          <div class="hezi1">
                                                                                    
                                                                                              <a href="#"><img class="chetu1" src="images/智驾_03.png" /></a>
                                                                                              <a href="quanbubiaoqian.htm"><img class="biaoqian1" src="images/智驾_05_06.png" /></a>
                                                                                                 <a href="#"><b><p class="yihang">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                                                                                                 <a href="#"><p class="erhang">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a> 
                                                                                                 <a href="#"><p class="sanhang">竞争的新局面。</p></a>
                                                                                                 <a href="#"><img class="txq" src="images/danbiaoqian/单标签列表_03.png" /></a>
                                                                                                 <a href="#"><p class="tyzy">天佑左右</p></a>
                                                                                                 <a href="#"><p class="fzq">15分钟前</p></a>
                                                                                                 <a href="#"><img class="xpl" src="images/danbiaoqian/单标签列表_06.png" /></a>
                                                                                                 <a href="#"><p class="szq">27</p></a>
                                                                                                 <a href="#"><img class="scq" src="images/danbiaoqian/单标签列表_08.png" /><</a>
                                                                                                 <a href="#"><p class="szw">5</p></a>
                                                                                                 <a href="#"><img class="za" src="images/danbiaoqian/单标签列表_11.png" /></a> 
                                                                                                 <a href="#"><p class="sze">15</p></a>
                                                                                              
                                                                                    
                                                                                              </div>
                                                                                    
                                                                                 
                                                                                
                                                                                     
                                                                                                         
                                                                                                        
                                                                                                                               
                                                                                                         
                                                                                                         
                                                                                                     <div class="hezi2">
                                                                                    
                                                                                              <a href="#"><img class="chetu12" src="images/智驾_03.png" /></a>
                                                                                              <a href="quanbubiaoqian.htm"><img class="biaoqian12" src="images/智驾_05_06.png" /></a>
                                                                                                 <a href="#"><b><p class="yihang2">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                                                                                                 <a href="#"><p class="erhang2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a> 
                                                                                                 <a href="#"><p class="sanhang2">竞争的新局面。</p></a>
                                                                                                 <a href="#"><img class="txq2" src="images/danbiaoqian/单标签列表_03.png" /></a>
                                                                                                 <a href="#"><p class="tyzy2">天佑左右</p></a>
                                                                                                 <a href="#"><p class="fzq2">15分钟前</p></a>
                                                                                                 <a href="#"><img class="xpl2" src="images/danbiaoqian/单标签列表_06.png" /></a>
                                                                                                 <a href="#"><p class="szq2">27</p></a>
                                                                                                 <a href="#"><img class="scq2" src="images/danbiaoqian/单标签列表_08.png" /><</a>
                                                                                                 <a href="#"><p class="szw2">5</p></a>
                                                                                                 <a href="#"><img class="za2" src="images/danbiaoqian/单标签列表_11.png" /></a> 
                                                                                                 <a href="#"><p class="sze2">15</p></a>
                                                                                              
                                                                                    
                                                                                            
                                                                                    
                                                                                 
                                                                                
                                                                                                         
                                                                                                         
                                                                                 
                                                                                
                                                                                                         </div>   
                                                                                                         
                                           
                                                                                           
                                           
                                                
                                                     <form>
                                                       
                                                           <textarea class="pinglun"></textarea> 
                                                     
                                                
                                                     </form>
                                                 
                                                
                                                   
                                                     <a href="#"><div class="fabiaopinglun">发表评论</div></a>
                                                
                                                
                                                         
                                                                                              
                                            
                                           
                                           
                                                   </div> 
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                  <div class="youbian"> 
                                         
                                          <div class="shangdiyi">
                                             <div class="suxianyou1"></div>
                                             <b><p class="peizhi">配置</p></b>
                                             <p class="cs">厂商指导价：</p>
                                             <div class="shuzi1"></div>
                                             <p class="jx">经销商报价：</p>
                                             <div class="shuzi2"></div>
                                             <div class="hezi"></div>
                                          
                                          </div>
                                  
                                  
                                                 <div class="shangdier">
                                                   <div class="suxianq"></div>
                                                   <b><p class="zhijiazhishu">智驾指数：</p></b>
                                                   <div class="xingxing1"></div>
                                                                                                                                                                
                                                                                                                                                                
                                                                                                                                                                
                                                                                                                                                                <a href="#"><img class="zhishuyuanq" src="images/sddsf.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuanw" src="images/sdzq.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuane" src="images/ssddzz.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuanr" src="images/sxgg.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuant" src="images/qqwwe.png" /></a>
                                                                                                                                                              <a href="#"><p class="bfsq">安全指数</p></a>  
                                                                                                                                                              <a href="#"><p class="bfsw">智能架控</p></a> 
                                                                                                                                                              <a href="#"><p class="bfse">驾驶操控</p></a> 
                                                                                                                                                              <a href="#"><p class="bfsr">舒适乐趣</p></a>
                                                                                                                                                              <a href="#"><p class="bfst">智能便利</p></a>    
                                                   
                                                   
                                                 </div>
                                  
                                     
                                  
                                                        <div class="shangdisan">
                                                   <div class="suxianqw"></div>
                                                   <b><p class="zhijiazhishuw">电动指数：</p></b>
                                                   <div class="xingxing1w"></div>
                                                                                                                                                                
                                                                                                                                                                
                                                                                                                                                                <a href="#"><img class="zhishuyuanqz" src="images/sddsf.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuanwz" src="images/sdzq.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuanez" src="images/ssddzz.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuanrz" src="images/sxgg.png" /></a>
                                                                                                                                                                <a href="#"><img class="zhishuyuantz" src="images/qqwwe.png" /></a>
                                                                                                                                                              <a href="#"><p class="bfsqz">安全指数</p></a>  
                                                                                                                                                              <a href="#"><p class="bfswz">智能架控</p></a> 
                                                                                                                                                              <a href="#"><p class="bfsez">驾驶操控</p></a> 
                                                                                                                                                              <a href="#"><p class="bfsrz">舒适乐趣</p></a>
                                                                                                                                                              <a href="#"><p class="bfstz">智能便利</p></a>
                                                 
                                                        </div>
                                  
                                  
                                  
                                  
                                  
                                                       <div  class="juxing1"></div>
                                  
                                                         <a href="#"><img class="guanggao" src="images/智驾_023.png" /></a>
                                  
                                                            <div class="juxing2"></div>
                                  
                                                                <div class="xcsp">
                                  
                                                                  <div class="suxianyou3"></div>
                                                                         <b><li class="zhijiayou2">新车视频</li></b>
                                                                                   <a href="#"><div class="quanbu3">全部</div></a>
                                  
                                  
                                                                </div>
                                  
                                           
                                                   
                                                                                                                                            
                                                                                                                                            
                                                                                                                                            
                                                                                                                                           
                                                                                                                                    
                                                                                                                                             <ul class="spt">
                                                                                                                                                <a href="#"><img class="spt1" src="images/智驾_475_47.png" /></a>
                                                                                                                                                <a href="#"><img class="spt2" src="images/智驾_47.png" /></a>
                                                                                                                                                <a href="#"><img class="spt3" src="images/智驾_24.png" /></a>
                                                                                                                                                <a href="#"><img class="spt4" src="images/智驾_47.png" /></a>
                                                                                                                                             
                                                                                                                                             
                                                                                                                                             </ul>
                                                   
                                                    
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  </div>        
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                           
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                          
                                           </div>










                                                                                       <div class="dibu">
                                                                                  
                                                                                  
                                                                                  
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li></a>
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                                                     </div>
                                                                  
































































































</div>




</body>
</html>
