<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/ganxingqu.css"rel="stylesheet" type="text/css" /> 
</head>

<body>




<div class="dabeijing">
     
     
          <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="chuangke.html"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>
          

                                
                                  
                                  
                                  
                                  <div class="neirong">
                                          <div class="baitiao"></div>
                                         <div class="miaoshu">公司描述</div>
                                       
                                       
                                       
                                                          <div class="erji">
                                                                                                        
                                                                                    
                                                              <li class="zuixin">公司名称：</li>
                                                              <li class="zx">上海爱擎网络科技有限公司</li>
                                                              
                                                                                       
                                                                                    
                                                          </div>
                                      
                                       
                                                                  <div class="sanji">
                                                                  
                                                                        <div class="gsjj">公司简介：</div>
                                                                        
                                                                       <div class="youq">   
                                                                        <li class="sh">上海爱擎网络科技有限公司成立于2014年8月，注册资金200万，是一牌汽</li>
                                                                        <li class="sh">家专业的模式新颖的汽车网络推广公司。主要为全国各品牌汽车4s店和车4</li>
                                                                        <li class="sh">经销商展厅提供车型，价格，渠道等各方面服务的平台。</li>
                                                                  
                                                                       </div>
                                                                  
                                                                  </div>
                                       
                                       
                                       
                                       
                                       
                                       
                                       
                                                                            <div class="siji">
                                                                  
                                                                        <div class="gsjjw">公司简介：</div>
                                                                        
                                                                       <div class="youqw">   
                                                                        <li class="shw">我们致力于打造一个新型的汽车销售平台，在未来几年快速成长为一个入我</li>
                                                                        <li class="shw">在互联网平台上稍具影响力的公司。公司秉承以员工价值为核心的宗旨时候</li>
                                                                        <li class="shw">视每个公司成员为家人，期待有能之士加入我们，共创公司美好明天。</li>
                                                                  
                                                                       </div>
                                                                  
                                                                           </div>
                                       
                                       
                                  
                                  
                                                          <div class="wuji">
                                                                                                        
                                                                                    
                                                              <li class="zuixinw">联系人：</li>
                                                              <li class="zxw">刘伟力</li>
                                                              
                                                                                       
                                                                                    
                                                          </div>
                                  
                                  
                                                                   <div class="liuji">
                                                                                                        
                                                                                    
                                                              <li class="zuixinwe">电话：</li>
                                                              <li class="zxwe">18653564564</li>
                                                              
                                                                                       
                                                                                    
                                                                  </div>
                                  
                                  
                                  
                                  
                                  
                                                                    <div class="qiji">
                                                                                                        
                                                                                    
                                                              <li class="zuixinwer">邮箱：</li>
                                                              <li class="zxwer">54655786954@qq.com</li>
                                                              
                                                                                       
                                                                                    
                                                                    </div>
                                                          
                                                          
                                                          
                                                          
                                                          
                                                             
                                                          
                                                           <a href="#"><div class="queren">确认</div></a>
                                                          
                                                          
                                                          
                                                          
                                                          
                                                          
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  </div>




























                                                             <div class="dibu">
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li></a> 
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                             </div>
                                                                  
                                                                  































































</div>







</body>
</html>
