<!DOCTYPE html>
<html><head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>个人中心-智驾网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2">
    <meta name="author" content="智驾网">
    <meta name="keywords" content="科技资讯,商业评论,明星公司,动态,宏观,趋势,创业,精选,有料,干货,有用,细节,内幕">
    <meta name="description" content="智驾网是一个有视角的、个性化商业资讯与交流平台，核心关注对象是包括公众公司与创业型企业在内的一系列明星公司">
    <meta name="base-static-url" content="https://statics.huxiu.com/w/mini">
        <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/build.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/right.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/messenger.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/messenger-theme-flat.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/vip-icon.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/nanoscroller.css">
    <link rel="stylesheet" type="text/css" href="gerenzhongxin_files/o.css">    <!--[if lt IE 9]>
    <script src="https://statics.huxiu.com/w/mini/static_2015/js/respond.min.js?v=201512091410"></script>
    <script src="https://statics.huxiu.com/w/mini/static_2015/js/html5shiv.min.js?v=201512091410"></script>
    <![endif]-->
    <link rel="apple-touch-icon" size="72x72" href="https://statics.huxiu.com/w/mini/static_2015/img/icon-ipad.png">
    <link rel="apple-touch-icon" size="114x114" href="https://statics.huxiu.com/w/mini/static_2015/img/icon-iphone4.png">
    <link rel="icon" href="https://statics.huxiu.com/w/mini/static_2015/img/favicon.ico">
    <link rel="icon" href="https://statics.huxiu.com/w/mini/static_2015/img/favicon.ico" type="image/x-icon">

    <script async src="gerenzhongxin_files/sensorsdata.js"></script><script src="gerenzhongxin_files/push.js"></script><script async src="gerenzhongxin_files/analytics.js"></script><script src="gerenzhongxin_files/hm.js"></script><script>
        var uid='1515864';
        var is_vip='';
        var huxiu_hash_code='d32b6ffa19f5d96a28a15d70ef235e57';
        var aid=0;

        var itemId = '-1';
        var signAna = '07eabacdc5257e4ade3558f8b28af1bc501f43af';
        var signTime = '1474881914';
        var productId = '6';
        var channel = 'huxiu';

        var cookiepre='HUXIU_016a_';
        var _hmt = _hmt || [];
        _hmt.push(['_setAccount', '324368ef52596457d064ca5db8c6618e']);
        var isLogin = "isLogin";
        _hmt.push(['_setCustomVar', 1, 'login', isLogin, 2]);
    </script>

<link charset="utf-8" rel="stylesheet" href="gerenzhongxin_files/jquery.css"></head>
<body style="background-color: rgb(223, 223, 223);">

          <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="#"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>



<div class="message-prompt"></div>

<script>
    function checkinput(){
        var input = $("#search-input").val();
        if(input ==  null || input == ''){
            return false;
        }
        return true;
    }
</script>
<div id="login-reg-warp" class="login-reg-warp-modal">

</div>
<div class="search-box" id="search-box">
    <i class="icon icon-search-close js-show-search-box"></i>

    <div class="search-content">

        <div class="search-input">
            <form role="search" method="get" action="/search.html" onsubmit="return checkinput()">
                <button type="submit"></button>
                <input placeholder="请输入关键字" name="s" id="search-input">
                            </form>
        </div>
        <div class="search-history hide" id="history">
            <span>我的搜索历史</span>
            <ul class="transition" id="history_ul">
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%95%B0%E7%A0%81">数码</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E7%A7%91%E6%8A%80">科技</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E7%A7%91%E6%8A%80">科技</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E4%BA%92%E8%81%94%E7%BD%91">互联网</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%B1%BD%E8%BD%A6%E4%B9%8B%E5%AE%B6">汽车之家</a></li>
            </ul>
            <div class="pull-right empty-history js-empty-history">清空历史</div>
        </div>
        <div class="search-history search-hot">
            <strong>热搜词</strong>
            <ul>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%95%B0%E7%A0%81">数码</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E7%A7%91%E6%8A%80">科技</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E4%BA%92%E8%81%94%E7%BD%91">互联网</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%B1%BD%E8%BD%A6%E4%B9%8B%E5%AE%B6">汽车之家</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=Uber">Uber</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%94%AF%E4%BB%98%E5%AE%9D">支付宝</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E5%A4%A7%E6%95%B0%E6%8D%AE">大数据</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E5%88%9B%E4%B8%9A">创业</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E6%97%85%E6%B8%B8">旅游</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E7%BE%8E%E5%9B%A2">美团</a></li>
                <li class="transition"><a href="https://www.huxiu.com/search.html?s=%E7%A4%BE%E4%BA%A4">社交</a></li>
            </ul>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
    <style>
        .search-box{
            background-color: #fff !important;
        }
        header .header-column{
            background-color: #fff !important;
        }
        header .navbar-right,header .navbar-left{
            margin-top: -15px;
        }
        .icon-search{
            position: relative;
            top: 18px;
        }
        body{
            border: none;
        }
        .praise-box-add,.icon-like-prompt,.icon-no-like-prompt{
            display: none;
        }
    </style>

<![endif]-->
<script>
    var page = 'member';
</script>

<div class="container per_center per_center_body" id="per_center">
    <div class="user-info-warp">
        <div class="user-head-box">
            <div class="user-face">
                <img src="gerenzhongxin_files/1.jpg">
            </div>
            <div class="user-name">
                FZJ                <a href="https://www.huxiu.com/vip" target="_blank"></a>
            </div>
            <div class="user-one">
                <span class="show-span show-yijuhua">
                                            <span class="show-span js-edit-one">添加一句话介绍</span>
                                    </span>
                <span class="hide-edit hide">
                    <input class="" maxlength="15" value=" " id="yijuhua" placeholder="一句话介绍"><br>
                </span>
                                <span class="hide-edit js-save-one hide">保存</span>
                <span class="hide-edit hide js-edit-one">&nbsp;&nbsp;取消</span>
            </div>
            
                            <a href="https://www.huxiu.com/vip" class="btn btn-user-edit btn-huxiu-vip">申请成为专栏作者</a>
                    </div>
        <div class="user-info-box">
            <div class="col-lg-5">
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    公司：<span class="c2">未填写</span>                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    职业：<span class="c2">未填写</span>                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    邮箱：<span class="c2">未填写</span>                </div>
            </div>
            <div class="col-lg-7">
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    微博：<span class="c2">未填写</span>                </div>
                <div class="user-info">
                    <i class="icon icon-user-point"></i>
                    微信：<span class="c2">未填写</span>                </div>
                            </div>
            <div class="btn-box">

                <a href="xiugaiziliao.htm" class="btn btn-user-edit pull-right">修改基础资料</a>
                
                <a href="javascript:" class="js-sea-more-info more-info">更多<span class="caret"></span></a>
            </div>
            <div class="more-user-info-box grade-warp">
                <span>年级：<i class="icon icon-level icon-grade00"></i></span><span>经验值：5</span>
                <span>嗅豆：50枚</span>
                            </div>
        </div>
    </div>
    <div id="user_menu" name="user_menu"></div>
    <div class="user-menu-warp">
        <div class="menu-warp">
            <ul>
                <li class="active"><a href="https://www.huxiu.com/member/1515864/message.html#menu">
                        我的消息</a>
                </li>
                                <li class=""><a href="https://www.huxiu.com/member/1515864/post.html#menu">我的评论</a></li>
                <li class=""><a href="https://www.huxiu.com/member/1515864/favorite.html#menu">我的收藏</a></li>
                <li class=""><a href="https://www.huxiu.com/member/1515864/favorite_topic.html#menu">我的关注</a></li>
                <li class=""><a href="https://www.huxiu.com/member/1515864/order.html#menu">我的订单</a></li>
                            </ul>
        </div>

        <div class="user-content-warp">
    <ul class="nav-box">
        <li class="active"><a href="https://www.huxiu.com/member/1515864/message.html#menu">评论回复<span class="badge comment_message"></span></a></li>
        <li><a href="https://www.huxiu.com/member/1515864/systemnotice.html#menu">系统消息<span class="badge system_message"></span></a></li>
        <li><a href="https://www.huxiu.com/member/1515864/privatemsg.html#menu">私信<span class="badge private_message"></span></a></li>
    </ul>
        <div class="no-content-prompt">
        您还没有消息
    </div>
    </div>    </div>
</div>


<script type="text/javascript" src="gerenzhongxin_files/jquery-1.js"></script>
<script type="text/javascript" src="gerenzhongxin_files/jquery.js"></script><!--埋点统计-->
<script type="text/javascript" src="gerenzhongxin_files/sea.js"></script>
<script>
    var base_static_url = $('meta[name="base-static-url"]').attr('content');
    seajs.config({
        base: (!!base_static_url) ? base_static_url + '/static_2015/js/' : '/static_2015/js/',
        comboSyntax: ['??', ','],
        alias: {
            'jquery': 'jquery-1.11.1.min',
            'bootstrap': 'bootstrap.min',
            'sea_combo_flush': 'sea_combo_flush.js',
            'cookie': 'jquery.cookie',
            's_css': 'seajs_css'
        },
        'map': [
            [/^(.*\.(?:css|js))(.*)$/i, '$1?2016092218340']
        ],
        charset: 'utf-8'
    });
    seajs.use(['init']);
</script>
<script type="text/javascript" src="gerenzhongxin_files/seajs_css.js"></script>

<!--[if lt IE 10]>
<script type="text/javascript">

    if( !('placeholder' in document.createElement('input')) ){
        $('input[placeholder],textarea[placeholder]').each(function(){
            var that = $(this),
                text= that.attr('placeholder');
            if(that.val()===""){
                that.val(text).addClass('placeholder');
            }
            that.focus(function(){
                if(that.val()===text){
                    that.val("").removeClass('placeholder');
                }
            })
                .blur(function(){
                    if(that.val()===""){
                        that.val(text).addClass('placeholder');
                    }
                })
                .closest('form').submit(function(){
                    if(that.val() === text){
                        that.val('');
                    }
                });
        });
    }

    function hasClass(element, className) {
        var reg = new RegExp('(\\s|^)'+className+'(\\s|$)');
        return element.className.match(reg);
    }
    function addClass(element, className) {
        if (!this.hasClass(element, className))
        {
            element.className += " "+className;
        }
    }
    function removeClass(element, className) {
        if (hasClass(element, className)) {
            var reg = new RegExp('(\\s|^)'+className+'(\\s|$)');
            element.className = element.className.replace(reg,' ');
        }
    }
    var search = document.getElementById('search-box');
    addClass(search, 'search-box-last');
    addClass(search, 'hide');
</script>
<![endif]-->



<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>



  <div class="dibu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li></a> 
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                             </div>
                                                                                           


</body></html>