[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href='_files/zhijia/css/jedate.css' rel='stylesheet' type='text/css'>
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<link href="${ctx}/static/vendor/ueditor/third-party/video-js/video-js.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jedate.js"></script>
<script type="text/javascript" src="_files/zhijia/js/city.min.js"></script>
<script type="text/javascript" src="${ctx}/static/vendor/My97DatePicker/cn_WdatePicker.js"></script>
<script type="text/javascript" src="${ctx}/static/vendor/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="${ctx}/static/vendor/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" src="${ctx}/static/vendor/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<script type="text/javascript" src="${ctx}/static/vendor/ueditor/third-party/video-js/video.js"></script>
<script type="text/javascript" src="${ctx}/static/vendor/ueditor/third-party/video-js/html5media.min.js"></script>
<title>发布活动_${user.username}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="pubhuodong">
    
    <div class="incons">
        <form id="validForm" action="${ctx}/my/contribution/huodong/[#if oprt=='edit']update[#else]create[/#if].jspx" method="post">
            <input type="hidden" name="nextUrl" value="${ctx}/my/contribution.jspx"/>

      <div class="cmTt"><span>填写基本信息</span></div>
      <div class="rows clearfix">
        <span class="lts">填写名称：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" name="title" placeholder="活动标题（不少于15字）" class="ipt required" value="" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">填写地点：</span>
        <div class="ritt">
            <div class="ipts">
                <input type="text" name="address" placeholder="活动地点" class="ipt required" value="" />
            </div>
          <!--<div class="ipts arsR">
            <div class="liststyle">
              <span id="Province">
                <i>请选择省份</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择省份">请选择省份</a></li>
                </ul>
                <input type="hidden" name="cho_Province" value="请选择省份" class="required"></span>
              <span id="City">
                <i>请选择城市</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择城市">请选择城市</a></li>
                </ul>
                <input type="hidden" name="cho_City" value="请选择城市" class="required"></span>
              <span id="Area">
                <i>请选择地区</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择地区">请选择地区</a></li>
                </ul>
                <input type="hidden" name="cho_Area" value="请选择地区" class="required"></span>
            </div>
            <input type="text" name="addrr_detail" class="dtls required" placeholder="例如：北京市海淀区中关村南大街" />
          </div>-->
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">活动时间：</span>
        <div class="ritt tmrs">
          <div class="tmMd">
		    <span class="tt1">开始时间</span>
			<div class="tmR">
			  <input type="text" name="publishDate" id="inpstart" />
			</div>
		  </div>
		  <span class="jgs"></span>
		  <div class="tmMd ftr">
		    <span class="tt1">结束时间</span>
			<div class="tmR">
			  <input type="text" name="offDate" id="inpend" />
			</div>
		  </div>
        </div>
      </div>
	  <!--<div class="rows clearfix">
        <span class="lts">上传海报：</span>
        <div class="ritt hbs">
          <img src="_files/zhijia/img/dftImg.jpg" class="hImg" />
		  <div class="hRit">
		    <div class="rt1">
			  <span class="scs"><input type="file" /></span>
			  &lt;!&ndash;<a href="#" class="lk">没有准备海报？</a>&ndash;&gt;
			</div>
			<div class="rt2">温馨提示：<br />可以点击上传图片，也可以直接拖拽或粘贴图片至此窗口。<br /><br />一张漂亮的海报能，让你的活动锦上添花，带来更多用户<br />及增加传播效果。</div>
		  </div>
        </div>
      </div>-->
	  <div class="rows clearfix">
        <span class="lts">活动人数：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" name="peopleNum" placeholder="请填写活动人数" class="ipt required" />
          </div>
        </div>
      </div>
	  <div class="rows clearfix">
        <span class="lts">活动主题：</span>
        <div class="ritt">
          <div class="ipts">
              <input type="text" name="subject" placeholder="请填写活动主题" class="ipt required" />
          </div>
        </div>
      </div>
	  <div class="rows clearfix">
        <span class="lts">活动形式：</span>
        <div class="ritt">
          <div class="ipts">
              <input type="text" name="format" placeholder="请填写活动形式" class="ipt" />
          </div>
        </div>
      </div>
	  <div class="rows clearfix">
        <span class="lts">添加标签：</span>
        <div class="ritt">
            <div class="ipts">
                <input type="text" name="tagKeywords" placeholder="请填写活动标签" class="ipt" />
            </div>
        </div>
      </div>
	  <!--<div class="rows clearfix">
        <span class="lts">隐私设置：</span>
        <div class="ritt lbs">
		  <label><input type="checkbox" name="privates" />设为隐私活动 </label>
		  <span>(本活动为内部活动，将不会在【智驾网】网站公开展示 )</span>
        </div>
      </div>-->
	  <div class="rows clearfix">
        <span class="lts">详细内容：</span>
        <div class="ritt uedt">
		  <script id="editor" type="text/plain" name="text"style="width:100%;height:420px"></script>
            <script type="text/javascript">
                $(function() {
                    window.UEDITOR_HOME_URL = "${ctx}/static/vendor/ueditor/";
                    var fileUrl,videoUrl;
                    fileUrl = "${dy}/upload_file.jspx;jsessionid=${jsessionid}?ueditor=true";
                    videoUrl = "${dy}/upload_video.jspx;jsessionid=${jsessionid}?ueditor=true";
                    var editor_text = UE.getEditor('editor',{
                        toolbars: window.UEDITOR_CONFIG.toolbars_StandardPage,
                        //initialFrameWidth:700,
                        initialFrameHeight:300,
                        imageUrl:"${dy}/upload_image.jspx?ueditor=true",
                        wordImageUrl:"${dy}/upload_image.jspx?ueditor=true",
                        fileUrl:fileUrl,
                        videoUrl:videoUrl,
                        catcherUrl:"${dy}/get_remote_image.jspx?ueditor=true",
                        imageManagerUrl:"${dy}/image_manager.jspx",
                        getMovieUrl:"${dy}/get_movie.jspx",
                        serverUrl:"${dy}/ueditor.jspx?ueditor=true"
                    });
                    /*editor_text.ready(function() {
                     editor_text.setContent("[#noescape]${(bean.text)!?js_string}[/#noescape]");*/
                    editor_text.ready(function() {
                        editor_text.setContent($("#temp").val());
                    });
                });
            </script>
        </div>
      </div>
        <div class="btrrs">
            <input type="submit" value="发布" />
        </div>
	  
	  <!--<div class="cmTts">
	    <span class="ltt">设置报名表单</span>
		<div class="zks JS-SHtjs"><span class="jh">+</span>如果您需要收集报名者的必要信息，可以<span class="tj">添加</span>此项</div>
	  </div>
	  <div class="row js-shows">
	    <span class="llt">报名方式（必填）</span>
		<div class="rtCc">
		  <div class="rrss">
		    <span class="lstt">报名方式描述：</span>
			<textarea name="regist_mode" class="txtars"></textarea>
		  </div>
		  <div class="rrss">
		    <span class="lstt">链接地址：</span>
			<input type="text" name="regist_link" class="iipts" />
		  </div>
		  <div class="btnRows">
		    <input type="button" class="fb" value="" />
			<input type="button" class="tbtn" value="存为草稿" />
			<input type="button" class="tbtn" value="预览" />
		  </div>
		</div>
	  </div>-->
      </form>
	</div>  
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
  $('.JS-tagEvt a').click(function(){
	  var isRg = $(this).parent().find('.sel').length < 4;
	    $(this).toggleClass('sel'); 
		if(!isRg) {
		   $(this).removeClass('sel');
		}
	  });
  $('.JS-SHtjs').click(function(){
		$('.js-shows').toggleClass('rsh');
	  });
  });
  
  var ue = UE.getEditor('editor');
  
  var start = {
        dateCell: '#inpstart',
        format: 'YYYY-MM-DD hh:mm:ss',
        minDate: jeDate.now(0), //设定最小日期为当前日期
        isinitVal:false,
        festival:true,
        ishmsVal:false,
        maxDate: '2099-06-30 23:59:59', //最大日期
        choosefun: function(elem,datas){
            //console.log(datas)
            end.minDate = datas; //开始日选好后，重置结束日的最小日期
        },
        success:function(){
            //alert(123456)
        }
    };
    var end = {
        dateCell: '#inpend',
        format: 'YYYY-MM-DD hh:mm:ss',
        minDate: jeDate.now(0), //设定最小日期为当前日期
        festival:true,
        maxDate: '2099-06-16 23:59:59', //最大日期
        choosefun: function(elem,datas){
            //console.log(end.minDate)
            start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
        }
    };
    jeDate(start);
    jeDate(end);
  
  
</script>
</body>
</html>
[/#escape]
