[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="huodongMain clearfix alls">
    <div class="hdMTimg">
      <script src="${ctx}/dd_number/activityTop.jspx"></script>
    </div>

    <div class="lTabT cmsHdmTit">
      <a class="on">进行的活动</a>
      <a>已结束的活动</a>
    </div>

    <div class="cons">
      <div class="incs cmsHdmCon show">
        <div class="mdFlt">
          [@InfoList node='activities' status='A,F' limit='5';list]
          <ul>
            [#list list as act]
            <div class="mds[#if act_index=2] mids[/#if]">
              <a href="${act.url}" class="imgs">
                <img src="[#if act_index=2]${act.largeImageUrl}[#else]${act.smallImageUrl}[/#if]">
              </a>
              <div class="tt1">
                <span class="llt slice"><a href="${act.url}">${act.title}</a></span>
                <span class="[#if act.status='G']statusend[#else]status[/#if]">[#if act.status='A']进行中[#else]未开始[/#if]</span>
              </div>
              <div class="tt2">
                <div class="t2L">时间：${act.publishDate?string('yyyy-MM-dd HH:mm')}<br />地点：${act.customs['address']}</div>
                <div class="t2R">报名人数：<span class="c1">${(act.customs['usedNum'])}</span><br />浏览人数：<span class="c2">${act.views}</span></div>
              </div>
            </div>
            [#if act_index=1]
            <div class="clear"></div>
            [/#if]
            [/#list]
          </ul>
          [/@InfoList]
        </div>
        <div class="cmLoadMore">
          [@Node number='activities';node]<a href="${node.url}" target="_blank">加载更多</a>[/@Node]
        </div>
        <div class="jshdT"><i></i><span>已结束活动</span></div>
        <div class="mdFlts">
          [@InfoList node='activities' status='G' limit='4';list]
          <ul>
            [#list list as act]
            <div class="mdss">
              <a href="${act.url}" class="imgs">
                <img src="${act.smallImageUrl}">
              </a>
              <div class="tt1"><a href="${act.url}">${act.title}</a></div>
            </div>
            [/#list]
          </ul>
          [/@InfoList]
        </div>
        <!--<div class="cmLoadMore">
          [@Node number='activities';node]<a href="${node.url}">加载更多</a>[/@Node]
        </div>-->
      </div>

      <div class="incs cmsHdmCon">
        <div class="mdFlt">
          [@InfoList node='activities' status='G' limit='5';list]
          <ul>
            [#list list as act]
            <div class="mds[#if act_index=2] mids[/#if]">
              <a href="${act.url}" class="imgs">
                <img src="[#if act_index=2]${act.largeImageUrl}[#else]${act.smallImageUrl}[/#if]">
              </a>
              <div class="tt1">
                <span class="llt slice"><a href="${act.url}">${act.title}</a></span>
                <span class="[#if act.status='G']statusend[#else]status[/#if]">已结束</span>
              </div>
              <div class="tt2">
                <div class="t2L">时间：${act.publishDate?string('yyyy-MM-dd HH:mm')}<br />地点：${act.customs['address']}</div>
                <div class="t2R">报名人数：<span class="c1">${act.customs['usedNum']}</span><br />浏览人数：<span class="c2">${act.views}</span></div>
              </div>
            </div>
            [#if act_index=1]
            <div class="clear"></div>
            [/#if]
            [/#list]
          </ul>
          [/@InfoList]
        </div>
        <div class="cmLoadMore">
          [@Node number='activities';node]<a href="${node.url}">加载更多</a>[/@Node]
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]