[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="huodongMain clearfix alls">
    <a href="#" class="hdMTimg">
      <img src="_files/zhijia/img/dm31.jpg" />
    </a>
    <div class="lTabT cmsHdmTit">
      <a class="on">进行的活动</a>
      <a>已结束的活动</a>
    </div>

    <div class="cons">
      <div class="incs cmsHdmCon show">
        <div class="mdFlt">
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">进行中</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">进行中</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="mds mids">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm26.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">进行中</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">进行中</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">进行中</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
        </div>
        <div class="cmLoadMore"><a>查看更多</a></div>
        <div class="jshdT"><i></i><span>已结束活动</span></div>
        <div class="mdFlts">
          <div class="mdss">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm32.jpg">
            </a>
            <div class="tt1"><a href="#">2016拉勾梦想者市集 </a></div>
          </div>
          <div class="mdss">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm33.jpg">
            </a>
            <div class="tt1"><a href="#">+新媒体时尚专场：拥抱时尚开启变现之道</a></div>
          </div>
          <div class="mdss">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm34.jpg">
            </a>
            <div class="tt1"><a href="#">全球创新者大会（GIC）虚拟现实峰会</a></div>
          </div>
          <div class="mdss">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm35.jpg">
            </a>
            <div class="tt1"><a href="#">李开复：APP与自媒体在2016年的商业</a></div>
          </div>
        </div>
        <div class="cmLoadMore"><a>查看更多</a></div>
      </div>

      <div class="incs cmsHdmCon">
        <div class="mdFlt">
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">已结束</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">已结束</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="mds mids">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm26.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">已结束</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">已结束</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
          <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm23.jpg">
            </a>
            <div class="tt1">
              <span class="llt slice"><a href="#">最受尊敬的脑洞评选</a></span>
              <span class="status">已结束</span>
            </div>
            <div class="tt2">
              <div class="t2L">时间：2015年7月13日上午10点<br />地点：北京市</div>
              <div class="t2R">报名人数：<span class="c1">12</span><br />浏览人数：<span class="c2">155</span></div>
            </div>
          </div>
        </div>
        <div class="cmLoadMore"><a>查看更多</a></div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]