[#escape x as (x)!?html]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${node.name}</title>
<link href="_files/zhijia/huodong.css" rel="stylesheet" type="text/css" />
<link href="_files/jquery.slideBox.css" rel="stylesheet" />
[#include 'inc_js.html'/]
</head>
<body>
<div class="dabeijing">
[#include 'inc_header.html'/]
        <div class="dlb">
            <a href="#"><img class="lunbo" src="_files/zhijia/img/huodong/hd_03.png" /></a>
        </div>

        <div class="neirongqu">
            <ul class="erji">
                <a href="#q"><li class="zuixin">进行的活动</li></a>
                <a href="#w"><li class="zuixin">已结束的活动</li></a>
            </ul>
            <div class="shangliangtu">
                <div class="zuo1">
                    <a name="q"></a>
                    <a href="#"><img class="shangtuzuo" src="_files/zhijia/img/huodong/hd_07.png" /></a>
                    <a href="#"><p class="px">最受尊敬的脑洞评选</p></a>
                    <a href="#"><p class="shijian">时间：2015年7月13日上午10点</p></a>
                    <a href="#"><p class="didian">地点：北京市</p></a>
                    <img class="jinxing" src="_files/zhijia/img/huodong/hd_0354.png" />
                    <p class="baoren">报名人数：</p>
                    <p class="canren">浏览人数：</p>
                    <p class="shu">12</p>
                    <p class="shuq">114</p>
                </div>

                <div class="zuo2">
                    <a href="#"><img class="shangtuzuo2" src="_files/zhijia/img/huodong/hd_07.png" /></a>
                    <ul class="qa">
                        <a href="#"><p class="pxw">最受尊敬的脑洞评选</p>
                        <p class="shijianw">时间：2015年7月13日上午10点</p>
                        <p class="didianw">地点：北京市</p></a>
                    </ul>
                    <ul class="aqa">
                        <img class="jinxingw" src="_files/zhijia/img/huodong/hd_0354.png" />
                        <p class="shuw">12</p>
                        <p class="shuqw">114</p>
                    </ul>
                    <ul class="aq">
                        <p class="baorenw">报名人数：</p>
                        <p class="canrenw">浏览人数：</p>
                    </ul>
                </div>
            </div>
            <div class="zhongneirong">
                <div class="zhongtu">
                    <a href="#"><img class="zhongtuq" src="_files/zhijia/img/huodong/hd_16.png" /></a>
                </div>
                <div class="xiakuaiz"></div>
                <a href="#">
                    <p class="wow">WOW!新媒体营销会</p>
                    <p class="mn">时间：2015年7月13日上午10点</p>
                    <p class="pl">地点：北京市</p></a>
                    <img class="jinxinge" src="_files/zhijia/img/huodong/hd_0354.png" />
                <p class="baorenwe">报名人数：</p>
                <p class="shuwe">12</p>
                <p class="canrenwe">浏览人数：</p>
                <p class="shuqwe">114</p>
            </div>
            <div class="shangliangtu2">
                <div class="zuo1r">
                    <a href="#"><img class="shangtuzuor" src="_files/zhijia/img/huodong/hd_07.png" /></a>
                    <ul class="qar">
                        <a href="#">
                            <p class="pxwr">最受尊敬的脑洞评选</p>
                            <p class="shijianwr">时间：2015年7月13日上午10点</p>
                            <p class="didianwr">地点：北京市</p>
                        </a>
                    </ul>
                    <ul class="aqar">
                        <img class="jinxingwr" src="_files/zhijia/img/huodong/hd_0354.png" />
                        <p class="shuwr">12</p>
                        <p class="shuqwr">114</p>
                    </ul>
                    <ul class="aqr">
                        <p class="baorenwr">报名人数：</p>
                        <p class="canrenwr">浏览人数：</p>
                    </ul>
                </div>
                <div class="zuo1rt">
                    <a href="#"><img class="shangtuzuort" src="_files/zhijia/img/huodong/hd_07.png" /></a>
                    <ul class="qar">
                        <a href="#">
                            <p class="pxwrt">最受尊敬的脑洞评选</p>
                            <p class="shijianwrt">时间：2015年7月13日上午10点</p>
                            <p class="didianwrt">地点：北京市</p></a>
                    </ul>
                    <ul class="aqart">
                        <img class="jinxingwrt" src="_files/zhijia/img/huodong/hd_0354.png" />
                        <p class="shuwrt">12</p>
                        <p class="shuqwrt">114</p>
                    </ul>
                    <ul class="aqrt">
                        <p class="baorenwrt">报名人数：</p>
                        <p class="canrenwrt">浏览人数：</p>
                    </ul>
                </div>
            </div>
            <a href="#"><div class="gengduo">更多活动</div></a>
            <div class="jieshu">
                <div class="zuoxian"></div>
                <a name="w"></a>
                <p class="shangzi">已结束的活动</p>
                <div class="youxian"></div>
            </div>
            <div class="xiasitu">
                <ul class="xiazuo1">
                    <a href="#"><img class="xiatu1" src="_files/zhijia/img/huodong/hd_14.png" /></a>
                    <a href="#"><li class="tu1se1">2016拉勾梦想者市集</li></a>
                </ul>
                <ul class="xiazuo2">
                    <a href="#"><img class="xiatu2" src="_files/zhijia/img/huodong/hd_16.png" /></a>
                    <a href="#"><li class="tu1se2">+新媒体时尚专场：拥抱时尚
                    </li></a>
                </ul>
                <ul class="xiazuo3">
                    <a href="#"><img class="xiatu3" src="_files/zhijia/img/huodong/hd_18.png" /></a>
                    <a href="#"><li class="tu1se3">全球创新者大会（GIC）</li></a>
                </ul>
                <ul class="xiazuo4">
                    <a href="#"><img class="xiatu4" src="_files/zhijia/img/huodong/hd_20.png" /></a>
                    <a href="#"><li class="tu1se4">开复：APP与自媒体在20</li></a>
                </ul>
            </div>
            <a href="#"><div class="gengduo2">更多活动</div></a>
        </div>
    [#include 'inc_footer.html'/]
</div>
<a href="fabuhuodong.htm"><div class="lijibaoming">立</br>即</br>发</br>布</div></a>
</body>
</html>
[/#escape]
