[#escape x as (x)!?html]
<div class="dibu">
            <div class="logozi">
                <div class="dilogo"></div>
                <ul class="zuobian1">
                    <li class="dh">电话：010-57094602</li>
                    <li class="dh">邮箱：010-57094602</li>
                    <li class="dh">地址：北京 朝阳区</li>
                </ul>
                <ul class="zuobian2">
                    <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                    <a href="yewei.htm"><li class="dh">关注我们</li></a>
                </ul>
                <ul class="zuobian3">
                    <a href="tougao.htm"><li class="dh">投稿</li></a>
                    <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                </ul>
                <ul class="zuobian4">
                    <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                    <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                    <form>
                        <input class="shurukuang" type="text"
                            value="填写邮箱，订阅"
                            onfocus="if (value =='填写邮箱，订阅'){value =''}"
                            onblur="if (value ==''){value='填写邮箱，订阅'}" />
                        <input class="dingyue" type="button"
                            value="立即订阅" />
                    </form>
                </ul>
                <ul class="zuobian5">
                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                </ul>
            </div>
            <div class="dixiaxiaozi">
                <ul class="diyixiao">${site.customs['company']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright
                    © 2009 - 2014
                </ul>
                <ul class="diyixiao">Autor.com.cn All Rights
                    Reserved. 版权所有 AutoR智驾 智能汽车网
                </ul>
                <ul class="diyixiao">${site.customs['icp']}
                </ul>
            </div>
        </div>
[/#escape]