[#escape x as (x)!?html]
<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="_files/zhijia/img/logo.png" /></a>
    <div class="nav">
      [@Node number='index';n]<a href="${ctx}/" class="[#if node?? && !node.parent??]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='newcar';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='business';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='technology';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='hacker';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='column';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='topic';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
      [@Node number='activity';n]<a href="${n.url}" class="[#if (node.hierarchy[1])?? && node.hierarchy[1].id == n.id]cur[/#if]">${n.name}</a>[/@Node]
    </div>
  </div>
</div>
<!--Header End-->
[/#escape]
