[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${site.fullNameOrName}${global.customs['poweredby']}</title>
<meta name="keywords" content="${node.keywords}"/>
<meta name="description" content="${node.description}"/>
<link href="_files/zj.css" rel="stylesheet" type="text/css" />
[#include 'inc_js.html'/]
</head>

<body>
    <div class="dabeijing">
        <div class="ggt"></div>
        <div class="daohangtiao">
            <div class="neirong1">
                <img class="logo" src="_files/img/zj_logo.png" />
                <ul class="daohang">
                    <li class="sy syd"><a href="${ctx}/">首页</a></li>
                    <li class="sy">[@Node number='newcar';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='business';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='technology';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='hacker';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='column';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='topic';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='activity';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="fdj"><a href="sousuo.htm"></a></li>
                    <li class="suxian1"></li>
                    <form>
                        <input class="shuru" type="text" value="请输入关键字"
                            onfocus="if (value =='请输入关键字'){value =''}"
                            onblur="if (value ==''){value='请输入关键字'}" />
                    </form>
                    <li class="suxian2"></li>
                    <a href="denglu.htm"><li class="dl">登录</li></a>
                </ul>
            </div>
        </div>
        <div class="lunbo slideBox">
            <ul class="items">
            [@InfoList attr='focusphoto' limit='4';list]
            [#list list as info]
            <li>
                <div class="touxiang"></div>
                <p class="zhijia">${info.tagKeywords}</p>
                <p class="zizhu">${info.title}</p>
                <p class="genju">${info.fullTitle}</p>
            </li>
            [/#list]
            [/@InfoList]
        </ul>
        </div>
        <div class="daneirong">
            <div class="zuobeijing">
                <ul class="erji">
                    <li class="zuixin zxb">最新</li>
                    <li class="zuixin zx">资讯</li>
                    <li class="zuixin cp">产品观察</li>
                    <li class="zuixin bf">捕风捉影</li>
                </ul>

                <div class="zuixin_content zxc">
                    <ul>
                    [@InfoList node='newest' limit='3';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="xiaolunbo slideBox">
                        <ul class="items">
                        [@InfoList node='newest' attr='focusnews' limit='3';list]
                        [#list list as info]
                        <li>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <p class="cha">查看全文</p>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        [/@InfoList]
                        </ul>
                    </div>
                    <ul>
                    [@InfoList node='newest' index='3' limit='1';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <ul class="liugetu">
                    [@InfoList node='newest' attr='focus' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImage}" width="189px" height="126px"></img>
                        <div class="title trans absolute text-center" style="bottom:-24px;width:100%;height:24px;line-height:24px;">
                            <span class="relative c-fff">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="gengduo">查看更多</div>
                </div>

                <div class="zuixin_content inc" style="display:none">
                    <ul>
                    [@InfoList node='inform' limit='3';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="xiaolunbo slideBox">
                        <ul class="items">
                        [@InfoList node='inform' attr='focusnews' limit='3';list]
                        [#list list as info]
                        <li>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <p class="cha">查看全文</p>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        [/@InfoList]
                        </ul>
                    </div>
                    <ul>
                    [@InfoList node='inform' index='3' limit='1';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <ul class="liugetu">
                    [@InfoList node='inform' attr='focus' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImage}" width="189px" height="126px"></img>
                        <div class="title trans absolute text-center" style="bottom:-24px;width:100%;height:24px;line-height:24px;">
                            <span class="relative c-fff">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="gengduo">查看更多</div>
                </div>

                <div class="zuixin_content cpc" style="display:none">
                    <ul>
                    [@InfoList node='observe' limit='3';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="xiaolunbo slideBox">
                        <ul class="items">
                        [@InfoList node='observe' attr='focusnews' limit='3';list]
                        [#list list as info]
                        <li>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <p class="cha">查看全文</p>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        [/@InfoList]
                        </ul>
                    </div>
                    <ul>
                    [@InfoList node='observe' index='3' limit='1';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <ul class="liugetu">
                    [@InfoList node='observe' attr='focus' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImage}" width="189px" height="126px"></img>
                        <div class="title trans absolute text-center" style="bottom:-24px;width:100%;height:24px;line-height:24px;">
                            <span class="relative c-fff">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="gengduo">查看更多</div>
                </div>

                <div class="zuixin_content bfc" style="display:none">
                    <ul>
                    [@InfoList node='shadow' limit='3';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="xiaolunbo slideBox">
                        <ul class="items">
                        [@InfoList node='shadow' attr='focusnews' limit='3';list]
                        [#list list as info]
                        <li>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <p class="cha">查看全文</p>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        [/@InfoList]
                        </ul>
                    </div>
                    <ul>
                    [@InfoList node='shadow' index='3' limit='1';list]
                    [#list list as info]
                        <li>
                        <div class="hezi">
                        <div class="chetu">
                            <div class="biaoqian">${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </div>
                        </div>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <ul class="liugetu">
                    [@InfoList node='shadow' attr='focus' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImage}" width="189px" height="126px"></img>
                        <div class="title trans absolute text-center" style="bottom:-24px;width:100%;height:24px;line-height:24px;">
                            <span class="relative c-fff">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <div class="gengduo">查看更多</div>
                </div>

            </div>
            <div class="youhezi">
                [@InfoList node='advert1' limit='1';list]
                [#list list as info]
                <div class="guanggao1">
                <a href="${info.url}" title="${info.title}" target="_blank">
                    <img src="${info.attrImageUrl}}"></img>
                </a>
                </div>
                [/#list]
                [/@InfoList]
                <div class="youbeijing1">
                    <ul class="biaoti1">
                        <li class="suxianyou1"></li>
                        <b><li class="zhijiayou">智驾指数</li></b>
                        <li class="quanbu1">全部</li>
                    </ul>
                    <div class="tujiazi1">
                        <div class="tupianche1"></div>
                        <p class="huachen">华晨宝马-宝马5系</p>
                        <p class="dongfeng">东风日产</p>
                        <p class="pailiang">排量2.0T/3.0T</p>
                        <div class="zhishuyuan"></div>
                    </div>
                    <div class="tujiazi2">
                        <div class="tupianche2"></div>
                        <p class="huachen2">华晨宝马-宝马5系</p>
                        <p class="dongfeng2">东风日产</p>
                        <p class="pailiang2">排量2.0T/3.0T</p>
                        <div class="zhishuyuan2"></div>
                    </div>
                </div>
                [@InfoList node='advert2' limit='1';list]
                [#list list as info]
                <div class="guanggao2">
                <a href="${info.url}" title="${info.title}" target="_blank">
                    <img src="${info.attrImageUrl}}"></img>
                </a>
                </div>
                [/#list]
                [/@InfoList]
                <div class="youbeijing2">
                    <ul class="biaoti2">
                        <li class="suxianyou2"></li>
                        <b><li class="zhijiayou1">电动指数</li></b>
                        <li class="quanbu2">全部</li>
                    </ul>
                    <div class="tujiazi3">
                        <div class="tupianche3"></div>
                        <p class="huachen3">华晨宝马-宝马5系</p>
                        <p class="dongfeng3">东风日产</p>
                        <p class="pailiang3">排量2.0T/3.0T</p>
                        <div class="zhishuyuan3"></div>
                    </div>
                    <div class="tujiazi4">
                        <div class="tupianche4"></div>
                        <p class="huachen">华晨宝马-宝马5系</p>
                        <p class="dongfeng4">东风日产</p>
                        <p class="pailiang4">排量2.0T/3.0T</p>
                        <div class="zhishuyuan4"></div>
                    </div>
                    <ul class="biaoti3">
                        <li class="suxianyou3"></li>
                        <b><li class="zhijiayou2">新车视频</li></b>
                        <li class="quanbu3">全部</li>
                    </ul>
                    <ul>
                    [@InfoList node='video' limit='2' list]
                    [#list list as info]
                    <li>
                    <div class="xinche">
                    <img src='${info.smallImageUrl}'></img>
                    </div>
                    </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                </div>
            </div>
        </div>
        <div class="hezuo">
            <div class="zuoxian"></div>
            <p class="shangzi">友情链接</p>
            <p class="xiazi">我们一直保持良好的合作关系</p>
            <div class="youxian"></div>

            <ul class="list-unstyled" style="padding:10px;border-bottom:1px solid #dbecec;border-left:1px solid #dbecec;border-right:1px solid #dbecec;">
            [@FriendlinkList;list]
            [#list list as friendlink]
            <li class="left" style="padding:10px 20px;"><a class="a fs14" href="${friendlink.url}" target="_blank" title="${friendlink.name}">${friendlink.name}</a></li>
            [/#list]
            [/@FriendlinkList]
            <div class="clear"></div>
            </ul>
        </div>
        <div class="dibu">
            <div class="logozi">
                <div class="dilogo"></div>
                <ul class="zuobian1">
                    <li class="dh">电话：010-57094602</li>
                    <li class="dh">邮箱：010-57094602</li>
                    <li class="dh">地址：北京 朝阳区</li>
                </ul>
                <ul class="zuobian2">
                    <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                    <a href="yewei.htm"><li class="dh">关注我们</li></a>
                </ul>
                <ul class="zuobian3">
                    <a href="tougao.htm"><li class="dh">投稿</li></a>
                    <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                </ul>
                <ul class="zuobian4">
                    <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                    <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                    <form>
                        <input class="shurukuang" type="text"
                            value="填写邮箱，订阅"
                            onfocus="if (value =='填写邮箱，订阅'){value =''}"
                            onblur="if (value ==''){value='填写邮箱，订阅'}" />
                        <input class="dingyue" type="button"
                            value="立即订阅" />
                    </form>
                </ul>
                <ul class="zuobian5">
                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                </ul>
            </div>
            <div class="dixiaxiaozi">
                <ul class="diyixiao">${site.customs['company']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright
                    © 2009 - 2014
                </ul>
                <ul class="diyixiao">Autor.com.cn All Rights
                    Reserved. 版权所有 AutoR智驾 智能汽车网
                </ul>
                <ul class="diyixiao">${site.customs['icp']}
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(".zuixin").click(function() {
        this.addClass("selected");
        var sib = this.siblings();
        $.each(sib, function(index, s) {
            s.removeClass("selected");
        });
        $(".zuixin_content").hide();
        if(this.hasClass(zxb)) {
            $(".zxc").show();
        } else if(this.hasClass(zx)) {
            $(".inc").show();
        } else if(this.hasClass(cp)) {
            $(".cpc").show();
        } else if(this.hasClass(bf)) {
            $(".bfc").show();
        }
    });
</script>
</html>
[/#escape]
