[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${site.fullNameOrName}${global.customs['poweredby']}</title>
<meta name="keywords" content="${node.keywords}"/>
<meta name="description" content="${node.description}"/>
<link href="_files/zhijia/zj.css" rel="stylesheet" type="text/css" />
<link href="_files/jquery.slideBox.css" rel="stylesheet" />
[#include 'inc_js.html'/]
</head>

<body>
    <div class="dabeijing">
        <div class="ggt"></div>
        <div class="daohangtiao">
            <div class="neirong1">
                <img class="logo" src="_files/zhijia/img/zj_logo.png" />
                <ul class="daohang">
                    <li class="sy">[@Node number='index';node]<a href="${ctx}/">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='newcar';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='business';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='technology';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='hacker';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='column';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='topic';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="sy">[@Node number='activity';node]<a href="${node.url}">${node.name}</a>[/@Node]</li>
                    <li class="fdj"><a href="sousuo.htm"></a></li>
                    <li class="suxian1"></li>
                    <form>
                        <input class="shuru" type="text" value="请输入关键字"
                            onfocus="if (value =='请输入关键字'){value =''}"
                            onblur="if (value ==''){value='请输入关键字'}" />
                    </form>
                    <li class="suxian2"></li>
                    <a href="denglu.htm"><li class="dl">登录</li></a>
                </ul>
            </div>
        </div>
        <div class="lunbo slideBox">
            [@InfoList node='slide_big' attr='focusphoto' limit='3';list]
            <ul class="items">
            [#list list as info]
            <li>
                <a href="${info.url}" title="${info.title}" target="_blank">
                    <img src="${info.attrImageUrl}" />
                </a>
                <div class="touxiang"><img src="_files/zhijia/img/zj_touxiang.png" alt="" /></div>
                <p class="tag">${info.tagKeywords}</p>
                <p class="title">${info.title}</p>
                <p class="fulltitle">${info.fullTitle}</p>
            </li>
            [/#list]
            </ul>
            [/@InfoList]
        </div>
        <div class="daneirong">
            <div class="zuobeijing">
                <ul class="erji">
                    <li class="zuixin zxb" onclick="toswitch(this)">最新</li>
                    <li class="zuixin zx" onclick="toswitch(this)">资讯</li>
                    <li class="zuixin cp" onclick="toswitch(this)">产品观察</li>
                    <li class="zuixin bf" onclick="toswitch(this)">捕风捉影</li>
                </ul>

                [@Node number='newest'; node]
                <div class="zuixin_content zxc">
                    <ul>
                    [@InfoList node='newest_news' limit='4';list]
                    [#list list as info]
                        <li>
                        <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                            <div class="biaoqian">+ ${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </a>
                        </div>
                        </li>
                        [#if info_index=2]
                            <div class="xiaolunbo slideBox">
                            [@InfoList node='newest_slide' attr='focusnews' limit='3';list]
                            <ul class="items">
                            [#list list as info]
                            <li>
                                <a href="${info.url}" title="${info.title}" target="_blank">
                                    <img src="${info.attrImageUrl}" />
                                </a>
                                <div class="sutiao1"></div>
                                <p class="shengyin">${info.tagKeywords}</p>
                                <P class="bai">${info.title}</P>
                                <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                                <div class="baixian"></div>
                                <p class="ae">${info.author}</p>
                            </li>
                            [/#list]
                            </ul>
                            [/@InfoList]
                            </div>
                        [/#if]
                    [/#list]
                    [/@InfoList]
                    </ul>

                    <ul class="liugetu">
                    [@InfoList node='newest_photo' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                        <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                            <span class="photo_title">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <a class="gengduo" href="${node.url}" target="_blank">查看更多</a>
                </div>
                [/@Node]

                [@Node number='inform'; node]
                <div class="zuixin_content inc" style="display:none">
                    <ul>
                    [@InfoList node='inform_news' limit='4';list]
                    [#list list as info]
                        <li>
                        <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                            <div class="biaoqian">+ ${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </a>
                        </div>
                        </li>
                        [#if info_index=2]
                            <div class="xiaolunbo slideBox">
                            [@InfoList node='inform_slide' attr='focusnews' limit='3';list]
                            <ul class="items">
                            [#list list as info]
                            <li>
                                <a href="${info.url}" title="${info.title}" target="_blank">
                                    <img src="${info.attrImageUrl}" />
                                </a>
                                <div class="sutiao1"></div>
                                <p class="shengyin">${info.tagKeywords}</p>
                                <P class="bai">${info.title}</P>
                                <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                                <div class="baixian"></div>
                                <p class="ae">${info.author}</p>
                            </li>
                            [/#list]
                            </ul>
                            [/@InfoList]
                            </div>
                        [/#if]
                    [/#list]
                    [/@InfoList]
                    </ul>

                    <ul class="liugetu">
                    [@InfoList node='inform_photo' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                        <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                            <span class="photo_title">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <a class="gengduo" href="${node.url}" target="_blank">查看更多</a>
                </div>
                [/@Node]

                [@Node number='observe'; node]
                <div class="zuixin_content cpc" style="display:none">
                    <ul>
                    [@InfoList node='observe_news' limit='4';list]
                    [#list list as info]
                        <li>
                        <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                            <div class="biaoqian">+ ${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </a>
                        </div>
                        </li>
                        [#if info_index=2]
                            <div class="xiaolunbo slideBox">
                            [@InfoList node='observe_slide' attr='focusnews' limit='3';list]
                            <ul class="items">
                            [#list list as info]
                            <li>
                                <a href="${info.url}" title="${info.title}" target="_blank">
                                    <img src="${info.attrImageUrl}" />
                                </a>
                                <div class="sutiao1"></div>
                                <p class="shengyin">${info.tagKeywords}</p>
                                <P class="bai">${info.title}</P>
                                <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                                <div class="baixian"></div>
                                <p class="ae">${info.author}</p>
                            </li>
                            [/#list]
                            </ul>
                            [/@InfoList]
                            </div>
                        [/#if]
                    [/#list]
                    [/@InfoList]
                    </ul>

                    <ul class="liugetu">
                    [@InfoList node='observe_photo' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                        <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                            <span class="photo_title">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <a class="gengduo" href="${node.url}" target="_blank">查看更多</a>
                </div>
                [/@Node]

                [@Node number='shadow'; node]
                <div class="zuixin_content bfc" style="display:none">
                    <ul>
                    [@InfoList node='shadow_news' limit='4';list]
                    [#list list as info]
                        <li>
                        <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                            <div class="biaoqian">+ ${info.tagKeywords}</div>
                            <b><p class="yihang">${info.title}</p></b>
                            <p class="erhang">${info.fullTitle}</p>
                            <div class="tsp"></div>
                        </a>
                        </div>
                        </li>
                        [#if info_index=2]
                            <div class="xiaolunbo slideBox">
                            [@InfoList node='shadow_slide' attr='focusnews' limit='3';list]
                            <ul class="items">
                            [#list list as info]
                            <li>
                                <a href="${info.url}" title="${info.title}" target="_blank">
                                    <img src="${info.attrImageUrl}" />
                                </a>
                                <div class="sutiao1"></div>
                                <p class="shengyin">${info.tagKeywords}</p>
                                <P class="bai">${info.title}</P>
                                <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                                <div class="baixian"></div>
                                <p class="ae">${info.author}</p>
                            </li>
                            [/#list]
                            </ul>
                            [/@InfoList]
                            </div>
                        [/#if]
                    [/#list]
                    [/@InfoList]
                    </ul>

                    <ul class="liugetu">
                    [@InfoList node='shadow_photo' limit='6';list]
                    [#list list as info]
                        <li class="tutu">
                        <a href="${info.url} target="_blank">
                        <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                        <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                            <span class="photo_title">${substring(info.title,12,'...')}</span>
                        </div>
                        </a>
                        </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                    <a class="gengduo" href="${node.url}" target="_blank">查看更多</a>
                </div>
                [/@Node]

            </div>
            <div class="youhezi">
                [@InfoList node='advert1' limit='1';list]
                [#list list as info]
                <div class="guanggao1">
                <a href="${info.url}" title="${info.title}" target="_blank">
                    <img src="${info.smallImageUrl}"></img>
                </a>
                </div>
                [/#list]
                [/@InfoList]
                <div class="youbeijing1">
                    <ul class="biaoti1">
                        <li class="suxianyou1"></li>
                        <b><li class="zhijiayou">智驾指数</li></b>
                        <li class="quanbu1">全部</li>
                    </ul>
                    <div class="tujiazi1">
                        <div class="tupianche1"></div>
                        <p class="huachen">华晨宝马-宝马5系</p>
                        <p class="dongfeng">东风日产</p>
                        <p class="pailiang">排量2.0T/3.0T</p>
                        <div class="zhishuyuan"></div>
                    </div>
                    <div class="tujiazi2">
                        <div class="tupianche2"></div>
                        <p class="huachen2">华晨宝马-宝马5系</p>
                        <p class="dongfeng2">东风日产</p>
                        <p class="pailiang2">排量2.0T/3.0T</p>
                        <div class="zhishuyuan2"></div>
                    </div>
                </div>
                [@InfoList node='advert2' limit='1';list]
                [#list list as info]
                <div class="guanggao2">
                <a href="${info.url}" title="${info.title}" target="_blank">
                    <img src="${info.smallImageUrl}"></img>
                </a>
                </div>
                [/#list]
                [/@InfoList]
                <div class="youbeijing2">
                    <ul class="biaoti2">
                        <li class="suxianyou2"></li>
                        <b><li class="zhijiayou1">电动指数</li></b>
                        <li class="quanbu2">全部</li>
                    </ul>
                    <div class="tujiazi3">
                        <div class="tupianche3"></div>
                        <p class="huachen3">华晨宝马-宝马5系</p>
                        <p class="dongfeng3">东风日产</p>
                        <p class="pailiang3">排量2.0T/3.0T</p>
                        <div class="zhishuyuan3"></div>
                    </div>
                    <div class="tujiazi4">
                        <div class="tupianche4"></div>
                        <p class="huachen">华晨宝马-宝马5系</p>
                        <p class="dongfeng4">东风日产</p>
                        <p class="pailiang4">排量2.0T/3.0T</p>
                        <div class="zhishuyuan4"></div>
                    </div>
                    [@Node number='newVideos'; node]
                    <ul class="biaoti3">
                        <li class="suxianyou3"></li>
                        <b><li class="zhijiayou2">${node.name}</li></b>
                        <a class="quanbu3" href="${node.url}" target="_blank">全部</a>
                    </ul>
                    <ul>
                    [/@Node]
                    [@InfoList node='newVideos' limit='2';list]
                    [#list list as info]
                    <li>
                    <a class="xinche" href="${info.url}" title="${info.title}" target="_blank">
                    <img src='${info.smallImageUrl}'></img>
                    </a>
                    </li>
                    [/#list]
                    [/@InfoList]
                    </ul>
                </div>
            </div>
        </div>
        [#include 'inc_friendlink.html'/]
        [#include 'inc_footer.html'/]
    </div>
</body>
<script type="text/javascript">

    jQuery(function($) {
        $('.lunbo').slideBox({
            hideClickBar : true, //自动隐藏点选按键
        });

        $('.xiaolunbo').slideBox({
            hideClickBar : true, //自动隐藏点选按键
        });
    });

    $(function() {
        $(".liugetu a").each(function() {
            $(this).hover(function(){
                $(this).find(".photo_tsp").animate({bottom:0},300);
            },function() {
                $title = $(this).find(".photo_tsp");
                $title.animate({bottom:"-"+$title.height()+"px"},50);                   
            });
        });
    });

    function toswitch(obj) {
        $(obj).addClass("selected");
        var sib = $(obj).siblings();
        $.each(sib, function(index, s) {
            $(s).removeClass("selected");
        });
        $(".zuixin_content").hide();
        if($(obj).hasClass("zxb")) {
            $(".zxc").show();
        } else if($(obj).hasClass("zx")) {
            $(".inc").show();
        } else if($(obj).hasClass("cp")) {
            $(".cpc").show();
        } else if($(obj).hasClass("bf")) {
            $(".bfc").show();
        }
    }
</script>
</html>
[/#escape]
