[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${info.title}_${node.name}_${site.name}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="baomingMain clearfix">
    <div class="tpBigImgs">
      <a href="#" class="lk">
	    <img src="_files/zhijia/img/dm41.jpg">
      </a>
	  <div class="tt slice_span">
        <div class="shs">
          <div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></div>
          <span class="txt">分享到 </span>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
        <span>电脑组装技术讲解</span>
      </div>
	</div>
    
    <div class="cons">
      <div class="fsC" style="display:none">
        <span class="tt1">请填写报名表单</span>
        <div class="forms">
          <div class="rrs">
            <span class="lts">姓名：</span>
            <input type="text" class="ipt" placeholder="请填写联系人姓名" />
          </div>
          <div class="rrs">
            <span class="lts">昵称：</span>
            <input type="text" class="ipt" placeholder="15266545256" />
          </div>
          <div class="rrs">
            <span class="lts">手机：</span>
            <input type="text" class="ipt" placeholder="请填写联系手机号" />
          </div>
          <div class="rrs">
            <span class="lts">邮箱：</span>
            <input type="text" class="ipt" placeholder="请填写联系邮箱" />
          </div>
          <div class="rrs">
            <span class="lts">公司：</span>
            <input type="text" class="ipt" placeholder="" />
          </div>
          <div class="rrs">
            <span class="lts">职位：</span>
            <input type="text" class="ipt" placeholder="" />
          </div>
          <div class="btnRow">
            <input type="button" value="提交" class="btn" />
            <input type="reset" value="取消" class="btn cancel" />
          </div>
        </div>
      </div>
      
      <div class="lTabT cmsHdmTit" id="hdsj">
	    <a class="on" href="#hdsj">活动时间</a>
		<a href="#hddd">活动地点</a>
		<a href="#hdnr">活动内容</a>
		<a href="#hdbq">活动标签</a>
        <a href="#lx">路线</a>
	  </div>
      <div class="lAtcC">2016年7月30日  15：00 ~ 2016年7月30日  18：30</div>
      <div class="secT" id="hddd">
	    <a>活动地点</a>
	  </div>
      <div class="lAtcC">（北京海淀） 北京海淀软件园</div>
      <div class="secT" id="hdnr">
	    <a>活动内容</a>
	  </div>
      <div class="lAtcC">讲解发烧级电脑配置，用最低的价格组装起性能最强的电脑。
        <div class="btnRows">
          <a class="scBtns">收藏 0</a>
          <a href="#" class="jbhdBtn">举报活动</a>
        </div>
      </div>
      <div class="secT" id="hdbq">
	    <a>活动标签</a>
	  </div>
      <div class="lAtcC">
        <div class="hdTga">
          <a class="tg">社交</a>
        </div>
      </div>
      <div class="secT" id="lx">
	    <a>路线</a>
	  </div>
      <div class="lAtcC">
        <div class="mpCon"><img src="_files/zhijia/img/mpImg.jpg" /></div>
      </div>
      
      <span class="secTit">您可能感兴趣</span>
      <div class="ccCon">
        <div class="con">
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
        <div class="mds">
            <a href="#" class="imgs">
              <img src="_files/zhijia/img/dm42.png">
        	</a>
        	<span class="tt">标题标题标题标题标题标题标题标题标题标题标题标题</span>
      	</div>
      </div>
    </div>
      <span class="secTit">您有任何问题，在这里提问！</span>
      <textarea class="lTCc"></textarea>
      <div class="lTCr"><input type="button" value="提问" class="pubBtn"></div>
	  <span class="secTit">全部评论</span>
	  
	  <div class="qbpl">
        <ul class="plList">
          <li>
            <a class="pic"><img src="_files/zhijia/img/dm43.png" /></a>
            <div class="rtt">
              <div class="rt1">
                <span class="tm">14分钟前</span>
                <span class="llk slice"><a href="#">玫玫</a></span>
              </div>
              <div class="rt2">没人评论？</div>
              <div class="tllr">
                <a class="hf JS-hf">回复 0</a>
                <a class="ding">顶 0</a>
              </div>
              <div class="replayBox">
                  <i class="rBArt"></i>
                  <div class="rBIcon">
                    <div class="rIIpt"><div class="rIin"><input type="text" placeholder="" value="对@玫玫说:"></div></div>
                    <div class="rIToolRow">
                      <input type="button" value="回复" class="pbBtn">
                    </div>
                  </div>
                </div>
              <div class="respCon">
                <a class="pics"><img src="_files/zhijia/img/dm43.png" /></a>
                <div class="rtts">
                  <div class="rt1s">
                    <span class="tms">14分钟前</span>
                    <span class="llks slice"><a href="#">玫玫</a></span>
                  </div>
                  <div class="rt2s">回复@玫玫：没人</div>
                </div>
              </div>
              <div class="respCon">
                <a class="pics"><img src="_files/zhijia/img/dm43.png" /></a>
                <div class="rtts">
                  <div class="rt1s">
                    <span class="tms">14分钟前</span>
                    <span class="llks slice"><a href="#">玫玫</a></span>
                  </div>
                  <div class="rt2s">回复@玫玫：没人</div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a class="pic"><img src="_files/zhijia/img/dm43.png" /></a>
            <div class="rtt">
              <div class="rt1">
                <span class="tm">14分钟前</span>
                <span class="llk slice"><a href="#">玫玫</a></span>
              </div>
              <div class="rt2">没人评论？</div>
              <div class="tllr">
                <a class="hf JS-hf">回复 0</a>
                <a class="ding">顶 0</a>
              </div>
              <div class="replayBox">
                  <i class="rBArt"></i>
                  <div class="rBIcon">
                    <div class="rIIpt"><div class="rIin"><input type="text" placeholder="" value="对@玫玫说:"></div></div>
                    <div class="rIToolRow">
                      <input type="button" value="回复" class="pbBtn">
                    </div>
                  </div>
                </div>
              <div class="respCon">
                <a class="pics"><img src="_files/zhijia/img/dm43.png" /></a>
                <div class="rtts">
                  <div class="rt1s">
                    <span class="tms">14分钟前</span>
                    <span class="llks slice"><a href="#">玫玫</a></span>
                  </div>
                  <div class="rt2s">回复@玫玫：没人</div>
                </div>
              </div>
              <div class="respCon">
                <a class="pics"><img src="_files/zhijia/img/dm43.png" /></a>
                <div class="rtts">
                  <div class="rt1s">
                    <span class="tms">14分钟前</span>
                    <span class="llks slice"><a href="#">玫玫</a></span>
                  </div>
                  <div class="rt2s">回复@玫玫：没人</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]
<a href="javascript:void(0)" class="ritPubBar">立<br />即<br />报<br />名</a>

<script>
$(function(){
  
  //立即报名
  $('.ritPubBar').click(function(){
	    $('.fsC').show();
	  });
  //回复
  $('.JS-hf').click(function(){
	    $(this).parent().next().show();
	  });
  });
</script>
</body>
</html>
[/#escape]