[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${info.title}_${node.name}_${site.name}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="wenzhangMain clearfix">
    <div class="left">
	  <div class="inCons">
        <div class="breadCast">[#list node.hierarchy as n]<a href="${n.url}">${n.name}</a> > [/#list]${info.title}</div>
        <div class="lftFlImg">
          <img src="${info.smallImageUrl}" />
          <div class="inc">
            <span class="tt1"> ${info.source} ${info.publishDate?string('yyyy-MM-dd HH:mm')} </span>
            <div class="bdes">${info.title}</div>
          </div>
        </div>
        <div class="atcCon">
		  <div class="shares">
		    <span class="fx">分享</span>
			<div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		  </div>
          <div class="article">
            <div class="secTit">
              <h2 class="pdEle">${info.fullTitle}</h2>
            </div>
            <div class="rcCon">
             [#noescape]${text}[/#noescape]
            </div>
          </div>
        </div>

        <div class="lToolCon">
          <div class="lTCr1">
            <a class="scBtn">收藏</a>
            <span class="zanCl"><a class="zanBtn zanBtnEd">${info.diggs}</a></span>
            <a class="ssBtn">赏</a>
          </div>
          <div class="lTCr2">
            <span class="lts">相关标签：</span>
            <div class="tgC">
              <a href="${ctx}/tagname/${info.tagKeywords?url}.jspx">${info.tagKeywords}</a>
            </div>
            <a class="pubBtn">寻求报道</a>
          </div>
          <span class="lTCr3">发表评论</span>
          <textarea class="lTCc"></textarea>
          <div class="lTCr4">
            <input type="button" value="发表" class="pubBtn" />
          </div>
        </div>
        <div class="cmtTbc alls">
			<div class="lTCr5 cmsHdmTit">
			  <a class="on">默认评论</a>
			  <a class="last">最新评论</a>
			</div>
			<div class="lTcc">
			  <div class="cmsHdmCon show">
			  <ul class="cmtCon">
				<li class="cmtRow">
				  <div class="cR1">
					<div class="cl">
					   <a href="#"><img src="_files/zhijia/img/cir2.jpg">sdffff</a>
					</div>
					<span class="cm">43分钟前</span>
				  </div>
				  <div class="cR2">看完了，看完了。</div>
				</li>
			  </ul>
			  </div>
			  <div class="cmsHdmCon">
			  <ul class="cmtCon">
				<li class="cmtRow">
				  <div class="cR1">
					<div class="cl">
					   <a href="#"><img src="_files/zhijia/img/cir2.jpg">sdffff</a>
					</div>
					<span class="cm">43分钟前</span>
				  </div>
				  <div class="cR2">看完了，看完了。</div>
				</li>
			  </ul>
			  </div>
			</div>
		</div>
        <div class="wydpRs">
		  <a class="wydps">我要点评</a>
		  <a class="caiBtns">0</a>
		  <a class="zanBtns">0</a>
		</div>
      </div>
	</div>
	<div class="right">
	  <div class="authorMd">
	    <div class="inc">
		  <div class="rtp">
            <a href="#" class="wzMlimg">
              <img src="_files/zhijia/img/dm12.jpg">
            </a>
            <div class="wzMrt">
              <span class="cTt1 slice">师北宸</span>
              <span class="cTt2">知识就是力量<br />法国就是培根</span>
            </div>
          </div>
		  <div class="wzgs"><a href="#">专栏作者</a><span>|</span><a href="#">160篇文章</a></div>
		  <div class="btRs">
		    <a href="#" class="btns">与他沟通</a>
			<a class="bts zns">15</a>
			<a class="bts sts">5</a>
			<a class="bts mes">27</a>
		  </div>
		</div>
	  </div>
	  <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>相关文章</span>
            <a href="#">全部</a>
          </div>
          [@InfoList author='${info.author}' limit='3';list]
          <ul class="cmHotAtcMd">
          [#list list as info1]
            <li>
              <a href="${info1.url}" class="cHQMlimg">
                <img src="${info1.smallImageUrl}">
              </a>
              <div class="cHQMrt">
                <span class="cTt1"><a href="#">${info1.title}</a></span>
                <span class="cTt2 slice">${info1.publishDate?string('yyyy-MM-dd HH:mm')}</span>
              </div>
            </li>
          [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

      <div class="cmADMd">
      <script src="${ctx}/dd_number/ad_info.jspx"></script>
      </div>

	  <div class="rtCmMd">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热门文章</span>
            <!-- <a href="#">全部</a> -->
          </div>
          [@InfoList sort='views desc' limit='3';list]
          <ul class="cmHotAtcMd">
            [#list list as info]
            <li>
              <a href="${info.url}" class="cHQMlimg">
                <img src="${info.smallImageUrl}">
              </a>
              <div class="cHQMrt">
                <span class="cTt1"><a href="${info.url}">${info.title}</a></span>
                <span class="cTt2 slice">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
              </div>
            </li>
            [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

	  <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热门标签</span>
            <a href="${ctx}/tag.jspx">全部</a>
          </div>
          <div class="hotTag">
          [@TagList sort='refers desc' limit='10';list]
          [#list list as tag]
            <a href="${ctx}/tag/${tag.id?url}.jspx">${tag.name}</a>
          [/#list]
          [/@TagList]
          </div>
        </div>
      </div>
	</div>
    
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
  
});
</script>
</body>
</html>
[/#escape]