[#escape x as (x)!?html]
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<title>${title}_${node.name}_${site.name}</title>
<meta name="keywords" content="${info.keywords}"/>
<meta name="description" content="${info.description}"/>
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/global.css" rel="stylesheet"/>
<link href="_files/style.css" rel="stylesheet"/>
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script src="_files/jquery.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/ckplayer/ckplayer.js"></script>
<style>
.a1{color:#333;text-decoration:none;}
.a1:hover{color:#699f00;}
</style>
</head>
<body>
[#include 'inc_header.html'/]
<div class="tpxqMain" style="width:1260px; margin:20px auto 0 auto; background:#fff">
    <div style="padding:30px 25px;">
    <div class="w center" >
        <h1 class="ff-yh fs20 lh" style="margin:15px 0 0 0;font-weight:normal;">${title}</h1>
        <div class="mt5 c-666" style="color:#808080;line-height:30px; font-size:14px; margin-top:20px">
            <span class="ml20">发布时间：${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
            <span class="ml20">播放数：<span id="info_views"></span></span>
            <script type="text/javascript">
                $("#info_views").load("${dy}/info_views/${info.id}.jspx?d="+new Date()*1);
            </script>
            <span class="ml20">评论数：<span id="info_comments"></span></span>
            <script type="text/javascript">
                $("#info_comments").load("${dy}/info_comments/${info.id}.jspx?d="+new Date()*1);
            </script>
        </div>
    </div>
    <div class="center" style="max-width:948px; margin:20px auto;">
        <div class="" style="max-width:948px; margin:0 auto">
            [#if info.video??]
            <div id="video"></div>
            <script type="text/javascript">
                var flashvars={
                    f:"${info.video}",
                    c:0,
                    p:1
                };
                CKobject.embedSWF("_files/ckplayer/ckplayer.swf","video","ckplayer_video","750","500",flashvars);
            </script>
            [#else]
            <embed src="${info.customs['flashaddr']}" allowFullScreen="true" quality="high" width="750" height="500" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
            [/#if]

            <div class="bdsharebuttonbox mt20"><a href="#" class="bds_more a-none" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>
                window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};
                with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
            </script>

            <div id="commentDiv" class="mt20 comm" style="max-width:948px; margin:20px auto 0 auto;"></div>
            <script type="text/javascript">
                $("#commentDiv").load("${dy}/comment_list.jspx?fid=${info.id}&url=${url?url}&d="+new Date()*1);
            </script>

            <div class="cmMds">
                <span class="cmT">热门文章</span>
                [@InfoList sort='views desc' limit='3';list]
                <ul class="mdFlts">
                    [#list list as info]
                    <li class="mdss">
                        <a href="${info.url}" class="imgs">
                            <img src="${info.smallImageUrl}">
                        </a>
                        <div class="tt1"><a href="${info.url}">${info.title}</a></div>
                    </li>
                    [/#list]
                </ul>
                [/@InfoList]
            </div>
        </div>
        <div class="clear"></div>
    </div>
    </div>
</div>

[#include 'inc_footer.html'/]
</body>
</html>
[/#escape]