[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script src="_files/html5.js"></script>
<script src="_files/jquery.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>-->
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${info.title}_${node.name}_${site.name}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="wenzhangMain clearfix">
    <div class="left">
      <div class="inCons">
        <!-- <div class="breadCast">[#list node.hierarchy as n]<a href="${n.url}">${n.name}</a> > [/#list]${info.title}</div> -->
        <div class="lftFlImg">
          <img src="${info.smallImageUrl}" />
          <div class="mask"></div>
          <div class="inc">
            [#if info.sourceUrl??]
            <span class="tt1"><a href="${info.sourceUrl}" target="_blank">${info.source}</a>
              ${info.publishDate?string('yyyy-MM-dd HH:mm')}
            </span>
            [#else]
            <span class="tt1"> ${info.source} ${info.publishDate?string('yyyy-MM-dd HH:mm')} </span>
            [/#if]
            <div class="bdes">${info.title}</div>
          </div>
        </div>
        <div class="atcCon">
          <div class="shares">
            <span class="fx">分享</span>
            <div class="bdsharebuttonbox" data-tag="share_1"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1"},"share":{"bdSize":"40"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];</script>
          </div>
          <div class="article">
            [#if info.fullTitle??]
            <div class="secTit">
              <div class="pdEle">${info.fullTitle}</div>
            </div>
            [/#if]
            <div class="rcCon">
             [#noescape]${text}[/#noescape]
            </div>
          </div>
        </div>

        <div class="lToolCon">
          <div class="lTCr1">
            <a class="scBtn" href="javascript:void(0)" onclick="onfav()">收藏</a>
            <span class="zanCl"><a class="zanBtn" href="javascript:void(0)" onclick="onzan()">${info.diggs}</a></span>
          </div>
          <div class="lTCr2">
            <!--<a class="pubBtn">寻求报道</a>-->
          </div>
          <div id="commentDiv" class="comm"></div>
          <script type="text/javascript">
              $("#commentDiv").load("${dy}/comment_list.jspx?fid=${info.id}&url=${url?url}&d="+new Date()*1);
          </script>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="authorMd">
        <div class="inc">
          <div class="rtp">
            <a href="${ctx}/creator/${info.creator.id}.jspx" class="wzMlimg">
              <img src="${(info.creator.avatarLarge)!'${ctx}/template/global/avatar_large.jpg'}">
            </a>
            <div class="wzMrt">
              <a href="${ctx}/creator/${info.creator.id}.jspx" class="cTt1 slice">${(info.creator.realName)!'未知'}</a>
              <span class="cTt2">${(info.creator.bio)!'作者很懒，还没有简介'}</span>
            </div>
          </div>
          [@InfoList userId='${info.creator.id}';list]
          <div class="wzgs"><a href="${ctx}/creator/${info.creator.id}.jspx">专栏作者</a><span>|</span><a href="${ctx}/creator/${info.creator.id}.jspx">${(list?size)!'0'}篇文章</a></div>
          [/@InfoList]
          <!--<div class="btRs">
            <a href="#" class="btns">与他沟通</a>
            <a class="bts zns">15</a>
            <a class="bts sts">5</a>
            <a class="bts mes">27</a>
          </div>-->
        </div>
      </div>
      <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>相关文章</span>
            <a href="${ctx}/creator/${info.creator.id}.jspx">全部</a>
          </div>
          [@InfoList userId='${info.creator.id}' limit='3';list]
          <ul class="cmHotAtcMd">
          [#list list as info1]
            <li>
              <a href="${info1.url}" class="cHQMlimg">
                <img src="${info1.smallImageUrl}">
              </a>
              <div class="cHQMrt">
                <span class="cTt1"><a href="${info1.url}">${info1.title}</a></span>
                <span class="cTt2 slice">${info1.publishDate?string('yyyy-MM-dd HH:mm')}</span>
              </div>
            </li>
          [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

      <div class="cmADMd">
      <script src="${ctx}/dd_number/ad_info.jspx"></script>
      </div>

      <div class="rtCmMd">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热门文章</span>
            <!-- <a href="#">全部</a> -->
          </div>
          [@InfoList sort='views desc' limit='3';list]
          <ul class="cmHotAtcMd">
            [#list list as info]
            <li>
              <a href="${info.url}" class="cHQMlimg">
                <img src="${info.smallImageUrl}">
              </a>
              <div class="cHQMrt">
                <span class="cTt1"><a href="${info.url}">${info.title}</a></span>
                <span class="cTt2 slice">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
              </div>
            </li>
            [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

      <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热门标签</span>
            <a href="${ctx}/tag.jspx">全部</a>
          </div>
          <div class="hotTag">
          [@TagList sort='refers desc' limit='10';list]
          [#list list as tag]
            <a href="${ctx}/tag/${tag.id?url}.jspx">${tag.name}</a>
          [/#list]
          [/@TagList]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
    $.get("${dy}/info_favs/${info.id}.jspx?d=" + new Date()*1, function (data) {
        if (data == "true") {
            $(".scBtn").addClass("scBtnEd");
        }
    });

    $.get("${dy}/info_diggs/${info.id}.jspx?d=" + new Date()*1, function (data) {
        if (data == "true") {
            $(".zanBtn").addClass("zanBtnEd");
        }
    });
});

function onfav() {
    $.post("${dy}/info_fav.jspx", {id:${info.id}}, function(data) {
        if (data == "true") {
            $(".scBtn").addClass("scBtnEd");
        } else if (data == "false") {
            $(".scBtn").removeClass("scBtnEd")
        } else {
            alert("您还没有登录！");
        }
    });
}

function onzan() {
    $.post("${dy}/info_digg.jspx", {id:${info.id}}, function(data) {
        if (data != "0") {
            $(".zanBtn").addClass("zanBtnEd");
            $(".zanBtn").text(data);
        } else {
            alert("您已经赞过一次！");
        }
    });
}
</script>
</body>
</html>
[/#escape]