[#escape x as (x)!?html]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${node.name}</title>
<link href="_files/zhijia/shangye.css" rel="stylesheet" type="text/css" />
<link href="_files/jquery.slideBox.css" rel="stylesheet" />
[#include 'inc_js.html'/]
</head>
<body>
<div class="dabeijing">
[#include 'inc_header.html'/]
    <div class="sangetu">
    [@InfoList nodeId=node.id attr='focusphoto' limit='1';list]
        <ul class="zuobian">
        [#list list as info]
            <a href="${info.url}"> <img class="datu1" src="${info.attrImageUrl}" /></a>
            <a href="${info.url}"><p class="gpsj">${info.title}</p></a>
        [/#list]
        </ul>
    [/@InfoList]
    [@InfoList nodeId=node.id attr='focus' limit='2';list]
        <ul>
        [#list list as info]
        <li>
        <a href="${info.url}"><img class="sanyou" src="${info.attrImageUrl}" /></a> 
            <a href="${info.url}"><p class="[#if info_index=0]zipq[#else]zipp[/#if]">${info.title}</p></a>
        </li>
        [/#list]
        </ul>
    [/@InfoList]
    </div>

    <div class="daneirong">
        <div class="zuobeijing">
            <ul class="erji">
                <li class="zuixin tab1" onclick="toswitch(this)">智能汽车</li>
                <li class="zuixin tab2" onclick="toswitch(this)">自动驾驶</li>
                <li class="zuixin tab3" onclick="toswitch(this)">无人驾驶</li>
                <li class="zuixin tab4" onclick="toswitch(this)">车联网</li>
                <li class="zuixin tab5" onclick="toswitch(this)">出行设备</li>
                <li class="zuixin tab6" onclick="toswitch(this)">无人机</li>
            </ul>
            [@Node number='smart_car'; node]
            <div class="zuixin_content tab1c">
            [@InfoList node='smart_car' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='smart_car' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='smart_car_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img class="tutu_img" src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]

            [@Node number='autopilot'; node]
            <div class="zuixin_content tab2c" style="display:none">
            [@InfoList node='autopilot' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='autopilot' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='autopilot_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]

            [@Node number='unmanned'; node]
            <div class="zuixin_content tab3c" style="display:none">
            [@InfoList node='unmanned' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='unmanned' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='unmanned_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]

            [@Node number='vehicle'; node]
            <div class="zuixin_content tab4c" style="display:none">
            [@InfoList node='vehicle' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='vehicle' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='vehicle_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]

            [@Node number='travel_equipment'; node]
            <div class="zuixin_content tab5c" style="display:none">
            [@InfoList node='travel_equipment' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='travel_equipment' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='travel_equipment_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]

            [@Node number='uav'; node]
            <div class="zuixin_content tab6c" style="display:none">
            [@InfoList node='uav' attr='' limit='4';list]
                <ul>
                [#list list as info]
                    <li>
                    <div class="hezi" >
                        <a class="chetu" href="${info.url}" title="${info.title}" target="_blank">
                            <img class="chetuimg" src="${info.smallImageUrl}"/>
                        </a>
                        <div class="biaoqian">+ ${info.tagKeywords}</div>
                        <b><p class="yihang">${info.title}</p></b>
                        <p class="erhang">${info.fullTitle}</p>
                        <img class="txq" src="_files/zhijia/img/ic_touxiang.png" />
                        <p class="tyzy">${info.author}</p>
                        <p class="fzq">${info.publishDate?string('yyyy-MM-dd HH:mm')}</p>
                        <img class="xpl" src="_files/zhijia/img/ic_pinglun.png" />
                        <p class="szq">${info.comments}</p>
                        <img class="scq" src="_files/zhijia/img/ic_shoucang.png" />
                        <p class="szw">${info.favorites}</p>
                        <img class="za" src="_files/zhijia/img/ic_dianzan.png" />
                        <p class="sze">${info.diggs}</p>
                    </div>
                    </li>
                    [#if info_index=2]
                        <div class="xiaolunbo slideBox">
                        [@InfoList node='uav' attr='focusnews' limit='3';list]
                        <ul class="items">
                        [#list list as info]
                        <li>
                            <a href="${info.url}" title="${info.title}" target="_blank">
                                <img src="${info.attrImageUrl}" />
                            </a>
                            <div class="sutiao1"></div>
                            <p class="shengyin">${info.tagKeywords}</p>
                            <P class="bai">${info.title}</P>
                            <a class="cha" href="${info.url}" target="_blank">查看全文</a>
                            <div class="baixian"></div>
                            <p class="ae">${info.author}</p>
                        </li>
                        [/#list]
                        </ul>
                        [/@InfoList]
                        </div>
                    [/#if]
                [/#list]
                </ul>
            [/@InfoList]
            [@InfoList node='uav_photo' limit='6';list]
            <ul class="liugetu">
            [#list list as info]
                <li class="tutu">
                <a href="${info.url} target="_blank">
                <img src="${info.smallImageUrl}" width="237px" height="158px"></img>
                <div class="photo_tsp" style="bottom:-24px;width:237px;height:24px;line-height:24px;">
                    <span class="photo_title">${substring(info.title,12,'...')}</span>
                </div>
                </a>
                </li>
            [/#list]
            </ul>
            [/@InfoList]
            <a class="gengduo1" href="${node.url}" target="_blank">查看更多</a>
            </div>
            [/@Node]
        </div>

        <div class="youhezi">
        [@InfoList node='advert1' limit='1'; list]
        [#list list as info]
            <a href="${info.url}"><img class="guanggao1" src="${info.smallImageUrl}"/></a>
        [/#list]
        [/@InfoList]
            <div class="youbeijing1">
                <ul class="biaoti1">
                    <li class="suxianyou1"></li>
                    <b><li class="zhijiayou">快讯</li></b>
                    <a href="#">
                        <li class="quanbu1">全部</li>
                    </a>
                </ul>
                <ul>
                [#list 1..4 as dt]
                <li>
                    <div class="kuaixun">
                    <a href="#"><p class="kuaida">暴雨天气下，电动车涉水“趴窝”吗？</p></a>
                    <p class="kuaixiao">2小时前</p>
                    </div>
                </li>
                [/#list]
                </ul>
            </div>

            [@InfoList node='advert1' limit='1'; list]
            [#list list as info]
                <a href="${info.url}"><img class="guanggao2" src="${info.smallImageUrl}"/></a>
            [/#list]
            [/@InfoList]

            <div class="youbeijing2">
                <ul class="biaoti1">
                    <li class="suxianyou12"></li>
                    <b><li class="zhijiayou2">热点文章</li></b>
                    <a href="#"><li class="quanbu12">全部</li></a>
                </ul>
                [@InfoList sort='views desc' limit='3';list]
                <ul>
                [#list list as info]
                <li class="tujiazi">
                <a href="${info.url}" target="_blank">
                    <img class="tuxia" src="${info.smallImageUrl}" />
                    <p class="zixia1">${info.title}</p>
                    <p class="zixia2">${info.fullTitle}</p>
                </a>
                </li>
                [/#list]
                </ul>
                [/@InfoList]
            </div>

            [@InfoList node='advert1' limit='1'; list]
            [#list list as info]
                <a href="${info.url}"><img class="guanggao3" src="${info.smallImageUrl}"/></a>
            [/#list]
            [/@InfoList]
        </div>
    </div>
    [#include 'inc_footer.html'/]
</div>
</body>
<script type="text/javascript">

    jQuery(function($) {
        $('.xiaolunbo').slideBox({
            hideClickBar : true, //自动隐藏点选按键
        });
    });

    $(function() {
        $(".liugetu a").each(function() {
            $(this).hover(function(){
                $(this).find(".photo_tsp").animate({bottom:0},300);
            },function() {
                $title = $(this).find(".photo_tsp");
                $title.animate({bottom:"-"+$title.height()+"px"},50);
            });
        });
    });

    function toswitch(obj) {
        $(obj).addClass("selected");
        var sib = $(obj).siblings();
        $.each(sib, function(index, s) {
            $(s).removeClass("selected");
        });
        $(".zuixin_content").hide();
        if($(obj).hasClass("tab1")) {
            $(".tab1c").show();
        } else if($(obj).hasClass("tab2")) {
            $(".tab2c").show();
        } else if($(obj).hasClass("tab3")) {
            $(".tab3c").show();
        } else if($(obj).hasClass("tab4")) {
            $(".tab4c").show();
        } else if($(obj).hasClass("tab5")) {
            $(".tab5c").show();
        } else if($(obj).hasClass("tab6")) {
            $(".tab6c").show();
        }
    }
</script>
</html>
[/#escape]
