[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="xincheMain clearfix">
    <div class="left alls">
      [@InfoList nodeId=node.id attr='focusphoto' limit='1';list]
      [#list list as info]
      <a href="${info.url}" class="lTpImg">
        <img src="${info.attrImageUrl}">
        <div class="tt slice_span"><span>${info.title}</span></div>
      </a>
      [/#list]
      [/@InfoList]
      <div class="lTabT cmsHdmTit">
        [@Node number='smartcar';n]<a href="javascript:void(0)" onclick="tabSwitch('${n.number}')" class="on">${n.name}</a>[/@Node]
        [@Node number='vehicle';n]<a href="javascript:void(0)" onclick="tabSwitch('${n.number}')">${n.name}</a>[/@Node]
        [@Node number='uav';n]<a href="javascript:void(0)" onclick="tabSwitch('${n.number}')">${n.name}</a>[/@Node]
        [@Node number='geek';n]<a href="javascript:void(0)" onclick="tabSwitch('${n.number}')">${n.name}</a>[/@Node]
      </div>
      <div class="tabCon" id="tabInfoList">
        <div class="lList cmsHdmCon show">
        [@InfoList node='smartcar' limit='8';list]
        <ul>
        [#list list as info]
        <li class="row">
            <div class="cmLstMd clearfix">
              <a href="${info.url}" class="cLMImg">
                <img src="${info.smallImageUrl}" />
              </a>
              <div class="cLMRit">
                [#list info.tagKeywords?split(',') as tagKeyword]
                [#if tagKeyword_index = 0][#assign tag = tagKeyword][/#if]
                [/#list]
                <div class="cRT1">
                  <a href="${ctx}/tagname/${tag?url}.jspx" class="tag[#if info_index % 2 = 0] blue[#else] green[/#if]">+ ${tag}</a>
                  <span class="cTT1"><a href="${info.url}">${info.title}</a></span>
                </div>
                <div class="cTT2">${info.fullTitle}</div>
                <div class="cTT3">
                  <div class="c3tl">
                    <a href="${ctx}/creator/${info.creator.id}.jspx"><img src="${(info.creator.avatarSmall)!'${ctx}/template/global/avatar_small.jpg'}" />${(info.author)!(info.creator.realName)}</a>
                  </div>
                  <span class="c3tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
                  <a class="bts zns">${info.diggs}</a>
                  <a class="bts sts">${info.favs}</a>
                  <a class="bts mes">${info.comments}</a>
                </div>
              </div>
            </div>
        </li>
        [/#list]
        </ul>
        [/@InfoList]

        <div class="cmLoadMore">
            [@Node number='smartcar';node]<a href="${node.url}">查看更多</a>[/@Node]
        </div>
        </div>

      </div>
    </div>

    <div class="right">
    [@InfoList nodeId=node.id attr='focus' limit='2';list]
        <ul>
          [#list list as info]
          <li>
          <a href="${info.url}" class="[#if info_index=0]ads1[#else]ads2[/#if]">
            <img src="${info.attrImageUrl}" />
            <div class="tt slice_span"><span>${info.title} </span></div>
          </a>
          </li>
          [/#list]
        <ul>
    [/@InfoList]

      <div class="cmADMd mgt">
        <script src="${ctx}/dd_number/ad_keji1.jspx"></script>
      </div>

      <div class="rtCmMd nmgt">
        <div class="inCons">
          [@Node number='flash';node]
          <div class="rtCmTit">
            <span>${node.name}</span>
            <a href="${node.url}">全部</a>
          </div>
          [/@Node]
          [@InfoList node='flash' limit='5';list]
          <ul class="kxList slice_span">
            [#list list as info]
            <li class="[#if info_index = 4]last[/#if]">
              <span class="kLT1"><a href="${info.url}">${info.title}</a></span>
              <span class="kLT2">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
            </li>
            [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

      <div class="cmADMd mgt">
        <script src="${ctx}/dd_number/ad_keji2.jspx"></script>
      </div>

      <div class="rtCmMd">
        <div class="inCons">
          <div class="rtCmTit">
            <span>热点文章</span>
            <!-- <a href="#">全部</a> -->
          </div>
          [@InfoList sort='views desc' limit='5';list]
          <ul class="cmHotAtcMd">
          [#list list as info]
            <li>
              <a href="${info.url}" class="cHQMlimg">
                <img src="${info.smallImageUrl}">
              </a>
              <div class="cHQMrt">
                <span class="cTt1"><a href="${info.url}">${info.title}</a></span>
                <span class="cTt2 slice">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
              </div>
            </li>
            [/#list]
          </ul>
          [/@InfoList]
        </div>
      </div>

      <div class="cmADMd mgt">
        <script src="${ctx}/dd_number/ad_keji3.jspx"></script>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

<div class="kejiBtmAd">
  <script src="${ctx}/dd_number/ad_keji4.jspx"></script>
  <i class="JS-kjAdClsBtn"></i>
</div>

[#include 'inc_footer.html'/]

<script>
$(function(){

  //关闭广告
  $('.JS-kjAdClsBtn').click(function(){
      $('.kejiBtmAd').slideUp();
  });

  $.pic_fade(".fd1",".ct1","",false);
  });

function tabSwitch(nodeNumber) {
    var url = "${ctx}/tab/list_news.jspx?nodeNumber=" + nodeNumber + "&listNumber=8";
    $.ajax({
        url : url,
        type : 'post',
        dataType : 'text',
        success : function (result) {
            $("#tabInfoList").html(result);
        }
    });
}
</script>
</body>
</html>
[/#escape]