[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="hdListsMain clearfix alls">
	
	<div class="cons">
	  <div class="incs show">
        <div class="topMd"><a>智驾活动</a></div>
	    <div class="mdFlt">
			[@InfoPage node='activities' status='A,F,G' sort='publishDate desc' pageSize='6';pagedList]
			<ul>
			[#list pagedList.content as act]
				<div class="mds">
					<a href="${act.url}" class="imgs">
						<img src="${act.smallImageUrl}">
					</a>
					<div class="tt1">
						<span class="llt slice"><a href="${act.url}">${act.title}</a></span>
						<span class="[#if act.status='G']statusend[#else]status[/#if]">[#if act.status='A']进行中[#elseif act.status='G']已结束[#else]未开始[/#if]</span>
					</div>
					<div class="tt2">
						<div class="t2L">时间：${act.publishDate?string('yyyy-MM-dd HH:mm')}<br />地点：${act.customs['address']}</div>
						<div class="t2R">报名人数：<span class="c1">${(act.customs['usedNum'])}</span><br />浏览人数：<span class="c2">${act.views}</span></div>
					</div>
				</div>
			[/#list]
			</ul>
			<table class="pagging"><tr><td>
				[#include 'page.html'/]
			</td></tr></table>
			[/@InfoPage]
		</div>
	  </div>
	</div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
});
</script>
</body>
</html>
[/#escape]
