<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/suoyouche.css" rel="stylesheet" type="text/css" />
</head>

<body>




    <div class="dabeijing">
     
     
          <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="chuangke.html"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>






                                              <div class="neirongqu">
                                           
                                           
                                             
                                           
                                                        <div class="fanhui">
                                                             <a href="index.html"><p class="xsy">首页</p></a>
                                                             <div class="fanhui1"></div>
                                                             <p class="suoyou">所有车型</p>
                                                             <div class="fanhui2"></div>
                                                             <p class="rav4">车型</p>
                                                         </div>





                                                                       

                                  <div class="erji">
                                     
                                      <li class="zuixin">全部</li>
                                         <li class="fdj2"></li>
                                         <li class="suxian12"></li>
                  <form>
                  
                 <input class="shuru2" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                                         <li class="suxian22"></li>
                                  
                                  
                                  </div>







                    

                                                                   <div class="zhijiapaihang">
                                                                     
                                                                       <p class="zjph">智驾排行</p> 
                                                                   
                                                                   </div>

   
                                                                             <div class="znhl">
                                                                                  
                                                                                 <p class="zl">智能互联</p>
                                                                                 <p class="zl qb">全部</p>
                                                                                 <p class="zl ca">carlfe</p>
                                                                                 <p class="zl cap">caplay</p>
                                                                                 <p class="zl zx">智能之选</p>
                                                                                 <p class="zl bl">智能便利</p>
                                                                             
                                                                             </div>


                                                                                           <div class="znhlq">
                                                                                  
                                                                                 <p class="zlq">驾驶操控</p>
                                                                                 <p class="zlq qbq">全部</p>
                                                                                 <p class="zlq caq">一键启动</p>
                                                                                 <p class="zlq capq">电子导航</p>
                                                                                 <p class="zlq zxq">电子导航</p>
                                                                                 <p class="zlq blq">电子导航</p>
                                                                             
                                                                                           </div>


 

                                                                                     <div class="znhlqw">
                                                                                  
                                                                                 <p class="zlqw">舒适乐趣</p>
                                                                                 <p class="zlqw qbqw">全部</p>
                                                                                 <p class="zlqw caqw">影音播放</p>
                                                                                 <p class="zlqw capqw">电子导航</p>
                                                                                 <p class="zlqw zxqw">电子导航</p>
                                                                                 <p class="zlqw blqw">电子导航</p>
                                                                             
                                                                                      </div>




                                                                                                    
                                                                             <div class="znhlqwe">
                                                                                  
                                                                                 <p class="zlqwe">舒适乐趣</p>
                                                                                 <p class="zlqwe qbqwe">全部</p>
                                                                                 <p class="zlqwe caqwe">影音播放</p>
                                                                                 <p class="zlqwe capqwe">电子导航</p>
                                                                                 <p class="zlqwe zxqwe">电子导航</p>
                                                                                 <p class="zlqwe blqwe">电子导航</p>
                                                                             
                                                                             </div>


                   
                                                       <div class="tupianjiesaoq">
                                                       
                                                             <ul class="zuotzq">
                                                                  <a href="danchexing.html"><img class="tq" src="images/suoyouche/所有车智驾指数与电动指数_06.png" /></a>
                                                                     <div class="tqs">
                                                                         <a href="danchexing.html"><p class="cacx">长安CX20</p></a>
                                                                           <li class="zs">智驾指数：
                                                                             <img class="zsz"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zsw">电动指数：
                                                                             <img class="zszw"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                         <a href="danchexing.html"><p class="changzi">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changzi">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changzi">全系共...[详细]</p></a>
                                                                         <p class="sjq">2016-08-11 <a href="#"><img class="fenxiang" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                             </ul>
                                                       
                                                       
                                                                     
                                                                     
                                                                     
                                                                  <ul class="zuotzqw">
                                                                         <a href="#"><img class="tqw" src="images/suoyouche/所有车智驾指数与电动指数_08.png" /></a>
                                                                     <div class="tqsw">
                                                                         <a href="#"><p class="cacxw">长安CX20</p></a>
                                                                         <li class="zsl">智驾指数：
                                                                             <img class="zszl"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zswl">电动指数：
                                                                             <img class="zszwl"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                         <a href="#"><p class="changziw">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changziw">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changziw">全系共...[详细]</p></a>
                                                                         <p class="sjqw">2016-08-11 <a href="#"><img class="fenxiangw" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                                 </ul>
                                                                     
                                                       
                                                       
                                                       
                                                       
                                                       
                                           
                                                                  <ul class="zuotzqwe">
                                                                         <a href="#"><img class="tqwe" src="images/suoyouche/所有车智驾指数与电动指数_03.png" /></a>
                                                                     <div class="tqswe">
                                                                         <a href="#"><p class="cacxwe">长安CX20</p></a>
                                                                         <li class="zslk">智驾指数：
                                                                             <img class="zszlk"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zswlk">电动指数：
                                                                             <img class="zszwlk"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                         <a href="#"><p class="changziwe">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changziwe">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changziwe">全系共...[详细]</p></a>
                                                                         <p class="sjqwe">2016-08-11<a href="#"> <img class="fenxiangwe" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                                 </ul>
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       </div>     











                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              
                                                                              <div class="zhijiapaihang2">
                                                                     
                                                                       <p class="zjph2">电动排行</p> 
                                                                   
                                                                   </div>

   
                                                                             <div class="znhl2">
                                                                                  
                                                                                 <p class="zl2">智能互联</p>
                                                                                 <p class="zl2 qb2">全部</p>
                                                                                 <p class="zl2 ca2">carlfe</p>
                                                                                 <p class="zl2 cap2">caplay</p>
                                                                                 <p class="zl2 zx2">智能之选</p>
                                                                                 <p class="zl2 bl2">智能便利</p>
                                                                             
                                                                             </div>


                                                                                           <div class="znhlq2">
                                                                                  
                                                                                 <p class="zlq2">驾驶操控</p>
                                                                                 <p class="zlq2 qbq2">全部</p>
                                                                                 <p class="zlq2 caq2">一键启动</p>
                                                                                 <p class="zlq2 capq2">电子导航</p>
                                                                                 <p class="zlq2 zxq2">电子导航</p>
                                                                                 <p class="zlq2 blq2">电子导航</p>
                                                                             
                                                                                           </div>


 

                                                                                     <div class="znhlqw2">
                                                                                  
                                                                                 <p class="zlqw2">舒适乐趣</p>
                                                                                 <p class="zlqw2 qbqw2">全部</p>
                                                                                 <p class="zlqw2 caqw2">影音播放</p>
                                                                                 <p class="zlqw2 capqw2">电子导航</p>
                                                                                 <p class="zlqw2 zxqw2">电子导航</p>
                                                                                 <p class="zlqw2 blqw2">电子导航</p>
                                                                             
                                                                                      </div>




                                                                                                    
                                                                             <div class="znhlqwe2">
                                                                                  
                                                                                 <p class="zlqwe2">舒适乐趣</p>
                                                                                 <p class="zlqwe2 qbqwe2">全部</p>
                                                                                 <p class="zlqwe2 caqwe2">影音播放</p>
                                                                                 <p class="zlqwe2 capqwe2">电子导航</p>
                                                                                 <p class="zlqwe2 zxqwe2">电子导航</p>
                                                                                 <p class="zlqwe2 blqwe2">电子导航</p>
                                                                             
                                                                             </div>


                   
                                                       <div class="tupianjiesaoq2">
                                                       
                                                            <ul class="zuotzq9">
                                                                  <a href="danchexing.html"><img class="tq9" src="images/suoyouche/所有车智驾指数与电动指数_06.png" /></a>
                                                                     <div class="tqs9">
                                                                         <a href="danchexing.html"><p class="cacx9">长安CX20</p></a>
                                                                           <li class="zs9">智驾指数：
                                                                             <img class="zsz9"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zsw9">电动指数：
                                                                             <img class="zszw9"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                         <a href="danchexing.html"><p class="changzi9">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changzi9">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changzi9">全系共...[详细]</p></a>
                                                                         <p class="sjq9">2016-08-11<a href="#"> <img class="fenxiang9" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                             </ul>
                                                       
                                                       
                                                                     
                                                                     
                                                                     
                                                                  <ul class="zuotzqw8">
                                                                         <a href="#"><img class="tqw8" src="images/suoyouche/所有车智驾指数与电动指数_08.png" /></a>
                                                                     <div class="tqsw8">
                                                                         <a href="#"><p class="cacxw8">长安CX20</p></a>
                                                                         <li class="zsl8">智驾指数：
                                                                             <img class="zszl8"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zswl8">电动指数：
                                                                             <img class="zszwl8"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                         <a href="#"><p class="changziw8">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changziw8">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changziw8">全系共...[详细]</p></a>
                                                                         <p class="sjqw8">2016-08-11<a href="#"><img class="fenxiangw8" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                                 </ul>
                                                                     
                                                       
                                                       
                                                       
                                                       
                                                       
                                           
                                                                  <ul class="zuotzqwe7">
                                                                         <a href="#"><img class="tqwe7" src="images/suoyouche/所有车智驾指数与电动指数_03.png" /></a>
                                                                     <div class="tqswe7">
                                                                         <a href="#"><p class="cacxwe7">长安CX20</p></a>
                                                                         <li class="zslk7">智驾指数：
                                                                             <img class="zszlk7"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                           
                                                                           <li class="zswlk7">电动指数：
                                                                             <img class="zszwlk7"  src="images/suoyouche/sdzcvv_03.png" />
                                                                           </li>
                                                                         <a href="#"><p class="changziwe7">日前，据广汽本田官方消息，2016款飞度正式上市</p>
                                                                         <p class="changziwe7">，方指导价为7.38万-11.28万元。新车增加了两款</p>
                                                                         <p class="changziwe7">全系共...[详细]</p></a>
                                                                         <p class="sjqwe7">2016-08-11 <a href="#"><img class="fenxiangwe7" src="images/suoyouche/所有车智驾指数与电动指数_18.png" /></a></p>
                                                                     </div>
                                                             
                                                             
                                                                 </ul>
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       
                                                       </div>     







                                                                       <a href="#"><div class="jiazai">加载更多</div></a>















                                                </div>
                                                



















                              <div class="dibu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li> </a>
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                             </div>
                                                                                           







































































</div>





</body>
</html>
