[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>标签云_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="allTagPg">
    <div class="cons">
      <!-- <div class="breadCast"><a href="${ctx}/">首页</a><span>&gt;</span>标签云</div> -->
      <div class="tit">
        <a class="lts">热门标签</a>
      </div>
      <div class="tgC">
      [@TagList sort='refers desc' limit='10';list]
      [#list list as tag]
        <a href="${ctx}/tag/${tag.id?url}.jspx">${tag.name}</a>
      [/#list]
      [/@TagList]
      </div>

      <div class="allTgs alls">
        <div class="tit tagHdmT">
          <a class="lts on">所有标签</a>
<!--           <a class="lts">公司</a>
          <a class="lts">人物</a>
          <a class="lts">话题</a> -->

            <!-- <div class="rSs">
                <select class="rSlct" style="display: block">
                    <option>按字母查找</option>
                    <option dataID="0">0</option>
                    <option dataID="A">A</option>
                </select>
                <select class="rSlct">
                    <option>按字母查找</option>
                    <option dataID="B">B</option>
                    <option dataID="C">C</option>
                </select>
                <select class="rSlct">
                    <option>按字母查找</option>
                    <option dataID="D">D</option>
                    <option dataID="E">E</option>
                </select>
                <select class="rSlct">
                    <option>按字母查找</option>
                    <option dataID="F">F</option>
                    <option dataID="G">G</option>
                </select>
            </div> -->
        </div>
        <div class="tbcc">
            <div class="tbIn" style="display: block">
                <!-- <span class="mdT" id="0">0</span> -->
                [@TagPage pageSize='100';pagedList]
                <div class="tgC">
                [#list pagedList.content as tag]
                    <a href="${ctx}/tag/${tag.id?url}.jspx">${tag.name}</a>
                [/#list]
                </div>
                <table class="pagging"><tr><td>
                    [#include 'page.html'/]
                </td></tr></table>
                [/@TagPage]
                <!-- <span class="mdT" id="A">A</span>
                <div class="tgC"></div> -->
            </div>
            <!-- <div class="tbIn">
                <span class="mdT" id="B">B</span>
                <div class="tgC"></div>
                <span class="mdT" id="C">C</span>
                <div class="tgC"></div>
            </div>
            <div class="tbIn">
                <span class="mdT" id="D">D</span>
                <div class="tgC"></div>
                <span class="mdT" id="E">E</span>
                <div class="tgC"></div>
            </div>
            <div class="tbIn">
                <span class="mdT" id="F">F</span>
                <div class="tgC"></div>
                <span class="mdT" id="G">G</span>
                <div class="tgC"></div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
  //标签分类
  $(".tagHdmT a").click(function(){
        var eles = $(this).parent().find('.rSs').find('select');
        $(this).siblings().removeClass("on");
        $(this).addClass("on");
        eles.eq($(this).index()).css('display','block');
        eles.eq($(this).index()).siblings().css('display','none');
        $(this).parents(".alls").find(".tbIn:eq("+$(this).index()+")").css('display','block');
        $(this).parents(".alls").find(".tbIn:eq("+$(this).index()+")").siblings(".tbIn").css('display','none');
        });

  //赛选跳到响应位置
  $(".rSlct").change(function(){
       var vl = $(this).find('option:selected').attr('dataID');
       if(!vl) return;
       var len = $('.tbcc #' + vl).length;
       if(len == 1) {
          window.location.href = '#' + vl;
       }
  });

});
</script>
</body>
</html>
[/#escape]