[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${targetUser.username}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="mcmcwdxxMain clearfix">
    <div class="secT"><a>个人中心</a></div>
    <div class="cons">
      <div class="lfts">
        <div class="inc">
          <a class="pic" href="${site.protocol}:${site.urlFull}/space/${(targetUser!user).id}.jspx"><img src="${((targetUser!user).avatarLarge)!'${ctx}/template/global/avatar_large.jpg'}" /></a>
          <a class="rt slice" href="${ctx}/space/${(targetUser!user).id}.jspx">${(targetUser!user).username}</a>
        </div>
        <!--<div class="psf">
          <span>评论:17</span>
          <span>收藏:17</span>
          <span>发布:17</span>
        </div>-->
      </div>
      <div class="rits">
        <div class="inc">
          <div class="col slice_div">
            <div><strong>用户名：</strong>${((targetUser!user).username)!"未填写"}</div>
          </div>
          <div class="col slice_div">
            <div><strong>姓名：</strong>${((targetUser!user).realName)!"未填写"}</div>
          </div>
          <div class="col slice_div">
            <div><strong>电话：</strong>${((targetUser!user).mobile)!"未填写"}</div>
          </div>
          <div class="col slice_div">
            <div><strong>公司：</strong>${((targetUser!user).company)!"未填写"}</div>
          </div>
          <div class="col slice_div">
            <div><strong>邮箱：</strong>${((targetUser!user).email)!"未填写"}</div>
          </div>
          <div class="col slice_div">
            <div><strong>职位：</strong>${((targetUser!user).position)!"未填写"}</div>
          </div>
          <div class="lTCr">
            <a href="${ctx}/my/baseinfo.jspx" class="pubBtn">修改基础资料</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cons">
      <div class="zkMod alls">
        <div class="tbL cmsHdmTit">
          <a href="${ctx}/space/${targetUser.id}.jspx" class="[#if !Param.type??]on[/#if]">我的评论</a>
          <!--<a href="${ctx}/space/${targetUser.id}.jspx?type=comment" class="[#if Param.type?? && Param.type='comment']on[/#if]">我的评论</a>-->
          <a href="${ctx}/space/${targetUser.id}.jspx?type=article" class="[#if Param.type?? && Param.type='article']on[/#if]">我的文章</a>
          <a href="${ctx}/space/${targetUser.id}.jspx?type=fav" class="[#if Param.type?? && Param.type='fav']on[/#if]">我的收藏</a>
          <!--<a href="${ctx}/space/${targetUser.id}.jspx?type=pub" class="[#if Param.type?? && Param.type='pub']on[/#if]">我的发布</a>-->
        </div>
        <div class="tbR slice_span">
          [#if Param.type?? && Param.type=='article']
              [#include 'sys_member_space_article.html'/]
          [#elseif Param.type?? && Param.type=='fav']
              [#include 'sys_member_space_fav.html'/]
          [#elseif Param.type?? && Param.type=='pub']
              [#include 'sys_member_space_pub.html'/]
          [#else]
          <div class="tbIn cmsHdmCon show">
            [#if !page??][#if Param.page??][#assign page=Param.page?number][#else][#assign page=1/][/#if][/#if]
            [@CommentPage creatorId=targetUser.id pageSize='8'page=page;pagedList]
            <ul>
              [#list pagedList.content as comment]
              <li>
                <span class="llink"><a href="${comment.anchor.url}">● ${substring(comment.text,150,'...')}</a></span>
                <span class="tm">${comment.creationDate?string('yyyy-MM-dd HH:mm')}</span>
              </li>
              [/#list]
            </ul>
            <div class="pagging">
              [#include 'page.html'/]
            </div>
            [/@CommentPage]
          </div>
          [/#if]
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
});
</script>
</body>
</html>
[/#escape]
