[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录/注册</title>
<meta name="keywords" content="用户登录/注册" />
<meta name="description" content="用户登录/注册" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script src="_files/jquery.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>-->
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>

<style>
    label.error{color:red;font-style:normal;background:url(_files/img/error.png) 5px center no-repeat;background-color:#fef2f2;border:1px solid #ffb8b8;padding:0 5px 0 25px;margin:-35px 5px 0 0;float:right;line-height:25px; height:25px;}
    label.valid{background-image:url(_files/img/valid.png);background-color:inherit;border:none;margin-left:5px;}
    input.error{border-color:red !important;}
    form .prompt{float:left;width:280px;margin-left:10px;color:#999;display:none;}
</style>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="loginPage">
    <a class="tpLgs"></a>
    <div class="cons alls">
	  <div class="tbT cmsHdmTit">
	    <a class="on">登录</a>
		<a>注册</a>
	  </div>
	  <div class="tbC">
	    <div class="tbIn cmsHdmCon show">
            <div class="fs14" style="height:30px;line-height:30px;width:370px; padding-left:10px;color:red;">
                [#if shiroLoginFailure??]
                <div style="background:url(_files/img/error.png) 0 center no-repeat;padding-left:20px; text-align:left">
                    [#if shiroLoginFailure=='com.jspxcms.common.security.IncorrectCaptchaException']
                    验证码不正确！
                    [#--[@s.message code='incorrectCaptchaError'/]--]
                    [#elseif shiroLoginFailure=='org.apache.shiro.authc.UnknownAccountException']
                    [#--用户名不存在--]
                    用户名或密码错误！
                    [#elseif shiroLoginFailure=='org.apache.shiro.authc.LockedAccountException']
                    此用户被锁定！
                    [#elseif shiroLoginFailure=='com.jspxcms.common.security.UnactivatedAccountException']
                    此用户未激活！
                    [#elseif shiroLoginFailure=='org.apache.shiro.authc.IncorrectCredentialsException']
                    用户名或密码错误！
                    [#else]
                    ${shiroLoginFailure}
                    [/#if]
                </div>
                [/#if]
            </div>
            <form id="validForm" action="${ctx}/login.jspx" method="post">
                <input type="hidden" name="fallbackUrl" value="${fallbackUrl!Param.fallbackUrl}"/>
		  <div class="tmd">
		    <div class="lfts">
			  <div class="rs">
			    <div class="row">
			      <span class="lts" for="username">用户名</span>
				  <input type="text" id="username" class="ipt required" name="username" value="${username!}" />
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts" for="password">密码</span>
				  <input type="password" id="password" class="ipt" name="password" value="" />
			    </div>
			  </div>
                [#if Session.shiroCaptchaRequired?? || global.captchaErrors<=0]
                <div class="rs">
                    <div class="row cap">
                        <span for="captcha" class="lts">验证码</span>
                        <img src="${ctx}/captcha.servlet" class="ig" onclick="this.src='${ctx}/captcha.servlet?d='+new Date()*1;$('#captcha').focus();" title="点击重新获取验证码"/>
                        <!--<input type="text" id="captcha"  name="captcha" data-rule-required="true" data-rule-remote='{"url":"${ctx}/captcha.servlet","type":"post"}' data-msg-remote="验证码错误" style="width:94px;" autocomplete="off"/>-->
                        <input type="text" id="captcha" class="ipt" name="captcha" class="ipt" data-rule-required="true" data-rule-remote='{"url":"${ctx}/captcha.servlet","type":"post"}' data-msg-required="验证码不能为空" data-msg-remote="验证码错误" autocomplete="off" placeholder="请填写右侧字符，不区分大小写" />
                        <!--<label for="captcha" generated="true" class="error"></label>-->
                    </div>
                </div>
                [/#if]
			  <div class="tls">
			    <label><input type="checkbox" name="rememberMe" />记住我</label>
				<!--<a href="${ctx}/forgot_password.jspx">忘记密码？</a>-->
			  </div>
			</div>
			<input type="submit" value="登录" class="btns" />
		  </div>
            </form>
            [#include 'inc_oauth.html'/]
		</div>
		<div class="tbIn cmsHdmCon">
            <form id="registerForm" action="${ctx}/register.jspx" method="post">
                <input type="hidden" name="redirectUrl" value="${ctx}/register_message.jspx?username={username}&email={email}&verifyMode={verifyMode}"/>
		  <div class="tmd">
		    <div class="lfts">
			  <div class="rs">
			    <div class="row">
			      <span class="lts" for="username">用户名</span>
				  <input type="text" id="reg_username" class="ipt required" name="username" maxlength="${global.register.maxLength}" data-rule-minlength="${global.register.minLength}"
                         data-rule-pattern="${global.register.validCharacter}" data-rule-remote='{"url":"${ctx}/check_username.jspx","type":"post"}'
                         data-msg-required="用户名不能为空" data-msg-remote="用户名已经存在" data-msg-pattern="用户名不能使用非法字符"
                         placeholder="${global.register.minLength}~${global.register.maxLength}个字符，支持字母、数字、下划线" value="" />
                    <label id="reg_username-prompt" class="prompt">${global.register.minLength}~${global.register.maxLength}个字符，支持字母、数字、下划线</label>
                </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts" for="email">邮箱</span>
				  <input type="text" id="email" class="ipt required email" name="email" data-msg-required="邮箱不能为空" data-msg-email="邮箱格式不正确" placeholder="请填写邮箱" value="" />
                    <label id="email-prompt" class="prompt">请填写邮箱</label>
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts" for="password">密码</span>
				  <input type="password" id="reg_password" class="ipt required" name="password" data-msg-required="密码不能为空" placeholder="请填写密码" value="" />
                    <label id="reg_password-prompt"  class="prompt">请填写密码</label>
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row v2">
			      <span class="lts" for="passwordAgain">确认密码</span>
				  <input type="password" id="passwordAgain" class="ipt" equalTo="#reg_password" data-msg-equalTo="两次密码不一致"placeholder="请再次填写密码" value="" />
                    <label id="passwordAgain-prompt" class="prompt">请再次填写密码</label>
			    </div>
			  </div>
                <div class="rs">
                    <div class="row cap">
                        <span for="captcha" class="lts">验证码</span>
                        <img src="${ctx}/captcha.servlet" class="ig" onclick="this.src='${ctx}/captcha.servlet?d='+new Date()*1;$('#captcha').focus();" title="点击重新获取验证码"/>
                        <input type="text" id="reg_captcha" name="captcha" class="ipt" data-rule-required="true" data-rule-remote='{"url":"${ctx}/captcha.servlet","type":"post"}' data-msg-required="验证码不能为空" data-msg-remote="验证码错误" autocomplete="off" placeholder="请填写右侧字符，不区分大小写" />

                    </div>
                    <label for="captcha" generated="true" class="error" style="display:none"></label>
                    <label id="reg_captcha-prompt" for="captcha" class="prompt">请填写右侧字符，不区分大小写</label>
                </div>
                <div class="rs">
                    <!--<label class="label">&nbsp;</label>-->
                    <div class="input"><label><input type="checkbox" id="agreement" name="agreement" checked class="required" title="请接受服务条款"/> 我已阅读并同意<a href="javascript:;" onclick="$('#agreementDialog').show();" class="a-hover" style="color:#0a8cd2;">《网站用户协议》</a></label></div>
                    <label for="agreement" generated="true" class="error" style="display:none"></label>
                </div>
			</div>
			<input type="submit" value="注册" class="btns mgt" />
		  </div>
            </form>
		</div>
	  </div>
	</div>
  </div>
</div>

<div id="agreementDialog" class="dialog" style="display:none; width:700px;position:absolute;margin:0 auto;top:300px;left:0;right:0;border:5px solid #c2c2c2;border-radius:5px;background-color:#fff;">
    <div class="head b fs14" style="height:30px;line-height:30px;padding-left:10px;border-bottom:1px solid #c4c4c4;background-color:#f3f3f3;">网站用户协议</div>
    <div class="body" style="margin:8px 0;padding:5px 10px;height:300px;overflow:auto;">
        [#noescape]${bbcode(global.register.userAgreement!)}[/#noescape]
    </div>
    <div class="footer text-center" style="padding:12px;border-top:1px solid #ccc;background-color:#f2f2f2;"><input type="button" onclick="$('#agreementDialog').hide();" value="同意并继续" style="padding:0 50px;height:32px;border-radius:3px;border:none;color:#fff;background-color:#e4393c;font-size:16px;font-family:'Microsoft YaHei';font-weight:bold;"/></div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
    $(function(){
        $("#validForm").validate();
        $(".username").focus().select();

        $("#registerForm").validate({
            //success: function(label) {label.addClass("valid");},
            success: "valid",
            focusInvalid: false,
            focusCleanup: true,
            onkeyup: false
        });

        $("#registerForm input").each(function() {
            $(this).focusin(function() {
                $(this).attr('placeholder', '');
                /*$("#"+$(this).attr("id")+"-prompt").show();*/
            });
            $(this).focusout(function() {
                var tx = $("#"+$(this).attr("id")+"-prompt").text();
                var val = $(this).val();
                if (val == '') {
                    $(this).attr('placeholder', tx);
                }
                /*$("#"+$(this).attr("id")+"-prompt").hide();*/
            });
        });
    });
</script>
</body>
</html>
[/#escape]