[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="投稿成功" />
<meta name="description" content="投稿成功" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>投稿成功</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="bdthhPage">
    <div class="cons">
      <span class="t1">提交成功，工作人员会尽快与您联系</span>
      <div class="btnRow">
        <a href="${ctx}/my/contribution/create.jspx">再写一个</a>
        <a href="${ctx}/">首页</a>
        <a href="${ctx}/space/${user.id}.jspx">个人中心</a>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
});
</script>
</body>
</html>
[/#escape]
