<div class="tbIn cmsHdmCon show">
    [#if !page??][#if Param.page??][#assign page=Param.page?number][#else][#assign page=1/][/#if][/#if]
    [@CommentPage creatorId=targetUser.id pageSize='8'page=page;pagedList]
    <ul>
        [#list pagedList.content as comment]
        <li>
            <span class="llink"><a href="${comment.anchor.url}">● ${substring(comment.text,150,'...')}</a></span>
            <span class="tm">${comment.creationDate?string('yyyy-MM-dd HH:mm')}</span>
        </li>
        [/#list]
    </ul>
    <div class="pagging">
        [#include 'page.html'/]
    </div>
    [/@CommentPage]
</div>