[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="重设密码" />
<meta name="description" content="重设密码" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script src="_files/jquery.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>-->
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>重设密码</title>

<style>
	label.error{color:red;font-style:normal;padding-left:10px;}
	label.valid{color:red;font-style:normal;padding-left:10px;}
</style>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="findPwdPage">
    <a class="tpLgs"></a>
    <div class="cons">
	  <span class="tt1"><a href="${ctx}/login.jspx">返回登录</a></span>
	  <span class="tt2">重设密码</span>
		<form id="validForm" action="${ctx}/retrieve_password.jspx" method="post">
			<input type="hidden" name="status_0" value="密码修改成功，请用新密码登录！">
			<input type="hidden" name="key" value="${Param.key!}">
	  <!--<span class="tt3">校正码将会发送至你的邮箱或手机</span>-->
	  <!--<div class="rows">-->
	    <!--<input type="text"  value="手机校正码" onfocus="if(this.value == '手机校正码') this.value = ''" onblur="if(this.value =='') this.value = '手机校正码'" />-->
		<!--<span class="sendCode JS-SendMsgCode">发送验证码</span>-->
	  <!--</div>-->
		  	<div class="rows">
				<input class="text required" type="password" id="password" name="password"  value="" placeholder="请填写新密码" />
				<!--<span class="tps">新密码</span>-->
		  	</div>
	 	 	<div class="rows">
	    		<input class="text" type="password" id="passwordAgain" name="passwordAgain" equalTo="#password" value="" placeholder="请确认新密码" />
				<!--<span class="tps">确认密码</span>-->
			</div>
	  		<input type="submit" value="提交" class="nextBtn" />
		</form>
	</div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
/*var time,
	timer,
	remainningTime = function(){
	  time--;
	  if(time<=0){
		clearInterval(timer);
		$(".JS-SendMsgCode").removeClass("ings").html("重新发送");
	  }else{
		$(".JS-SendMsgCode").html("重新发送" + "(" + time + "s)");
	  }
	};*/

$(function(){
    $("#validForm").validate();
    $("#password").focus().select();
  
  /*$(".JS-SendMsgCode").on("click",function(){
	  if(!$(this).hasClass("ings")){
		time=60;
		$(this).addClass("ings");
		remainningTime();
		timer=setInterval(remainningTime,1000);
	  }
	});*/
  
});
</script>
</body>
</html>
[/#escape]
