[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="找回密码" />
<meta name="description" content="找回密码" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>找回密码</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="findPwdPage">
    <a class="tpLgs"></a>
    <div class="cons">
	  <span class="tt1"><a href="${ctx}/login.jspx">返回登录</a></span>
	  <span class="tt2">找回密码</span>
		<form id="validForm" action="${ctx}/forgot_password.jspx" method="post">
			<input type="hidden" name="status_0" value="申请修改密码成功，请注意查收邮件！">
			<input type="hidden" name="timeout" value="-1">
	  		<!--<span class="tt3">校正码将会发送至你的邮箱或手机</span>-->
	  		<div class="rows">
	    		<input type="text"  id="username" name="username" value="${username!}" class="text required" placeholder="请填写用户名" />
	  		</div>
			<div class="rows">
				<input type="text"  id="email" name="email" class="text required email" value="" placeholder="请填写电子邮箱" />
			</div>
	 	 	<div class="rows">
	    		<input class="ipt" type="text"  id="captcha" name="captcha" class="text" value="" placeholder="图形验证码" />
				<img src="${ctx}/captcha.servlet" class="ig" onclick="this.src='${ctx}/captcha.servlet?d='+new Date()*1;$('#captcha').focus();" title="点击重新获取验证码"/>
	  		</div>
	  		<input type="submit" value="提交" class="nextBtn" />
		</form>
	</div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
});
</script>
</body>
</html>
[/#escape]
