[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.keywords}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${targetUser.username}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="mcmcwdxxMain clearfix">
    <div class="secT"><a>个人中心</a></div>
    <div class="cons">
      <div class="lfts">
        <div class="inc">
          <a class="pic" href="${site.protocol}:${site.urlFull}/space/${(targetUser!user).id}.jspx"><img src="${(targetUser!user).avatarLarge}" /></a>
          <a class="rt slice" href="${ctx}/space/${(targetUser!user).id}.jspx">${(targetUser!user).username}</a>
          <div>
            <span>评论：17</span>
            <span>收藏：17</span>
            <span>发布：17</span>
          </div>
        </div>
      </div>
      <div class="rits">
        <div class="inc">
          <div class="col slice_div">
            <div><strong>公司：</strong>未填写</div>
          </div>
          <div class="col slice_div">
            <div><strong>微博：</strong>未填写</div>
          </div>
          <div class="col slice_div">
            <div><strong>职业：</strong>未填写</div>
          </div>
          <div class="col slice_div">
            <div><strong>微信：</strong>未填写</div>
          </div>
          <div class="col slice_div">
            <div><strong>邮箱：</strong>未填写</div>
          </div>
          <div class="lTCr">
            <a href="#" class="pubBtn">修改基础资料</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="cons">
      <div class="zkMod alls">
        <div class="tbL cmsHdmTit">
          <a class="on">我的消息</a>
          <a>我的评论</a>
          <a>我的文章</a>
          <a>我的收藏</a>
          <a>我已发送</a>
          <a>我的发布</a>
        </div>
        <div class="tbR slice_span">
          <div class="tbIn cmsHdmCon show">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
          <div class="tbIn cmsHdmCon">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
          <div class="tbIn cmsHdmCon">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
          <div class="tbIn cmsHdmCon">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
          <div class="tbIn cmsHdmCon">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
          <div class="tbIn cmsHdmCon">
            <ul>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
              <li>
                <span class="llink"><a href="#">● 测试连接测试连接测试连接测试连接测试连接测试连接测试连接测试连接</a></span>
                <span class="tm">2016-05-05</span>
              </li>
            </ul>
            <div class="pagging">
              <a class="cur">首页</a>
              <a>上一页</a>
              <a>1</a>
              <a>2</a>
              <a>3</a>
              <a>4</a>
              <a>下一页</a>
              <a>末页</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
});
</script>
</body>
</html>
[/#escape]
