[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="账户信息修改" />
<meta name="description" content="账户信息修改" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href='_files/zhijia/css/jedate.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="_files/zhijia/css/cropper.css">
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script src="_files/jquery.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<!--<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>-->
<script type="text/javascript" src="_files/zhijia/js/jedate.js"></script>
<script type="text/javascript" src="_files/zhijia/js/cropper.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>账户信息修改</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="zhanghuInfoMain clearfix">
    <div class="inCons alls">
      <span class="gbk"><a href="${ctx}/space/${user.id}.jspx">返回我的个人中心</a></span>
      <div class="tbT cmsHdmTit">
        <a class="on">修改基本资料</a>
        <a>账户信息</a>
      </div>
      
      <div class="tbC">
        <div class="tbIn cmsHdmCon show">
          <form action="${ctx}/my/baseinfo.jspx" method="post">
            <input type="hidden" name="nextUrl" value="${url}"/>

          <div class="rowls">
            <span class="lts">真实姓名</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" name="realName" value="${(user.realName)!}" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="lbsc">
                  <label class="lbs"><input type="radio" name="gender" value="M" [#if user.gender?? && user.gender=='M'] checked="checked"[/#if]/>男</label>
                  <label class="lbs"><input type="radio" name="gender" value="F" [#if user.gender?? && user.gender=='F'] checked="checked"[/#if]/>女</label>
                  <label class="lbs"><input type="radio" name="gender" value="" [#if !user.gender??] checked="checked"[/#if]/>保密</label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input class="birsd" id="birthdays" type="text" name="birthDate" value="${(user.birthDate?string('yyyy-MM-dd'))!}" readonly="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">所在公司</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" name="company" value="${(user.company)!}" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" name="position" value="${(user.position)!}" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">居住地址</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" name="comeFrom" value="${(user.comeFrom)!}" placeholder="" />
                </div>
              </div>
            </div>
          </div>

          <div class="rowls">
            <span class="lts">自我介绍</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" name="bio" value="${(user.bio)!}" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="wcRows">
            <input type="submit" value="保存" />
          </div>
          </form>
          
        </div>
        <div class="tbIn pdt cmsHdmCon">
          
          <div class="row">
            <span class="lts">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</span>
            <div class="rits clearfix">
              <div class="picRow clearfix">
                <div class="upldBtn">
                  <img src="${(user.avatar)!}" id="result" />
                  <span>上传头像</span>
                  <input type="file" id="inputImage" />
                </div>
              </div>
              <span class="tps">仅支持JPG、PNG格式的图片文件，小于2MB</span>
              <div class="uplds">
                <div class="upldCrop"><img src="_files/zhijia/img/logo.png" id="image" /></div>
                <div class="upldR">
                  <a id="button">保存</a>
                  <button type="button" id="rotateL">左旋转</button>
                  <button type="button" id="rotateR">右旋转</button>
                  <button type="button" id="zoomIn">放大</button>
                  <button type="button" id="zoomOut">缩小</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="${(user.email)!}" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <form id="emailForm" action="${ctx}/my/email.jspx" method="post">
                  <input type="hidden" name="status_0" value="邮箱修改成功！"/>
                  <input type="hidden" name="nextUrl" value="${url}"/>
                <div class="rows">
                  <span class="ltss">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" name="password" value="" placeholder="密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新邮箱</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" name="email" value="" placeholder="新邮箱" />
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="rows">-->
                  <!--<span class="ltss">验证码</span>-->
                  <!--<div class="ritss clearfix">-->
                    <!--<div class="tIpts">-->
                      <!--<div class="ipts">-->
                        <!--<input type="text" value="" placeholder="验证码" />-->
                      <!--</div>-->
                      <!--<span class="btnss">免费领取</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <div class="wcRow">
                  <input type="submit" value="完成" />
                </div>
                </form>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">手&nbsp;机&nbsp;号</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="${(user.mobile)!}" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <form id="mobileForm" action="${ctx}/my/mobile.jspx" method="post">
                  <input type="hidden" name="status_0" value="手机号修改成功！"/>
                  <input type="hidden" name="nextUrl" value="${url}"/>

                <div class="rows">
                  <span class="ltss">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" name="password" value="" placeholder="密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新手机号</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" name="mobile" value="" placeholder="新手机号" />
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="rows">
                  <span class="ltss">验证码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" value="" placeholder="验证码" />
                      </div>
                      <span class="btnss JS-SendMsgCode">免费领取</span>
                    </div>
                  </div>
                </div>-->
                <div class="wcRow">
                  <input type="submit" value="完成" />
                </div>
                </form>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="password" value="${(user.password)!}" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <form id="passwordForm" action="${ctx}/my/password.jspx" method="post" >
                  <input type="hidden" name="nextUrl" value="${url}"/>
                <div class="rows">
                  <span class="ltss">原密码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" name="password" value="" placeholder="原密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新密码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input id="rawPassword" type="password" name="rawPassword" value="" placeholder="新密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">确认密码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" equalTo="#rawPassword" value="" placeholder="确认密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wcRow">
                  <input type="submit" value="完成" />
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
//var time,
//	timer,
//	remainningTime = function(){
//	  time--;
//	  if(time<=0){
//		clearInterval(timer);
//		$(".JS-SendMsgCode").removeClass("ings").html("重新发送");
//	  }else{
//		$(".JS-SendMsgCode").html("("+time+")"+"重新发送");
//	  }
//	};


jeDate({
	dateCell: '#birthdays',
	format: 'YYYY-MM-DD'
});
	
var $image = $('#image');
$(function(){
    $("#emailForm").validate();
    $("#mobileForm").validate();
    $("#passwordForm").validate();

//  $(".JS-SendMsgCode").on("click",function(){
//	  if(!$(this).hasClass("ings")){
//		time=60;
//		$(this).addClass("ings");
//		remainningTime();
//		timer=setInterval(remainningTime,1000);
//	  }
//	});
  
  $('.JS-SHChi').click(function(){
	  $(this).parents('.row').toggleClass('expChi');
	  });
  
  $('#rotateL').click(function(){
	  $('#image').cropper('rotate', -45)
	  });
  $('#rotateR').click(function(){
	  $('#image').cropper('rotate', 45)
	  });
  $('#zoomIn').click(function(){
	  $('#image').cropper('zoom', 0.1)
	  });
  $('#zoomOut').click(function(){
	  $('#image').cropper('zoom', -0.1)
	  });
  
   // Import image
  var $inputImage = $('#inputImage');
  var URL = window.URL || window.webkitURL;
  var originalImageURL = $image.attr('src');
  var uploadedImageURL;
  var options = {
        aspectRatio: 1 / 1
      };
  
  if (URL) {
    $inputImage.change(function () {
      var files = this.files;
      var file;

      if (!$image.data('cropper')) {
        return;
      }

      if (files && files.length) {
        file = files[0];

        if (/^image\/\w+$/.test(file.type)) {
          if (uploadedImageURL) {
            URL.revokeObjectURL(uploadedImageURL);
          }

          uploadedImageURL = URL.createObjectURL(file);
          $image.cropper('destroy').attr('src', uploadedImageURL).cropper(options);
          $inputImage.val('');
        } else {
          window.alert('Please choose an image file.');
        }
      }
    });
  } else {
    $inputImage.prop('disabled', true).parent().addClass('disabled');
  }
  
  });
</script>

<script>
    function getRoundedCanvas(sourceCanvas) {
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      var width = sourceCanvas.width;
      var height = sourceCanvas.height;

      canvas.width = width;
      canvas.height = height;
      context.beginPath();
      context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI);
      context.strokeStyle = 'rgba(0,0,0,0)';
      context.stroke();
      context.clip();
      context.drawImage(sourceCanvas, 0, 0, width, height);

      return canvas;
    }

    $(function () {
      var $button = $('#button');
      var $result = $('#result');
      var croppable = false;

      $image.cropper({
        aspectRatio: 1,
        viewMode: 1,
        built: function () {
          croppable = true;
        }
      });

      $button.on('click', function () {
        var croppedCanvas;
        var roundedCanvas;

        if (!croppable) {
          return;
        }

        // Crop
        croppedCanvas = $image.cropper('getCroppedCanvas');
        // Round
        roundedCanvas = getRoundedCanvas(croppedCanvas);
        // Show
        $result.attr('src', roundedCanvas.toDataURL());
        var data = roundedCanvas.toDataURL();

        $.ajax({
            url:'${ctx}/my/avatar_upload1.jspx',
            dataType:'json',
            type:'POST',
            data:{"image":data.toString()},
            success:function () {
            }
        });
      });
    });
</script>

</body>
</html>
[/#escape]
