<div class="tbIn cmsHdmCon show">
    [#if !page??][#if Param.page??][#assign page=Param.page?number][#else][#assign page=1/][/#if][/#if]
    [@InfoPage userId=targetUser.id pageSize='8'page=page;pagedList]
    <ul>
        [#list pagedList.content as info]
        <li>
            <span class="llink"><a href="${info.url}">● ${info.title}</a></span>
            <span class="tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
        </li>
        [/#list]
    </ul>
    <div class="pagging">
        [#include 'page.html'/]
    </div>
    [/@InfoPage]
</div>