<div class="tbIn cmsHdmCon show">
    [#if !page??][#if Param.page??][#assign page=Param.page?number][#else][#assign page=1/][/#if][/#if]
    [@FavPage ftype='InfoFav' userId=targetUser.id pageSize='8'page=page;pagedList]
    <ul>
        [#list pagedList.content as fav]
        <li>
            <span class="llink"><a href="${fav.anchor.url}">● ${substring(fav.anchor.title,30,'...')}</a></span>
            <span class="tm">${fav.date?string('yyyy-MM-dd HH:mm')}</span>
        </li>
        [/#list]
    </ul>
    <div class="pagging">
        [#include 'page.html'/]
    </div>
    [/@FavPage]
</div>