<!DOCTYPE html>
<html lang="zh-cmn-Hans"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script src="yewei_files/hm.js"></script><script src="yewei_files/push.js"></script>
<title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="applicable-device" content="pc">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">
<script type="text/javascript" async defer src="yewei_files/piwik.js"></script><script type="text/javascript" src="yewei_files/redirect.js"></script>

<link rel="stylesheet" href="yewei_files/reset.css">
<link rel="stylesheet" href="yewei_files/common.css">
<link rel="stylesheet" href="yewei_files/index.css">
</head>
<body>



 <div class="daohangtiao">
                      <div class="neirong1">
                   <img class="logo" src="images/新车_022.png"/> 
               <ul class="daohang">
                  
                  <a href="index.html"><li class="sy syd">首页</li></a>
                  <a href="xinche.html"><li class="sy">新车</li></a>
                  <a href="shangye.html"><li class="sy">商业</li></a>
                  <a href="keji.html"><li class="sy">科技</li></a>
                  <a href="#"><li class="sy">创客</li></a>
                  <a href="zhuanlan.html"><li class="sy">专栏</li></a>
                  <a href="zhuanti.html"><li class="sy">专题</li></a>
                  <a href="huodong.html"><li class="sy">活动</li></a>
                  <a href="sousuo.htm"><li class="fdj"></li></a>
                  <li class="suxian1"></li>
                  <form>
                  
                 <input class="shuru" type="text" value="请输入关键字" onfocus="if (value =='请输入关键字'){value =''}" onblur="if (value ==''){value='请输入关键字'}" />
                  
                  </form>
                  <li class="suxian2"></li>
                  <a href="denglu.htm"><li class="dl">登录</li></a>
                        
                 
          
          
               </ul>    
                      </div> 
               
                         
          </div>


<div class="g-wrap">
 
 

 
 
<div class="g-wrap-con g-wrap-con1 clearfix">
<ul class="m-lsts-r m-lsts-r1 fn-left">
<li><a href="#">关于我们</a></li>
<li><a href="http://www.cheyun.com/about/guanzhu">关注智驾</a></li>
<li><a href="http://www.cheyun.com/about/snews">新闻爆料</a></li>
<li><a href="http://www.cheyun.com/about/tougao">关于投稿</a></li>

<li><a href="http://www.cheyun.com/about/feedback">建议反馈</a></li>
<li><a href="http://www.cheyun.com/about/protocol">智驾协议</a></li>
<li><a href="http://www.cheyun.com/about/ads">广告服务</a></li>
</ul>
<div class="m-lsts-l fn-right">
 
<div class="we-in">
<h4>关于我们</h4>
<div class="we-in">
<p>
车云（<a href="index.html" target="_blank">http://www.zhijia.com</a>）
是隶属于启程未来科技(北京)有限公司的中国第一汽车科技网站。车云网专注于汽车的电动化、智能化、网联化。探索在移动互联网时代新的汽车科技、产品发展
潮流和消费时尚。车云网自上线以来，不但填补了汽车科技网站的空白，也以清新、专业、独到的定位与风格在众多汽车网站中独树一帜，在汽车科技领域成为第一
大影响力媒体。在新的移动互联网时代，车云网将在汽车消费的引领和指导上发挥先锋推动作用。
</p>
<p>
我们是热爱探索科技的极客，也是汽车消费时尚的引领者。我们关注具有独特技术亮点的品牌、车型、产品，我们报道车本身（硬件），也解读围绕车的应用和服务
（软件），既会“硬”起来，也会“软”下去。 当然，我们还关注一切皆在让汽车更智能、用车更便捷、购车更透明的创业项目，并与他们并肩推动产业的前行。
</p>
<p>
具体而微汽车科技包括如下几个层面：1、车身、行走机构、动力传动、外观内饰设计、空气动力学、人机工程等基础机械和传统技术的变化与革新；2、汽车上的
电子操控辅助装置及配置等电子科技的变化与革新；3、移动互联技术及未来科技，如电动车、车联网、交互智能系统、智能驾驶、无人驾驶以及IT、通讯技术，
以及更多我们没想到的科技在汽车上的应用。
</p>
<p>
我们恪守专业主义，信奉用户体验至上。车云拥有一支富于理想和激情的独立采编团队，同时也聚集了一群优秀的爱好者和草根写手，我们提供客观及时深度专业的原创报道，同时广泛汇聚网友不同的意见与声音。
</p>
<p>我们坚信少即是多。车云网栏目设置如下：<br>
技术：新技术、新产品、新领域……为你描述趋势，预测未来。<br>
商业：新事件、新趋势、新变化……为你解读变化，只甩干货。<br>
创业：新模式、新方法、新创意……为你层层剥茧，洞悉本真。<br>
另外，包括《创客》《创见》《洞见》《世界观》在内的精品栏目，将用深度思考，升华你的阅读体验。<br>
——这就是我们故事的开始，于2013年4月15日。
</p></div>
</div>
</div>
</div>


 


 <div class="dibu">
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        <div class="logozi">
                                                                                <div class="dilogo"></div>
                                                                                 
                                                                                    <ul class="zuobian1">
                                                                                    
                                                                                         <a href="#"><li class="dh">电话：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">邮箱：010-57094602</li></a>
                                                                                         <a href="#"><li class="dh">地址：北京 朝阳区</li></a> 
                                                                                         
                                                                                    </ul>   
                                                                        
                                                                                             <ul class="zuobian2">
                                                                                         
                                                                                                  <a href="yewei.htm"><li class="dh">关于智驾</li></a>
                                                                                                  <a href="yewei.htm"><li class="dh">关注我们</li></a>
                                                                                              
                                                                                         
                                                                                             </ul>
                                                                                    
                                                                                         
                                                                                                       <ul class="zuobian3">
                                                                                         
                                                                                                          <a href="tougao.htm"><li class="dh">投稿</li></a>
                                                                                                          <a href="xunqiubaodao.html"><li class="dh">寻求报道</li></a>
                                                                                              
                                                                                         
                                                                                                       </ul>
                                                                        
                                                                        
                                                                        
                                                                                            <ul class="zuobian4">
                                                                                         
                                                                                                          <a href="fabuhuodong.htm"><li class="dh">发布活动</li></a>
                                                                                                          <a href="huodong.html"><li class="dh">精彩活动，最先发现</li></a>
                                                                                                          
                                                                                         <form>
                                                                                             
                                                                                             
                                                                                             
                                           <input class="shurukuang" type="text" value="填写邮箱，订阅" onfocus="if (value =='填写邮箱，订阅'){value =''}" onblur="if (value ==''){value='填写邮箱，订阅'}" />
                                                                                               
                                                                          
                                           <input  class="dingyue" type="button" value="立即订阅" />
                                                                                                  
                                                                        
                                                                                         </form>
                                                                                         
                                                                                             </ul>
                                                                                            
                                                                                                                 <ul class="zuobian5">
                                                                                                                   
                                                                                                                    <a href="yewei.htm"><li class="dh">建议反馈</li></a>
                                                                                                                 
                                                                                                                 </ul>
                                                                                                  
                                                                        
                                                                        </div>
                                                                        
                                                                        
                                                                        
                                                                       
                                                                        
                                                                                                         <div class="dixiaxiaozi"> 
                                                                                                         
                                                               <ul class="diyixiao">北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2009 - 2014</ul>
                                                               <ul class="diyixiao"> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网</ul>
                                                               <a href="#"><ul class="diyixiao">京ICP备14027737号-1</ul></a>
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                                         </div> 
                                                                                                         
                                                                                                         
                                                                                                         
                                                                                    
                                                                        
                                                                        
                                                                        
                                                                  
                                                                  
                                                             </div>
                                                                                           
</body></html>