[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.name}" />
<meta name="description" content="${node.description}" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="zixunMain clearfix">
    <div class="tpBigImgs">
      <script src="${ctx}/dd_number/zhuanlanTop.jspx"></script>
    </div>

    <div class="left">
      <div class="cmMLIns lnpdt">
        <div class="lList cmsHdmCon show">
        [@InfoList memberGroupId='2' limit='7';list]
        <ul>
        [#list list as info]
        <li class="row">
            <div class="cmLstMd clearfix">
              <a href="${info.url}" class="cLMImg">
                <img src="${info.smallImageUrl}" />
              </a>
              <div class="cLMRit">
                [#list info.tagKeywords?split(',') as tagKeyword]
                [#if tagKeyword_index = 0][#assign tag = tagKeyword][/#if]
                [/#list]
                <div class="cRT1">
                  <a href="${ctx}/tagname/${tag?url}.jspx" class="tag[#if info_index % 4 = 0] blue[#elseif info_index % 4 = 1] green[#elseif info_index % 4 = 2] red[#else] yellow[/#if]">+ ${tag}</a>
                  <span class="cTT1"><a href="${info.url}">${substring(info.title,30,'')!''}</a></span>
                </div>
                <div class="cTT2">${substring(info.fullTitle,70,'...')!''}</div>
                <div class="cTT3">
                  <div class="c3tl">
                    <a href="${ctx}/creator/${info.creator.id}.jspx"><img src="${(info.creator.avatarSmall)!'${ctx}/template/global/avatar_small.jpg'}" />${(info.author)!(info.creator.realName)}</a>
                  </div>
                  <span class="c3tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
                  <a class="bts zns">${info.diggs}</a>
                  <a class="bts sts">${info.favs}</a>
                  <a class="bts mes">${info.comments}</a>
                </div>
              </div>
            </div>
        </li>
        [/#list]
        </ul>
        [/@InfoList]
        </div>
        <div class="cmLoadMore">
          [@Node number='columns';node]<a href="${node.url}" target="_blank">加载更多</a>][/@Node]
        </div>
      </div>
    </div>

    <div class="right">
      <div class="cmADMd">
      <script src="${ctx}/dd_number/ad_zhuanlan1.jspx"></script>
      </div>
      <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>特约专栏</span>
            <!--<a href="#">全部</a>-->
          </div>
          [@MemberList memberGroupId='2' status='0' limit='8';list]
          <ul class="tyzl">
          [#list list as member]
            <li>
              <a href="${ctx}/creator/${member.id}.jspx" class="tyimg">
                <img src="${(member.avatarLarge)!'${ctx}/template/global/avatar_large.jpg'}">
              </a>
              <div class="tyrt">
                <span class="cTt1 slice"><a href="${ctx}/creator/${member.id}.jspx">${(member.realName)!'未知'}</a></span>
                <span class="cTt2">${(member.bio)!''}</span>
              </div>
            </li>
          [/#list]
          </ul>
          [/@MemberList]
        </div>
      </div>
      <div class="cmADMd mgt">
      <script src="${ctx}/dd_number/ad_zhuanlan2.jspx"></script>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]