[#escape x as (x)!?html]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${node.name}</title>
<link href="_files/zhijia/zhuanti.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="dabeijing">
[#include 'inc_header.html'/]
        <div class="lunbo">
            <a href="zhuantiziye.html"><img class="lb"
                src="images/zhuanti/专题_03.png" /></a> <a href="#"><p
                    class="zizhu">年度车2016大奖得主</p></a>
        </div>
        <div class="neirongqu">
            <div class="shangsantu">
                <div class="tu1jiazi">
                    <a href="#"><img class="ttq"
                        src="images/zhuanti/专题_07.png" /></a> <a href="#"><p
                            class="jinkou">进口汽车市场表现低迷，增速下滑</p></a> <a
                        href="#"><p class="dache">大车企销量数据相继出炉，在销量变化的背后。</p></a>
                    <img class="pinglun"
                        src="images/danbiaoqian/单标签列表_06.png" />
                    <p class="ssq">27</p>
                    <img class="pinglunw"
                        src="images/danbiaoqian/单标签列表_08.png" />
                    <p class="ssw">5</p>
                    <img class="pinglune"
                        src="images/danbiaoqian/单标签列表_11.png" />
                    <p class="sse">15</p>
                    <div class="xiakuai"></div>
                </div>
                <div class="tu2jiazi">
                    <a href="#"><img class="ttq2"
                        src="images/zhuanti/专题_09.png" /></a> <a href="#"><p
                            class="jinkou2">中国汽车工程学会年会暨展览会</p></a> <a
                        href="#"><p class="dache2">大车企销量数据相继出炉，在销量变化的背后。</p></a>
                    <img class="pinglun2"
                        src="images/danbiaoqian/单标签列表_06.png" />
                    <p class="ssq2">27</p>
                    <img class="pinglunw2"
                        src="images/danbiaoqian/单标签列表_08.png" />
                    <p class="ssw2">5</p>
                    <img class="pinglune2"
                        src="images/danbiaoqian/单标签列表_11.png" />
                    <p class="sse2">15</p>
                    <div class="xiakuai2"></div>
                </div>

                <div class="tu3jiazi">
                    <a href="#"><img class="ttq3"
                        src="images/zhuanti/专题_11.png" /></a> <a href="#"><p
                            class="jinkou3">2016CES</p></a> <a href="#"><p
                            class="dache3">大车企销量数据相继出炉，在销量变化的背后。</p></a> <a
                        href="#">
                        <p class="dache3">大车企销量数据相继出炉，在销量变化的背后。</p>
                    </a> <img class="pinglun3"
                        src="images/danbiaoqian/单标签列表_06.png" />
                    <p class="ssq3">27</p>
                    <img class="pinglunw3"
                        src="images/danbiaoqian/单标签列表_08.png" />
                    <p class="ssw3">5</p>
                    <img class="pinglune3"
                        src="images/danbiaoqian/单标签列表_11.png" />
                    <p class="sse3">15</p>
                    <div class="xiakuai3"></div>
                </div>
            </div>
            <div class="zhongneirong">
                <div class="zhongtu">
                    <a href="#"><img class="zdt"
                        src="images/zhuanti/专题_16.png" /></a>
                    <div class="xiakuaiz"></div>
                    <a href="#"><p class="wow">WOW!新媒体营销会</p></a> <a
                        href="#"><p class="mn">每年春天，我们会从“创新创意”“传播转化”、“整合协同”等维度出发，评选年度最佳新媒体营销</p></a>
                    <img class="pl"
                        src="images/danbiaoqian/单标签列表_06.png" />
                    <p class="dtz">27</p>
                    <img class="pl2"
                        src="images/danbiaoqian/单标签列表_08.png" />
                    <p class="dtz2">5</p>
                    <img class="pl3"
                        src="images/danbiaoqian/单标签列表_11.png" />
                    <p class="dtz3">15</p>
                </div>
            </div>
            <div class="hezi1">
                <a href="#"><img class="chetu1"
                    src="images/智驾_03.png" /></a> <a
                    href="quanbubiaoqian.htm"><img class="biaoqian1"
                    src="images/智驾_05_06.png" /></a> <a href="#"><b><p
                            class="yihang">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a> <a
                    href="#"><p class="erhang">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                <a href="#"><p class="sanhang">竞争的新局面。</p></a> <a
                    href="#"><img class="txq"
                    src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                    href="#"><p class="tyzy">天佑左右</p></a> <a href="#"><p
                        class="fzq">15分钟前</p></a> <a href="#"><img
                    class="xpl" src="images/danbiaoqian/单标签列表_06.png" /></a>
                <a href="#"><p class="szq">27</p></a> <a href="#"><img
                    class="scq" src="images/danbiaoqian/单标签列表_08.png" /><</a>
                <a href="#"><p class="szw">5</p></a> <a href="#"><img
                    class="za" src="images/danbiaoqian/单标签列表_11.png" /></a>
                <a href="#"><p class="sze">15</p></a>
            </div>
            <div class="hezi2">
                <a href="#"><img class="chetu12"
                    src="images/智驾_03.png" /></a> <a
                    href="quanbubiaoqian.htm"><img
                    class="biaoqian12" src="images/智驾_05_06.png" /></a> <a
                    href="#"><b><p class="yihang2">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                <a href="#"><p class="erhang2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                <a href="#"><p class="sanhang2">竞争的新局面。</p></a> <a
                    href="#"><img class="txq2"
                    src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                    href="#"><p class="tyzy2">天佑左右</p></a> <a href="#"><p
                        class="fzq2">15分钟前</p></a> <a href="#"><img
                    class="xpl2" src="images/danbiaoqian/单标签列表_06.png" /></a>
                <a href="#"><p class="szq2">27</p></a> <a href="#"><img
                    class="scq2" src="images/danbiaoqian/单标签列表_08.png" /><</a>
                <a href="#"><p class="szw2">5</p></a> <a href="#"><img
                    class="za2" src="images/danbiaoqian/单标签列表_11.png" /></a>
                <a href="#"><p class="sze2">15</p></a>
            </div>
            <div class="jiazai">
                <a href="zixun.html"><p class="gengduo">加载更多</p></a>
            </div>
        </div>
[#include 'inc_footer.html'/]
</div>
</body>
</html>
[/#escape]