[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="专题" />
<meta name="description" content="专题" />
<link rel="icon" href="_files/zhijia/img/R.ico" mce_href="_files/zhijia/img/R.ico" type="image/x-icon">
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>专题_${site.fullNameOrName}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="zhuantiMain clearfix">
  [@SpecialList isRecommend='true' limit='5';list]
  [#list list as special]
    <a href="${ctx}/special/${special.id}.jspx" class="lTpImg">
      <img src="${special.largeImageUrl}">
      <div class="tt slice_span"><span>${special.title}</span></div>
    </a>
  [/#list]
  [/@SpecialList]
    <div class="cons">
      <div class="incs">
        <div class="mdFlt">
        [@SpecialList isRecommend='false' limit='7';list]
        <ul>
        [#list list as special]
        <li class="mds[#if special_index=3] mids[/#if]">
            <a href="${ctx}/special/${special.id}.jspx" class="imgs">
              <img src="[#if special_index=3]${special.largeImageUrl}[#else]${special.smallImageUrl}[/#if]">
            </a>
            <span class="tt1 slice">${special.title}</span>
            <!--<span class="tt2 slice">${special.metaDescription}</span>-->
        </li>
        [/#list]
        </ul>
        [/@SpecialList]
        </div>
        <div class="cmLoadMore"><a href="${ctx}/special_category/1.jspx">查看更多</a></div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]