[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${node.name}" />
<meta name="description" content="${node.description}" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>${node.name}</title>
</head>
<body>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="zixunMain clearfix">
    <div class="left">
      <div class="cmMLIns lnpdt">
        <div class="lList cmsHdmCon show">
        [@InfoList nodeId=node.id limit='8';list]
        <ul>
        [#list list as info]
        <li class="row">
            <div class="cmLstMd clearfix">
              <a href="${info.url}" class="cLMImg">
                <img src="${info.smallImageUrl}" />
              </a>
              <div class="cLMRit">
                <div class="cRT1">
                  <a href="${ctx}/tagname/${info.tagKeywords?url}.jspx" class="tag[#if info_index % 2 = 0] blue[#else] green[/#if]">+ ${info.tagKeywords}</a>
                  <span class="cTT1"><a href="${info.url}">${info.title}</a></span>
                </div>
                <div class="cTT2">${info.fullTitle}</div>
                <div class="cTT3">
                  <div class="c3tl">
                    <a href="#"><img src="_files/zhijia/img/cir1.jpg" />${info.author}</a>
                  </div>
                  <span class="c3tm">${info.publishDate?string('yyyy-MM-dd HH:mm')}</span>
                  <a class="bts zns">${info.comments}</a>
                  <a class="bts sts">${info.score}</a>
                  <a class="bts mes">${info.diggs}</a>
                </div>
              </div>
            </div>
        </li>
        [/#list]
        </ul>
        [/@InfoList]
        </div>
        <!-- <div class="cmLoadMore"><a>查看更多</a></div> -->
      </div>
    </div>

    <div class="right">
      <div class="cmADMd">
      <script src="${ctx}/dd_number/ad_zhuanlan1.jspx"></script>
      </div>
      <div class="rtCmMd mgt">
        <div class="inCons">
          <div class="rtCmTit">
            <span>特约专栏</span>
            <a href="#">全部</a>
          </div>
          <ul class="tyzl">
          [#list 1..5 as dt]
            <li>
              <a href="#" class="tyimg">
                <img src="_files/zhijia/img/cir3.jpg">
              </a>
              <div class="tyrt">
                <span class="cTt1 slice"><a href="#">葛甲</a></span>
                <span class="cTt2">互联网发展史研究者和观察者，长期从业者,对电子商务、供应链和从业者</span>
              </div>
            </li>
          [#list]
          </ul>
        </div>
      </div>
      <div class="cmADMd">
      <script src="${ctx}/dd_number/ad_zhuanlan2.jspx"></script>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){

});
</script>
</body>
</html>
[/#escape]