[#escape x as (x)!?html]
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${node.name}</title>
<link href="_files/zhijia/zhuanlan.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="dabeijing">
[#include 'inc_header.html'/]
        <div class="lunbo">
            <a href="#"><img class="lb"
                src="images/zhuanlan/专栏_03.png" /></a> <a href="#"><p
                    class="zizhu">汇聚业界精英&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;意见领袖的先锋</p></a>
        </div>
        <div class="daneirong">
            <div class="zuobeijing">
                <div class="hezi1">
                    <a href="#"><img class="chetu1"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian1" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang">竞争的新局面。</p></a> <a
                        href="#"><img class="txq"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy">天佑左右</p></a> <a
                        href="#"><p class="fzq">15分钟前</p></a> <a
                        href="#"><img class="xpl"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq">27</p></a> <a href="#"><img
                        class="scq"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw">5</p></a> <a href="#"><img
                        class="za" src="images/danbiaoqian/单标签列表_11.png" /></a>
                    <a href="#"><p class="sze">15</p></a>
                </div>
                <div class="hezi2">
                    <a href="#"><img class="chetu12"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian12" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang2">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang2">竞争的新局面。</p></a> <a
                        href="#"><img class="txq2"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy2">天佑左右</p></a> <a
                        href="#"><p class="fzq2">15分钟前</p></a> <a
                        href="#"><img class="xpl2"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq2">27</p></a> <a href="#"><img
                        class="scq2"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw2">5</p></a> <a href="#"><img
                        class="za2"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze2">15</p></a>
                </div>
                <div class="hezi3">

                    <a href="#"><img class="chetu123"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian123" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang23">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang23">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang23">竞争的新局面。</p></a> <a
                        href="#"><img class="txq23"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy23">天佑左右</p></a> <a
                        href="#"><p class="fzq23">15分钟前</p></a> <a
                        href="#"><img class="xpl23"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq23">27</p></a> <a href="#"><img
                        class="scq23"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw23">5</p></a> <a href="#"><img
                        class="za23"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze23">15</p></a>
                </div>
                <div class="hezi4">
                    <a href="#"><img class="chetu1234"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian1234" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang234">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang234">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang234">竞争的新局面。</p></a> <a
                        href="#"><img class="txq234"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy234">天佑左右</p></a> <a
                        href="#"><p class="fzq234">15分钟前</p></a> <a
                        href="#"><img class="xpl234"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq234">27</p></a> <a
                        href="#"><img class="scq234"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw234">5</p></a> <a href="#"><img
                        class="za234"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze234">15</p></a>
                </div>
                <div class="hezi5">

                    <a href="#"><img class="chetu12345"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian12345" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang2345">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang2345">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang2345">竞争的新局面。</p></a> <a
                        href="#"><img class="txq2345"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy2345">天佑左右</p></a> <a
                        href="#"><p class="fzq2345">15分钟前</p></a> <a
                        href="#"><img class="xpl2345"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq2345">27</p></a> <a
                        href="#"><img class="scq2345"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw2345">5</p></a> <a
                        href="#"><img class="za2345"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze2345">15</p></a>
                </div>
                <div class="hezi6">

                    <a href="#"><img class="chetu123456"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian123456" src="images/智驾_05_06.png" /></a>
                    <a href="#"><b><p class="yihang23456">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang23456">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang23456">竞争的新局面。</p></a>
                    <a href="#"><img class="txq23456"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy23456">天佑左右</p></a> <a
                        href="#"><p class="fzq23456">15分钟前</p></a> <a
                        href="#"><img class="xpl23456"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq23456">27</p></a> <a
                        href="#"><img class="scq23456"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw23456">5</p></a> <a
                        href="#"><img class="za23456"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze23456">15</p></a>
                </div>
                <div class="hezi7">

                    <a href="#"><img class="chetu1234567"
                        src="images/智驾_03.png" /></a> <a
                        href="quanbubiaoqian.htm"><img
                        class="biaoqian1234567"
                        src="images/智驾_05_06.png" /></a> <a href="#"><b><p
                                class="yihang234567">SUV带动车市回暖背后：自主品牌解码成长危机</p></b></a>
                    <a href="#"><p class="erhang234567">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场</p></a>
                    <a href="#"><p class="sanhang234567">竞争的新局面。</p></a>
                    <a href="#"><img class="txq234567"
                        src="images/danbiaoqian/单标签列表_03.png" /></a> <a
                        href="#"><p class="tyzy234567">天佑左右</p></a> <a
                        href="#"><p class="fzq234567">15分钟前</p></a> <a
                        href="#"><img class="xpl234567"
                        src="images/danbiaoqian/单标签列表_06.png" /></a> <a
                        href="#"><p class="szq234567">27</p></a> <a
                        href="#"><img class="scq234567"
                        src="images/danbiaoqian/单标签列表_08.png" /><</a> <a
                        href="#"><p class="szw234567">5</p></a> <a
                        href="#"><img class="za234567"
                        src="images/danbiaoqian/单标签列表_11.png" /></a> <a
                        href="#"><p class="sze234567">15</p></a>
                </div>
                <a href="zixun.html"><div class="gengduo">查看更多</div></a>
            </div>
            <div class="youhezi">
                <a href="#"><img class="youguanggao1"
                    src="images/zhuanlan/专栏_023.png" /></a>
                <div class="youbeijing1">
                    <ul class="biaoti1">
                        <li class="suxianyou1"></li>
                        <b><li class="zhijiayou">特约专栏</li></b>
                        <a href="#"><li class="quanbu1">全部</li></a>
                    </ul>
                    <div class="zhuanlan1">
                        <a href="#"><img class="zt1"
                            src="images/zhuanlan/专栏_07.png" /></a> <a
                            href="#"><p class="zlq">张琳</p>
                            <p class="zlw">目前在美攻读MBA,原电商行业从业 ,</p>
                            <p class="zle">从业者,对电子商务、供应链和从业者</p>
                            <p class="zlr">时间的互联网保。</p></a>
                    </div>
                    <div class="zhuanlan2">
                        <a href="#"><img class="zt2"
                            src="images/zhuanlan/专栏_10.png" /></a> <a
                            href="#"><p class="zlqq">张琳</p>
                            <p class="zlww">目前在美攻读MBA,原电商行业从业 ,</p>
                            <p class="zlee">从业者,对电子商务、供应链和从业者</p>
                            <p class="zlrr">时间的互联网保。</p></a>
                    </div>
                    <div class="zhuanlan3">
                        <a href="#"><img class="zt3"
                            src="images/zhuanlan/专栏_12.png" /></a> <a
                            href="#"><p class="zlqqq">张琳</p>
                            <p class="zlwww">目前在美攻读MBA,原电商行业从业 ,</p>
                            <p class="zleee">从业者,对电子商务、供应链和从业者</p>
                            <p class="zlrrr">时间的互联网保。</p></a>
                    </div>
                    <div class="zhuanlan4">
                        <a href="#"><img class="zt4"
                            src="images/zhuanlan/专栏_15.png" /></a> <a
                            href="#"><p class="zlqqqq">张琳</p>
                            <p class="zlwwww">目前在美攻读MBA,原电商行业从业 ,</p>
                            <p class="zleeee">从业者,对电子商务、供应链和从业者</p>
                            <p class="zlrrrr">时间的互联网保。</p></a>
                    </div>
                    <div class="zhuanlan5">
                        <a href="#"><img class="zt5"
                            src="images/zhuanlan/专栏_19.png" /></a> <a
                            href="#"><p class="zlqqqqq">张琳</p>
                            <p class="zlwwwww">目前在美攻读MBA,原电商行业从业 ,</p>
                            <p class="zleeeee">从业者,对电子商务、供应链和从业者</p>
                            <p class="zlrrrrr">时间的互联网保。</p></a>
                    </div>
                </div>
                <a href="#"><img class="youguanggao2"
                    src="images/zhuanlan/专栏_023.png" /></a>
            </div>
        </div>
[#include 'inc_footer.html'/]
</div>
</body>
</html>
[/#escape]
