[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="AutoR智驾" />
<meta name="description" content="AutoR智驾" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>AutoR智驾</title>
</head>
<body>

<div class="topAdRow">
  <!-- <a href="#">
    <img src="_files/zhijia/img/topAd.jpg" />
  </a> -->
  <script src="${ctx}/dd_number/lastpageTop.jspx"></script>
  <i class="JS-tpAdCloseBtn" title="关闭"></i>
</div>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="yeweiMain">
    <div class="incons alls">
      <div class="lMn cmsHdmTit">
        <a class="on">关于智驾</a>
        <a>关于投稿</a>
        <a>寻求报道</a>
        <a>发布活动</a>
        <a>商务合作</a>
        <a>联系我们</a>
      </div>
      <div class="rCcon">
        <div class="atcC cmsHdmCon show">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoR智驾传媒是国内第一家关注汽车科技、汽车智能化与互联网汽车商业模式
          的垂直类汽车科技媒体公司。公司以关注汽车业内科技动态、产品测评、国外技术前沿、商业变革观察为己
          任，发掘业内观点，展示汽车技术进步为目标。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AutoR智驾传媒旗下拥有《AutoR智驾》杂志、AutoR智驾网、AutoR智驾微信公众
          号等全媒体凭条，平台大量原创内容同步推送今日头条、汽车之家、易车、新浪、搜狐、网易、凤凰、界面、
          百度、喜乐航等媒体公众平台。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《AutoR智驾》杂志隶属中国工业与信息化部，由中国信息产业商会智能汽车分会
          （筹）指导，中国电子企业协会和中国电子器材总公司主办，是中国第一本专注于汽车科技、汽车进化的汽车
          杂志。在汽车智能革命的前夜，智驾网将与《AutoR智驾》杂志一道，以科技视角发现汽车工业典型样本，解
          读成功汽车品牌独特基因，挖掘成功产品制胜秘籍，权威展望和品鉴最新汽车产品。
        </div>
        <div class="atcC cmsHdmCon">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非常感谢您的关注和支持，请将投稿稿件以邮件附件形式发送至以下邮箱，我们
          将在第一时间与您联系。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿地址：editor@autor.com.cn<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：010-65030507<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投稿题材应与汽车，创业，科技等相关，字数要求在1000字以上。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特别提示：请在投稿邮件中详细注明投稿人 姓名、联系电话、稿件来源（原创或者稿件出处）。我们将根据新
          闻内容性来决定稿件是否被采用，一经采用我们将视稿件采用情况支付一定稿费。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;再次感谢您的支持和关注。
        </div>
        <div class="atcC cmsHdmCon">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寻求报道请按照网页中要求仔细填写，尽可能提交准确的公司信息。信息的全面性
          与详尽性，是我们筛选与判断的基础。对符合要求的项目，AutoR智驾编辑团队会尽快与创业团队联系进一步访
          谈事宜。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有宣传报道，均不收取任何费用。
        </div>
        <div class="atcC cmsHdmCon">
        这里44444444444放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里555555555放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里666666666放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
    if(${tabIndex}) {
        var obj = $(".cmsHdmTit a").eq(${tabIndex});
        obj.addClass("on");
        obj.siblings().removeClass("on");
        obj.parents(".alls").find(".cmsHdmCon:eq(${tabIndex})").addClass('show');
        obj.parents(".alls").find(".cmsHdmCon:eq(${tabIndex})").siblings(".cmsHdmCon").removeClass('show');
    }
});
</script>
</body>
</html>
[/#escape]