[#escape x as (x)!?html]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="AutoR智驾" />
<meta name="description" content="AutoR智驾" />
<link href="_files/zhijia/css/common.css" type="text/css" rel="stylesheet" />
<link href="_files/zhijia/css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="_files/zhijia/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="_files/zhijia/js/custom.js"></script>
<title>AutoR智驾</title>
</head>
<body>

<div class="topAdRow">
  <a href="#">
    <img src="_files/zhijia/img/topAd.jpg" />
  </a>
  <i class="JS-tpAdCloseBtn" title="关闭"></i>
</div>

[#include 'inc_header.html'/]

<!--Content Start-->
<div class="content">
  <div class="yeweiMain">
    <div class="incons alls">
      <div class="lMn cmsHdmTit">
        <a class="on">关于智驾</a>
        <a>关于投稿</a>
        <a>寻求报道</a>
        <a>发布活动</a>
        <a>商务合作</a>
        <a>联系我们</a>
      </div>
      <div class="rCcon">
        <div class="atcC cmsHdmCon show">
        这里111111放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里22222222放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里3333333333放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里44444444444放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里555555555放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
        <div class="atcC cmsHdmCon">
        这里666666666放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！<br />
        这里放文章内容！！
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

[#include 'inc_footer.html'/]

<script>
$(function(){
    if(${tabIndex}) {
        var obj = $(".cmsHdmTit a").eq(${tabIndex});
        obj.addClass("on");
        obj.siblings().removeClass("on");
        obj.parents(".alls").find(".cmsHdmCon:eq(${tabIndex})").addClass('show');
        obj.parents(".alls").find(".cmsHdmCon:eq(${tabIndex})").siblings(".cmsHdmCon").removeClass('show');
    }
});
</script>
</body>
</html>
[/#escape]