<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="chuangkeDesMain clearfix">
    <div class="left">
      <div class="lMd1">
        <div class="lgs">
          <a><img src="images/nnLgs.jpg" /></a>
        </div>
        <div class="rit">
          <span class="tt1"><a class="lk">牛牛汽车</a></span>
          <span class="tt2">发布时间 : 2015-3-8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="lk">汽车</a><a class="lk">工具软件</a><a class="lk">电子商务</a><a class="lk">其他</a></span>
          <span class="tt3">牛牛汽车是全国领先的新车B2B交易平台</span>
        </div>
      </div>
      <div class="lMd2">
        <div class="lTabT cmsHdmTit" id="cpjj">
	      <a class="on" href="#cpjj">产品简介</a>
		  <a href="#jzys">竞争优势</a>
		  <a href="#cpcj">产品成绩</a>
		  <a href="#fbpl">发表评论</a>
	    </div>
        <div class="lAtcC">
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！
        </div>
        <div class="secT" id="jzys">
	      <a>竞争优势</a>
	    </div>
        <div class="lAtcC">
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！
        </div>
        <div class="secT" id="cpcj">
	      <a>产品成绩</a>
	    </div>
        <div class="lAtcC">
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！<br />
          这里放内容！！
        </div>
        <div class="secT" id="fbpl">
	      <a>发表评论</a>
	    </div>
        <textarea class="lTCc"></textarea>
        <div class="lTCr"><input type="button" value="发表" class="pubBtn"></div>
        
      </div>
    </div>
    
    <div class="right">
      <div class="rMd1">
        <span class="t1">分享</span>
        <div class="icR">
          <a class="lk ic1"></a>
          <a class="lk ic2"></a>
          <a class="lk ic3"></a>
        </div>
      </div>
      <div class="rMd2">
        <div class="secT">
	      <a>团队介绍</a>
	    </div>
        <div class="r2In"><strong>创始人</strong>：陈琰俊<br /><strong>简介</strong>：陈琰俊，上海交大硕士毕业，永达投资集团投研部总监，永达汽车。运营中心销售总监。</div>
        <div class="secT">
	      <a>公司信息</a>
	    </div>
        <div class="r2In"><strong>公司</strong>：上海爱擎网络科技有限公司<br /><strong>网址</strong>：http://www.niuniuqiche.co..<br /><strong>融资</strong>： A轮<br /><strong>中骏资本、九合创投|￥1050万</strong><br /><strong>员工</strong>：15～50人<br /><strong>地址</strong>：上海市<br /><strong>成立时间</strong>：2014-09-24<br /><strong>公司类型</strong>：有限责任公司</div>
        <div class="secT">
	      <a>团队介绍</a>
	    </div>
        <ul class="rList slice_li">
          <li><a href="#">如何实现一分钟来电弹屏</a></li>
          <li><a href="#">天母蓝鸟：连锁企业做运维，先破</a></li>
          <li><a href="#">诺普信：让IT运维服务与企业业务发展</a></li>
          <li><a href="#">易维帮助台，弥补木桶效应的那块短板</a></li>
          <li><a href="#">互联网时代，企业凭什么重新定义客户</a></li>
        </ul>
        <a href="#" class="rBtn1">对TA感兴趣</a>
        <div class="tpRow">
          <a class="zcBtn zan">0</a>
          <a class="zcBtn cai">0</a>
        </div>
      </div>
      
      <div class="rTCr"><a href="#" class="pubBtn">发布创业项目<br />+</a></div>
      
    </div>
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>
$(function(){
  
  });
</script>
</body>
</html>
