<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/raphael.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/circlePct.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="dgcxMain clearfix">
    <div class="left">
	  <div class="cmMLIns">
        <div class="breadCast"><a href="#">首页</a><span>&gt;</span><a href="#">所有车型</a><span>&gt;</span>个人主页</div>
		<div class="h1"><img src="images/carLogo.png" class="carLg" />RAV4 荣放</div>
        <div class="swtchCon">
		  <img src="images/dm28.jpg" class="views" />
		</div>
        <div class="collsRow">
		  <div class="cRIn">
		    <a class="imgs" dataUrl="images/dm22.jpg"><img src="images/dm29.jpg" /></a>
			<a class="imgs" dataUrl="images/dm26.jpg"><img src="images/dm29.jpg" /></a>
			<a class="imgs" dataUrl="images/midSlide.jpg"><img src="images/dm29.jpg" /></a>
		    <a class="imgs vod" dataUrl="<embed src='http://player.youku.com/player.php/Type/Folder/Fid//Ob//sid/XMTgwNjk3ODkyNA==/v.swf' quality='high' width='774' height='364' align='middle' allowScriptAccess='always' allowFullScreen='true' mode='transparent' type='application/x-shockwave-flash'></embed>"><img src="images/dm29.jpg" /><i class="ics"></i></a>
		  </div>
		</div>
		<div class="cmTits">
		  <span class="ltts">相关文章</span>
		</div>
		<div class="lList cmsHdmCon show">
		  <div class="row">
		    <div class="cmLstMd clearfix">
			  <a href="#" class="cLMImg">
			    <img src="images/dm2.jpg">
			  </a>
			  <div class="cLMRit">
			    <div class="cRT1">
				  <a href="#" class="tag blue">+最新</a>
				  <span class="cTT1"><a href="#">SUV带动车市回暖背后：自主品牌解码成长危机</a></span>
				</div>
			    <div class="cTT2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场竞争的新局面。</div>
				<div class="cTT3">
				  <div class="c3tl">
				    <a href="#"><img src="images/cir1.jpg">天佑左右</a>
				  </div>
				  <span class="c3tm">15分钟前</span>
				  <a class="bts zns">15</a>
				  <a class="bts sts">5</a>
				  <a class="bts mes">27</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
		    <div class="cmLstMd clearfix">
			  <a href="#" class="cLMImg">
			    <img src="images/dm2.jpg">
			  </a>
			  <div class="cLMRit">
			    <div class="cRT1">
				  <a href="#" class="tag blue">+最新</a>
				  <span class="cTT1"><a href="#">SUV带动车市回暖背后：自主品牌解码成长危机</a></span>
				</div>
			    <div class="cTT2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场竞争的新局面。</div>
				<div class="cTT3">
				  <div class="c3tl">
				    <a href="#"><img src="images/cir1.jpg">天佑左右</a>
				  </div>
				  <span class="c3tm">15分钟前</span>
				  <a class="bts zns">15</a>
				  <a class="bts sts">5</a>
				  <a class="bts mes">27</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
		    <div class="cmLstMd clearfix">
			  <a href="#" class="cLMImg">
			    <img src="images/dm2.jpg">
			  </a>
			  <div class="cLMRit">
			    <div class="cRT1">
				  <a href="#" class="tag green">+最新</a>
				  <span class="cTT1"><a href="#">SUV带动车市回暖背后：自主品牌解码成长危机</a></span>
				</div>
			    <div class="cTT2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场竞争的新局面。</div>
				<div class="cTT3">
				  <div class="c3tl">
				    <a href="#"><img src="images/cir1.jpg">天佑左右</a>
				  </div>
				  <span class="c3tm">15分钟前</span>
				  <a class="bts zns">15</a>
				  <a class="bts sts">5</a>
				  <a class="bts mes">27</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="row">
		    <div class="cmLstMd clearfix">
			  <a href="#" class="cLMImg">
			    <img src="images/dm2.jpg">
			  </a>
			  <div class="cLMRit">
			    <div class="cRT1">
				  <a href="#" class="tag green">+最新</a>
				  <span class="cTT1"><a href="#">SUV带动车市回暖背后：自主品牌解码成长危机</a></span>
				</div>
			    <div class="cTT2">2016年时间过半，各大车企销量数据相继出炉，在销量变化的背后，已呈现出市场竞争的新局面。</div>
				<div class="cTT3">
				  <div class="c3tl">
				    <a href="#"><img src="images/cir1.jpg">天佑左右</a>
				  </div>
				  <span class="c3tm">15分钟前</span>
				  <a class="bts zns">15</a>
				  <a class="bts sts">5</a>
				  <a class="bts mes">27</a>
				</div>
			  </div>
			</div>
		  </div>
          
		  <textarea class="lTCc"></textarea>
		  <div class="pbR">
            <input type="button" value="发表" class="pubBtn">
          </div>
		</div>
      </div>
	</div>
	<div class="right">
      <div class="rtCmMd">
        <div class="inCons">
          <div class="cmTits">
		    <span class="ltts">配置</span>
		  </div>
		  <div class="prsC">厂商指导价：<span class="prs">25.90-43.90</span><span class="dw">万元</span><br />经销商报价：<span class="prs">25.80-43.80</span><span class="dw">万元</span></div>
		  <div class="csC">类别：合资&nbsp;&nbsp;&nbsp;&nbsp;级别：紧凑型SUV<br />排量：1.5T/2.0T&nbsp;&nbsp;&nbsp;&nbsp;油耗：6.1-7.7L/100km</div>
		  <div class="zss">
		    <div class="cmTits">
			  <span class="ltts">智驾指数：</span>
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			</div>
			<div class="cirPct">
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc1"><i>85%</i></div> 
              <span class="ts">安全指数</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc2"><i>50%</i></div> 
              <span class="ts">智能架控</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc3"><i>75%</i></div> 
              <span class="ts">驾驶操控</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc4"><i>75%</i></div> 
              <span class="ts">舒适乐趣</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc5"><i>95%</i></div> 
              <span class="ts">智能便利</span>
            </div>
          </div>
		  </div>
		  <div class="zss">
		    <div class="cmTits">
			  <span class="ltts">电动指数：</span>
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			  <img src="images/rdSts.jpg" class="st" />
			</div>
			<div class="cirPct">
            <div class="cirCol">
              <div class="processingbar cls1 JS-proc6"><i>12%</i></div> 
              <span class="ts">安全指数</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls2 JS-proc7"><i>22%</i></div> 
              <span class="ts">智能架控</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls3 JS-proc8"><i>33%</i></div> 
              <span class="ts">驾驶操控</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls4 JS-proc9"><i>66%</i></div> 
              <span class="ts">舒适乐趣</span>
            </div>
            <div class="cirCol">
              <div class="processingbar cls5 JS-proc10"><i>31%</i></div> 
              <span class="ts">智能便利</span>
            </div>
          </div>
		  </div>
        </div>
      </div>
	  
	  <a href="#" class="cmADMd mgt">
        <img src="images/dm30.jpg" />
      </a>
	  
	  <div class="rtCmMd mgt">
        <div class="inCons">
		  <div class="rtCmTit">
            <span>新车视频</span>
            <a href="#">更多</a>
          </div>
		  <div class="xcspMd">
            <a href="#">
       		 <img src="images/dm6.jpg">
     		</a>
            <a href="#">
       		 <img src="images/dm6.jpg">
     		</a>
			<a href="#">
       		 <img src="images/dm6.jpg">
     		</a>
            <a href="#">
       		 <img src="images/dm6.jpg">
     		</a>
          </div>
        </div>
      </div>
	  
	</div>
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>
$(function(){
  
  //点击图片
  $('.dgcxMain .collsRow .imgs:not(".vod")').click(function(){
    var url = $(this).attr('dataurl'),
		isImg = $('.swtchCon img').length > 0 ? true : false;
	if(isImg) {
		$('.swtchCon img').attr('src', url);
	} else {
	    $('.swtchCon').html('<img src="' + url + '" class="views">');
	}
  });
  //点击视频
  $('.dgcxMain .collsRow .vod').click(function(){
    var url = $(this).attr('dataurl');
	$('.swtchCon').html(url);
  });
  
  
});
getPctNum('.JS-proc1','#4cd84c');
getPctNum('.JS-proc2','#5beaea');
getPctNum('.JS-proc3','#57b2db');
getPctNum('.JS-proc4','#d95863');
getPctNum('.JS-proc5','#e2ab4e');
getPctNum('.JS-proc6','#4cd84c');
getPctNum('.JS-proc7','#5beaea');
getPctNum('.JS-proc8','#57b2db');
getPctNum('.JS-proc9','#d95863');
getPctNum('.JS-proc10','#e2ab4e');
</script>
</body>
</html>
