<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href='css/jedate.css' rel='stylesheet' type='text/css'>
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jedate.js"></script>
<script type="text/javascript" src="js/city.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="pubCreateY">
    <div class="tit1">
      <span>发布创业项目</span>
    </div>
    <span class="tit2">（该报道展示为智驾采编部独立内容，不涉及任何商业费用）</span>
    
    <div class="incons">
      <div class="cmTt"><span>产品信息</span></div>
      <div class="rows clearfix">
        <span class="lts">产品名称：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="项目名称/产品名称" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">产品描述：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="25字以内" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">产品属性：</span>
        <div class="ritt">
          <div class="tgC JS-tagEvt">
            <a>测试1</a>
            <a class="sel">测试2</a>
            <a class="">测试3</a>
            <a class="">测试4</a>
            <a class="">测试5</a>
            <a>测试6</a>
            <a>测试7</a>
            <a>测试8</a>
            <a>测试9</a>
          </div>
          <span class="tps">例如，选择添加“社交”，“IT”，“电商”等行业标签，最多可选4项</span>
        </div>
      </div>
      <div class="rows clearfix rtv2">
        <span class="lts">产品发布时间：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="请选择时间" class="ipt" id="dateSel" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">产品地址：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="APP下载链接或网站地址" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv3">
        <span class="lts">产品简介：</span>
        <div class="ritt">
          <div class="ipts txtars">
            <textarea class="ipt"></textarea>
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv3">
        <span class="lts">竞品及竞争优势：</span>
        <div class="ritt">
          <div class="ipts txtars">
            <textarea class="ipt"></textarea>
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv3">
        <span class="lts">竞品及竞争优势：</span>
        <div class="ritt">
          <div class="ipts txtars">
            <textarea class="ipt"></textarea>
          </div>
        </div>
      </div>
      <div class="cmTt"><span>公司信息</span></div>
      <div class="rows clearfix">
        <span class="lts">公司名称：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="公司名称" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">公司名称：</span>
        <div class="ritt">
          <div class="ipts arsR">
            <div class="liststyle">
              <span id="Province">
                <i>请选择省份</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择省份">请选择省份</a></li>
                </ul>
                <input type="hidden" name="cho_Province" value="请选择省份"></span>
              <span id="City">
                <i>请选择城市</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择城市">请选择城市</a></li>
                </ul>
                <input type="hidden" name="cho_City" value="请选择城市"></span>
              <span id="Area">
                <i>请选择地区</i>
                <ul>
                  <li>
                    <a href="javascript:void(0)" alt="请选择地区">请选择地区</a></li>
                </ul>
                <input type="hidden" name="cho_Area" value="请选择地区"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">公司规模：</span>
        <div class="ritt">
          <div class="ipts slct">
            <select>
              <option>1-10人</option>
              <option>1-10人</option>
              <option>1-10人</option>
              <option>1-10人</option>
              <option>1-10人</option>
              <option>1-10人</option>
              <option>1-10人</option>
            </select>
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">融资阶段：</span>
        <div class="ritt">
          <div class="ipts slct">
            <select>
              <option>A轮</option>
              <option>B轮</option>
              <option>C轮</option>
              <option>D轮</option>
              <option>E轮</option>
              <option>F轮</option>
              <option>G轮</option>
              <option>H轮</option>
              <option>I轮</option>
            </select>
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">成立时间：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="请选择时间" class="ipt" id="dateSel2" />
          </div>
        </div>
      </div>
      <div class="cmTt"><span>团队信息</span></div>
      <div class="groupMC">
      <div class="rows clearfix rtv4">
        <span class="lts">创始人姓名：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="用于智驾访谈联系" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv4">
        <span class="lts">创始人邮箱：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv4">
        <span class="lts">创始人电话：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv4">
        <span class="lts">创始人简介：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="创业人的职业与背景（200字以内）" class="ipt" />
          </div>
        </div>
      </div>
      </div>
      <div class="tjtdcy"><span>+添加团队成员</span></div>
      
      <div class="cmTt"><span>上传附件</span></div>
      <div class="rows clearfix rtv5">
        <span class="lts">产品logo:</span>
        <div class="ritt">
          <div class="bdsc"><input type="file" />本地文件</div>
          <span class="tpss">格式：JPG，JPEG，PNG；尺寸：512*512；小于200KB</span>
        </div>
      </div>
      <div class="rows clearfix rtv5">
        <span class="lts">产品二维码:</span>
        <div class="ritt">
          <div class="bdsc"><input type="file" />本地文件</div>
          <span class="tpss tpv2">格式：JPG，JPEG，PNG；尺寸：512*512；小于200KB<br />方便用户快速下载该产品。</span>
        </div>
      </div>
      <div class="rows clearfix rtv5">
        <span class="lts">项目图片:</span>
        <div class="ritt">
          <div class="bdsc"><input type="file" />本地文件</div>
          <span class="tpss tpv2">可批量上传，格式：小于1M，jpg/jpeg/png格式<br />至少上传一张，最多5张。</span>
        </div>
      </div>
      <div class="rows clearfix rtv6">
        <div class="cons"></div>
      </div>
      
      <div class="cmTt"><span>已有报道</span><i>（选填）</i></div>
      <div class="newsC">
      <div class="rows clearfix rtv4">
        <span class="lts">新闻标题：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="新闻标题" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix rtv4">
        <span class="lts">新闻网址：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="新闻网址" class="ipt" />
          </div>
        </div>
      </div>
      </div>
      <div class="tjxwBtn"><span>+添加新闻</span></div>
      
      <div class="cmTt"><span>已有报道</span></div>
      <div class="rows clearfix">
        <span class="lts">联系人：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="用于智驾访谈联系" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">职 务：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="职务" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">邮 箱：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" />
          </div>
        </div>
      </div>
      <div class="rows clearfix">
        <span class="lts">联系电话：</span>
        <div class="ritt">
          <div class="ipts">
            <input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" />
          </div>
        </div>
      </div>
      <div class="submitRow"><input type="button" value="提交" /></div>
      
      <div class="cmTt"><span>提交须知</span></div>
      <div class="tjxz">提交信息后，智驾会认真审核提交信息，并完成创业项目展示<br />创业项目展示、采访、报道均不收费。</div>
      
    </div>
    
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>
$(function(){
  $('.JS-tagEvt a').click(function(){
	  var isRg = $(this).parent().find('.sel').length < 4;
	    $(this).toggleClass('sel'); 
		if(!isRg) {
		   $(this).removeClass('sel');
		}
	  });
  
  //添加团队成员
  $('.tjtdcy').click(function(){
	  var tpl = '<div class="rows clearfix rtv4"> '+
        '<span class="lts">创始人姓名：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="用于智驾访谈联系" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div> '+
      '<div class="rows clearfix rtv4"> '+
        '<span class="lts">创始人邮箱：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div> '+
      '<div class="rows clearfix rtv4"> '+
        '<span class="lts">创始人电话：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="只有智驾管理员可见，请放心填写" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div> '+
      '<div class="rows clearfix rtv4"> '+
        '<span class="lts">创始人简介：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="创业人的职业与背景（200字以内）" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div>';
	  
	  $('.groupMC').append(tpl);
	  
	  });
  
  
  //添加新闻
  $('.tjxwBtn').click(function(){
	  var tpl = '<div class="rows clearfix rtv4"> '+
        '<span class="lts">新闻标题：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="新闻标题" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div> '+
      '<div class="rows clearfix rtv4"> '+
        '<span class="lts">新闻网址：</span> '+
        '<div class="ritt"> '+
          '<div class="ipts"> '+
            '<input type="text" placeholder="新闻网址" class="ipt" /> '+
          '</div> '+
        '</div> '+
      '</div>';
	  
	  $('.newsC').append(tpl);
	  
	  });
  
  
  
  
  });
  jeDate({
        dateCell: '#dateSel',
        format: 'YYYY-MM-DD'
    });
  jeDate({
        dateCell: '#dateSel2',
        format: 'YYYY-MM-DD'
    });
</script>
</body>
</html>
