<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="zjzsddzsMain clearfix">
    <div class="cons">
      <div class="breadCast"><a href="#">首页</a><span>&gt;</span><a href="#">新车</a><span>&gt;</span>车型</div>
      <div class="topsRow">
        <a class="axm">全部项目</a>
        <input type="button" value="" class="scBtn" />
        <input type="text" class="scIpt" placeholder="请输入关键字" />
      </div>
      <div class="cmTt">
        <span>智驾排行</span>
      </div>
      <div class="optRow">
        <span class="lts">智能互联：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">驾驶操控：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">舒适乐趣：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">智能安全：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      
      <div class="con">
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      </div>
      
      <div class="cmTt">
        <span>电动排行</span>
      </div>
      <div class="optRow">
        <span class="lts">智能互联：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">驾驶操控：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">舒适乐趣：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      <div class="optRow">
        <span class="lts">智能安全：</span>
        <div class="rtC tagCmHdm">
          <a class="on">全部</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
          <a>测试文字</a>
        </div>
      </div>
      
      <div class="con">
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      <div class="mds">
        <a href="#" class="imgs">
          <img src="images/dm39.jpg">
        </a>
        <span class="tt1 slice">长安CX20</span>
        <div class="sts">智驾指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        <div class="sts">电动指数：&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /><img src="images/stMd.jpg" /></div>
        
        <span class="tt2">日前，据广汽本田官方消息，2016款飞度正式上市，方指导价为7.38万-11.28万元。新车增加了两款车型，全系共...<a href="#">[详细]</a></span>
        <div class="tt3">
          <span class="lx">2016-08-11</span>
          <div class="fxBtn"></div>
        </div>
      </div>
      </div>
      <div class="cmLoadMore"><a>查看更多</a></div>
    </div>
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>
$(function(){
  
  
  
  
  
  
  });
</script>
</body>
</html>
