<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="loginPage">
    <a class="tpLgs"></a>
    <div class="cons alls">
	  <div class="tbT cmsHdmTit">
	    <a class="on">登录</a>
		<a>注册</a>
	  </div>
	  <div class="tbC">
	    <div class="tbIn cmsHdmCon show">
		  <div class="tmd">
		    <div class="lfts">
			  <div class="rs">
			    <div class="row">
			      <span class="lts">用户名</span>
				  <input type="text" class="ipt" value="" />
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts">密码</span>
				  <input type="password" class="ipt" value="" />
			    </div>
			  </div>
			  <div class="tls">
			    <label><input type="checkbox" name="" />记住我</label>
				<a href="#">忘记密码？</a>
			  </div>
			</div>
			<input type="button" value="登录" class="btns" />
		  </div>
		  
		</div>
		<div class="tbIn cmsHdmCon">
		  <div class="tmd">
		    <div class="lfts">
			  <div class="rs">
			    <div class="row">
			      <span class="lts">用户名</span>
				  <input type="text" class="ipt" value="" />
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts">邮箱</span>
				  <input type="text" class="ipt" value="" />
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row">
			      <span class="lts">密码</span>
				  <input type="password" class="ipt" value="" />
			    </div>
			  </div>
			  <div class="rs">
			    <div class="row v2">
			      <span class="lts">确认密码</span>
				  <input type="password" class="ipt" value="" />
			    </div>
			  </div>
			</div>
			<input type="button" value="注册" class="btns mgt" />
		  </div>
		  
		</div>
	  </div>
	  <div class="dsfdl">
		<a href="#" class="lk1"></a>
		<a href="#" class="lk2"></a>
		<a href="#" class="lk3"></a>
	  </div>
	</div>
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<script>
$(function(){
  
  });
</script>
</body>
</html>
