<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content tpxqMain">
    <div class="breadCast"><a href="#">首页</a><span>&gt;</span><a href="#">视频</a><span>&gt;</span>正文</div>
    
    <div class="cmMds">
      <div class="ttt">测试文字测试文</div>
      <div class="vod" style="width:900px; height:545px">
        这里放视频播放器
      </div>
      <div class="vdTit">测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</div>
      <span class="cmT">评论</span>
      <textarea class="arcTx"></textarea>
      <div class="pbR">
        <input type="button" value="发表" class="pubBtn">
      </div>
      <span class="cmT">热门文章</span>
      <div class="mdFlts">
		  <div class="mdss">
		    <a href="#" class="imgs">
			  <img src="images/rmwzImg.jpg">
		    </a>
			<div class="tt1"><a href="#">2016拉勾梦想者市集 </a></div>
		  </div>
		  <div class="mdss">
		    <a href="#" class="imgs">
			  <img src="images/rmwzImg.jpg">
		    </a>
			<div class="tt1"><a href="#">+新媒体时尚专场：拥抱时尚开启变现之道</a></div>
		  </div>
		  <div class="mdss">
		    <a href="#" class="imgs">
			  <img src="images/rmwzImg.jpg">
		    </a>
			<div class="tt1"><a href="#">全球创新者大会（GIC）虚拟现实峰会</a></div>
		  </div>
		</div>
    </div>
    
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>

var imgData = [
		'images/imgDms.jpg',
		'images/dm14.jpg',
		'images/dm15.jpg',
		'images/dm16.jpg',
		'images/dm17.png',
		'images/dm18.png',
		'images/dm19.jpg',
		'images/dm20.jpg',
		'images/dm33.jpg',
		'images/dm32.jpg'
	],
	len = imgData.length,
	curIdx = 0,
	startIdx = 0,
	endIdx = 0,
	ele = $('.JS-imgC'),
	eles = $('.JS-bigImg'),
	num = $('.JS-procCon');

function init() {
	if (len >= 3) {
		endIdx = 2;
		} else if (len == 2){
			endIdx = 1;
			} else if (len == 1){
			endIdx = 0;
			}
	var tpl = '';
	for(var i = startIdx; i <= endIdx; i ++) {
		if(i == curIdx) {
			tpl += '<img class="cur" dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
			} else {
				tpl += '<img dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
				}
		}
	ele.html('');
	ele.html(tpl);
	eles.attr('src', imgData[0]);
	num.html('<span>' + (curIdx + 1) + '</span>/' + len);
	}


$(function(){
	
  init();
  
  //右翻
  $('.grBtns').click(function(){
	  if (endIdx >= (len - 1)) return;
	    startIdx ++;
	    endIdx ++;
		if (endIdx >= (len - 1)) {
			endIdx = len;
			endIdx --;
			}
		var tpl = '';
		for(var i = startIdx; i <= endIdx; i ++) {
			if(i == curIdx) {
			tpl += '<img class="cur" dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
			} else {
				tpl += '<img dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
				}
			}
		ele.html('');
		ele.html(tpl);
	  });
	
  //左翻
  $('.glBtns').click(function(){
	    if (startIdx <= 0) return;
	    startIdx --;
	    endIdx --;
		if (startIdx < 0) {
			startIdx = 0;
			endIdx ++;
			}
		var tpl = '';
		for(var i = startIdx; i <= endIdx; i ++) {
			if(i == curIdx) {
			tpl += '<img class="cur" dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
			} else {
				tpl += '<img dataIndex="' + (i + 1) + '" src="' + imgData[i] + '" />';
				}
			}
		ele.html('');
		ele.html(tpl);
	  });
  
  //点击小图看大图
  $('body').on('click', '.JS-imgC img', function(){
	  $(this).addClass('cur');
	  $(this).siblings().removeClass('cur');
	  curIdx = parseInt($(this).attr('dataIndex')) - 1;
	  eles.attr('src', $(this).attr('src'));
	  num.html('<span>' + $(this).attr('dataIndex') + '</span>/' + len);
	  });
  
  
  
  });
</script>
</body>
</html>
