<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href='css/jedate.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/cropper.css">
<link href="css/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jedate.js"></script>
<script type="text/javascript" src="js/cropper.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<title>index</title>
</head>
<body>

<!--Header Start-->
<div class="header">
  <div class="con">
    <a href="#" class="logBtn">登录</a>
    <a href="#" class="logEd" style="display:none">登录后信息</a>
    <span class="jg"></span>
    <input type="text" class="txtIpt" placeholder="请输入关键字" />
    <span class="jg"></span>
    <input type="button" value="" class="searchBtn" />
    <a href="" title="智驾 autor" class="logo"><img src="images/logo.png" /></a>
    <div class="nav">
      <a href="#" class="cur">首页</a>
      <a href="#">新车</a>
      <a href="#">商业</a>
      <a href="#">科技</a>
      <a href="#">创客</a>
      <a href="#">专栏</a>
      <a href="#">专题</a>
      <a href="#">活动</a>
    </div>
  </div>
</div>
<!--Header End-->

<!--Content Start-->
<div class="content">
  <div class="zhanghuInfoMain clearfix">
    <div class="inCons alls">
      <span class="gbk"><a href="#">返回我的个人中心</a></span>
      <div class="tbT cmsHdmTit">
        <a class="on">修改基本资料</a>
        <a>账户信息</a>
      </div>
      
      <div class="tbC">
        <div class="tbIn cmsHdmCon show">
          <div class="rowls">
            <span class="lts">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</span>
            <div class="rits clearfix">
              <div class="picRow clearfix">
                <div class="upldBtn">
                  <img src="images/txPics.jpg"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">真实姓名</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">真实姓名</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="lbsc">
                  <label class="lbs"><input type="radio" name="sex" />男</label>
                  <label class="lbs"><input type="radio" name="sex" />女</label>
                  <label class="lbs"><input type="radio" name="sex" />保密</label>
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">真实姓名</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input class="birsd" id="birthdays" type="text" value="" placeholder="年月" readonly="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">所在公司</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">居住地址</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">手机号码</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="rowls">
            <span class="lts">微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="wcRows">
            <input type="button" value="保存" />
          </div>
          
        </div>
        <div class="tbIn pdt cmsHdmCon">
          <div class="row">
            <span class="lts">用 户 名</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="FZJ" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</span>
            <div class="rits clearfix">
              <div class="picRow clearfix">
                <div class="upldBtn">
                  <img src="images/txPics.jpg" id="result" />
                  <span>上传头像</span>
                  <input type="file" id="inputImage" />
                </div>
              </div>
              <span class="tps">仅支持JPG、PNG格式的图片文件，小于2MB</span>
              <div class="uplds">
                <div class="upldCrop"><img src="images/dm5.jpg" id="image" /></div>
                <div class="upldR">
                  <a id="button">剪裁</a>
                  <button type="button" id="rotateL">左旋转</button>
                  <button type="button" id="rotateR">右旋转</button>
                  <button type="button" id="zoomIn">放大</button>
                  <button type="button" id="zoomOut">缩小</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <div class="rows">
                  <span class="ltss">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新邮箱</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="新邮箱" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">验证码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" value="" placeholder="验证码" />
                      </div>
                      <span class="btnss">免费领取</span>
                    </div>
                  </div>
                </div>
                <div class="wcRow">
                  <input type="button" value="完成" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">手机号</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <div class="rows">
                  <span class="ltss">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新手机号</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" value="" placeholder="新手机号" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">验证码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="text" value="" placeholder="验证码" />
                      </div>
                      <span class="btnss JS-SendMsgCode">免费领取</span>
                    </div>
                  </div>
                </div>
                <div class="wcRow">
                  <input type="button" value="完成" />
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <span class="lts">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
            <div class="rits clearfix">
              <div class="tIpt">
                <div class="ipt">
                  <input type="text" value="" />
                </div>
                <span class="btns JS-SHChi"></span>
              </div>
              <div class="chiC">
                <div class="rows">
                  <span class="ltss">密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">新密码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="新密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rows">
                  <span class="ltss">确认密码</span>
                  <div class="ritss clearfix">
                    <div class="tIpts">
                      <div class="ipts">
                        <input type="password" value="" placeholder="确认密码" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wcRow">
                  <input type="button" value="完成" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Content End-->

<!--Bottom Start-->
<div class="bottom">
  <div class="cons">
    <div class="tops"><a><img src="images/ftLogo.jpg" /></a></div>
	<div class="middles">
	  <div class="cols1">
	    <div class="rs">电话：010-57094602</div>
		<div class="rs">邮箱：010-57094602</div>
		<div class="rs">地址：北京 朝阳区</div>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">关于智驾</a></span>
		<span class="rs"><a href="#">联系我们</a></span>
	  </div>
	  <div class="cols2">
	    <span class="rs"><a href="#">投稿</a></span>
		<span class="rs"><a href="#">寻求报道</a></span>
	  </div>
	  <div class="cols3">
	    <span class="rs"><a href="#">发布活动</a></span>
		<span class="rs"><a href="#" class="flt_r">商务合作</a><a href="#" class="flt_l">精彩活动，最先发现</a></span>
		<div class="dy">
		  <input type="text" placeholder="填写邮箱，订阅" class="ipts" />
		  <input type="button" value="立即订阅" class="btn" />
		</div>
	  </div>
	</div>
	<div class="fts">
	  北京智驾时代传媒科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; 2009 - 2014<br/> Autor.com.cn All Rights Reserved. 版权所有 AutoR智驾 智能汽车网<br />京ICP备14027737号-1 
	</div>
	
  </div>
</div>
<!--Bottom End-->

<!-- RightBar Start -->
<div class="rightBar">
  <a href="#" class="link"><img src="images/scaneIcon.jpg" /></a>
  <a href="#" class="link"><img src="images/helpIcon.jpg" /></a>
  <a href="javascript:void(0)" class="link JS-goTop"><img src="images/gtpIcon.jpg" /></a>
</div>
<!-- RightBar End -->
<script>

var time,
	timer,
	remainningTime = function(){
	  time--;
	  if(time<=0){
		clearInterval(timer);
		$(".JS-SendMsgCode").removeClass("ings").html("重新发送");
	  }else{
		$(".JS-SendMsgCode").html("("+time+")"+"重新发送");
	  }
	};


jeDate({
	dateCell: '#birthdays',
	format: 'YYYY-MM'
});
	
var $image = $('#image');
$(function(){
  
  $(".JS-SendMsgCode").on("click",function(){
	  if(!$(this).hasClass("ings")){
		time=60;
		$(this).addClass("ings");
		remainningTime();
		timer=setInterval(remainningTime,1000);
	  }
	});
  
  $('.JS-SHChi').click(function(){
	  $(this).parents('.row').toggleClass('expChi');
	  });
  
  $('#rotateL').click(function(){
	  $('#image').cropper('rotate', -45)
	  });
  $('#rotateR').click(function(){
	  $('#image').cropper('rotate', 45)
	  });
  $('#zoomIn').click(function(){
	  $('#image').cropper('zoom', 0.1)
	  });
  $('#zoomOut').click(function(){
	  $('#image').cropper('zoom', -0.1)
	  });
  
   // Import image
  var $inputImage = $('#inputImage');
  var URL = window.URL || window.webkitURL;
  var originalImageURL = $image.attr('src');
  var uploadedImageURL;
  var options = {
        aspectRatio: 1 / 1
      };
  
  if (URL) {
    $inputImage.change(function () {
      var files = this.files;
      var file;

      if (!$image.data('cropper')) {
        return;
      }

      if (files && files.length) {
        file = files[0];

        if (/^image\/\w+$/.test(file.type)) {
          if (uploadedImageURL) {
            URL.revokeObjectURL(uploadedImageURL);
          }

          uploadedImageURL = URL.createObjectURL(file);
          $image.cropper('destroy').attr('src', uploadedImageURL).cropper(options);
          $inputImage.val('');
        } else {
          window.alert('Please choose an image file.');
        }
      }
    });
  } else {
    $inputImage.prop('disabled', true).parent().addClass('disabled');
  }
  
  });
</script>

<script>
    function getRoundedCanvas(sourceCanvas) {
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      var width = sourceCanvas.width;
      var height = sourceCanvas.height;

      canvas.width = width;
      canvas.height = height;
      context.beginPath();
      context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI);
      context.strokeStyle = 'rgba(0,0,0,0)';
      context.stroke();
      context.clip();
      context.drawImage(sourceCanvas, 0, 0, width, height);

      return canvas;
    }

    $(function () {
      var $button = $('#button');
      var $result = $('#result');
      var croppable = false;

      $image.cropper({
        aspectRatio: 1,
        viewMode: 1,
        built: function () {
          croppable = true;
        }
      });

      $button.on('click', function () {
        var croppedCanvas;
        var roundedCanvas;

        if (!croppable) {
          return;
        }

        // Crop
        croppedCanvas = $image.cropper('getCroppedCanvas');
        // Round
        roundedCanvas = getRoundedCanvas(croppedCanvas);
        // Show
        $result.attr('src', roundedCanvas.toDataURL());
      });
    });
  </script>

</body>
</html>
