/*position*/
.m-lst-head, .m-tle-head, .m-logout-head, .m-focs, .m-focs .pic, .m-pic-news, .m-infos-news,
.m-infos-user2 li, .m-title-column, .m-lsts-npt li, .m-lst-ntxt2, .m-nav-whole1, .m-tle-top,
.m-wrap-t2, .m-img-extend2, .m-navv2-l1 { position: relative; }
.u-arrow1-head, .m-menu-head, .u-arrow2-head, .m-menu-user, .m-focs .title, .m-focs .label,
.m-focs .mask, .m-pic-news .label, .m-pic-news .arrow, .m-infos-user1, .f-border-r, .m-infos-user3,
.u-more-text, .m-lst-ntxt2 .dot, .widget-side-codepic, .m-side-arrow, .u-side-arrow2, .m-more-dot,
.m-infos-brand, .m-infos-user4, .m-img-t3, .m-infos-user5, .m-infos-user6, .u-name-extend1,
.m-lsts-l2 { position: absolute; }
/*css Sprite*/
.m-nav-head .logo, .u-navv2-logo, .u-bannerClose, .m-login-head span, .m-logout-head .arrow, .m-sch-head .icon button,
.u-pic-comment, .u-pic-zan, .m-lst-ntxt2 .dot, .u-icon-tlte1, .m-icons-feed li, .u-jun-feed, .m-click-feed,
.u-collectun .pic, .u-collected .pic { background: url(http://assets.cheyun.com/v2/official/web/images/common/common.png) no-repeat; }
/*头部广告位*/
.banner1 { position: relative; width: 1200px; overflow:hidden; margin: 0 auto; font-size: 0; }
.banner1 a {display: block; width: 1200px; }
.banner1 a img { width: 100%; height: 60px; }
.u-bannerClose{position: absolute;top: 5px;right: 10px; width: 23px;height: 23px; background-position: 0 -43px; }
.u-bannerClose:hover{background-position: 0 -67px;}
/*整个页面的wrap*/
.g-wrap { height: 100%; min-width: 1200px; background-color: #fff; }
.g-wrap-con, .g-wrap-coo { width: 1200px; font-size:14px; }
.g-wrap-coo { margin: 35px auto; }
.g-wrap-con { margin: 0 auto; }
/*关于我们和友情链接*/
/*.g-wrap-con1 { margin: 60px auto 0; } */
/*建议反馈*/     
.g-wrap-con2 { margin: 0 auto 460px; }
/*我要投稿*/
.g-wrap-con3 { margin-top: 0; font-size:14px; }
.g-wrap-con4 { margin:65px auto 0; }
.g-wrap-con5 { margin:65px auto 35px; }
.g-wrap-con6 { margin-top:25px; }
/*面包屑*/
.m-bread-crumb { line-height: 60px; color: #a7b6c1; font-size: 16px;}
.m-bread-crumb a { color: #a7b6c1; font-size: 16px; }
.m-bread-crumb a:hover { color: #18a7ca; }
.m-bread-crumb a.on { color: #43576a; }
/*新版导航header*/
.g-navv2-head { width: 1200px; margin: 0 auto; padding-bottom: 16px; height: 107px; background-color: #fff; font-size: 18px; }
.m-navv2-l1, .m-navv2-l2 {  }
.m-navv2-l1 { height: 67px; line-height: 67px; }
.u-navv2-logo { display: inline-block; width: 160px; height: 52px; background-position: 0 12px; }
.m-lsts-l1 { margin-left: 80px; }
.u-tlev2-l1 { padding: 0 25px; text-align: center; }
.u-tlev2-l1.on, .m-tlev2-l1:hover .u-tlev2-l1 { background-color: #eef0f1; color: #18a7ca; }
.m-arr-l1 { display: inline-block; width: 0; height: 0; border-left: 5px solid #43576a; border-top: 5px solid transparent;  border-bottom: 5px solid transparent; }
.m-sch-head { margin-right: 35px; height: 40px; line-height: 18px; padding-top: 25px; }
.m-sch-head .icon { padding: 0 10px; }
.m-sch-head .icon button{ display: inline-block; width: 24px; height: 24px; background-position: -45px -43px; }
.u-inp1-sch { padding-left: 20px; height: 24px; font-size: 16px; color: #a9b6c2; border-left: 2px solid #ecf0f1; border-right: 2px solid #ecf0f1; }
.u-inp1-sch input { width: 155px; border: 0; }
.m-login-head:hover { background-color: #18a7ca; }
.m-login-head span { display: inline-block; margin-top: -3px; width: 21px; height: 21px; background-position: -360px -561px; vertical-align: middle; }
.m-login-head:hover span { background-position: -392px -561px; }
.m-login-head a, .m-logout-head a { color: #43576a }
.m-login-head:hover a { color: #fff; }
.m-logout-head .userimg { width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; }
.m-logout-head, .m-login-head { padding: 5px 18px 0; line-height: 62px; }
.m-logout-head .arrow { display: inline-block; width: 9px; height: 5px; vertical-align: middle; background-position: -27px -79px; }
.m-lsts-l2 { left: 0; top: 67px; z-index: 8; padding-left: 240px; width: 960px; height: 40px; line-height: 40px; background-color: #eef0f1; font-size: 16px; border-bottom: 1px solid #bbc2c9; }
.m-lsts-l2.on { z-index: 5; }
.u-lsts-l2 { background-color: #fff; border: 1px solid transparent; }
.u-tlev2-l2 { padding: 0 20px; }
.u-tlev2-l2 span { display: inline-block; height: 39px; border-bottom: 2px solid transparent; }
.u-tlev2-l2:hover span { border-bottom-color: #18a7ca; }
.u-tougao { padding: 3px 20px; margin: 25px 15px 0 0; height: 21px; line-height: 21px; border-radius: 15px; background-color: #e31257; font-size: 14px; color: #fff; text-align: center; }
.u-tougao:hover { color: #fff; }
.m-menu-user li:hover { background-color: #18a7ca; }
.m-menu-user li:hover a { color: #fff; }
.m-menu-user { left: -40px; z-index: 300; background-color: #fff; }
.m-menu-user li { width: 150px; height: 32px; line-height: 32px; background-color: #f5fdff; text-align: center; font-size: 16px; }
.m-menu-user li a { display: inline-block; width: 100%; color: #43576a; }
/*焦点图*/
.m-focs a { color: #fff; display: inline-block; }
.m-focs-r { width: 562px; }
.m-wrap-focus{ margin-bottom: 35px; }
.m-wrap-focus .pic img{ vertical-align: bottom; }
.m-focs .title { left: 50%; top: 50%; text-align: center; z-index: 100; } 
.m-focs .label { top: 0; left: 15px; padding: 0 15px; line-height: 32px; background-color: #18a7ca; font-size: 18px; }
.m-focs .mask { z-index: 10; top: 0; left: 0; background-color: #000; opacity: .3; filter: alpha(opacity=30); }
.m-focs .pic:hover .mask { opacity: 0; filter: alpha(opacity=0); }
.m-focs-1 .mask { width: 627px; height: 365px; }
.m-focs-2 .mask { width: 562px; height: 236px;  }
.m-focs-3 .mask, .m-focs-4 .mask { width: 275px; height: 117px; }
.m-focs-3, .m-focs-4 { margin-top: 12px; }
.m-focs-4 { margin-left: 11px; }
.m-focs-1 .pic, .m-focs-2 .pic { font-size: 30px; }
.m-focs-1 .pic { width: 627px; height: 365px; overflow: hidden; }
.m-focs-3 .pic, .m-focs-4 .pic { font-size: 16px; }
.m-focs-1 .title { width: 17.5em; height: 90px; margin-top: -45px; margin-left: -8.9em; font-weight: 700; }
.m-focs-2 .title { width: 17.5em; height: 90px; margin-top: -45px; margin-left: -8.7em; font-weight: 700; }
.m-focs-3 .title, .m-focs-4 .title { width: 14.6em; font-weight: 700; height: 48px; margin-top: -24px; margin-left: -7.2em; }
.m-focs-3 .label, .m-focs-4 .label { font-size: 12px; padding: 0 7px; line-height: 22px;}
.m-focs-1 img { width: 100%; min-height: 106%; margin-top: -3%; }
.m-focs-2 img { width: 562px; height: 236px; }
.m-focs-3 img, .m-focs-4 img { width: 275px; height: 117px; }
.u-label { z-index: 200; }
.u-label:hover, .m-pic-news .label:hover { background-color: #f32f94; }
.m-pic-news .label:hover .arrow{ border-bottom: 5px solid #f32f94; }
/*各列表展示区域*/
.m-lsts-l { width: 815px; }
.m-lsts-r { width: 350px; }
/*控制条 导航*/
.m-nav-fixed { /*margin-bottom: 20px; height: 47px;*/ }
.m-more-dot { top: 0; right: 0; color: #e2e8eb; font-size: 24px; font-weight: 700; }
.m-nav-con { background-color: #fff; width: 815px; height: 47px; border-bottom: 2px solid #e2e8eb;}
.m-nav-con li { height: 46px; margin: 0 30px; line-height: 45px; font-size: 18px; }
.m-nav-con li.on  { border-bottom: 3px solid #18a7ca; }
.m-nav-con li.on a { color: #18a7ca; }
.u-border-blue { border-bottom: 2px solid #e2e8eb; }
.u-lst-trend a { display: inline-block; width: 210px; height: 64px; overflow: hidden; }
/*新闻列表*/
.m-wrap-no, .m-banner { margin-bottom: 25px; margin-bottom: 34px }
.m-wrap-1, .m-wrap-2, .m-wrap-3, .m-wrap-4, .m-wrap-5 { margin-top: 10px; border-bottom: 1px solid #e2e8eb; }
.m-wrap-1, .m-wrap-3 { padding: 25px 10px; }
.m-wrap-2 { padding: 25px 20px 15px; }
.m-wrap-4 { padding: 20px 0; }
.m-wrap-5 { padding: 25px 20px; }
.m-wrap-5 { padding: 25px 20px; }
.m-pic-news1 img { width: 216px; height: 140px; vertical-align: bottom; } 
.m-pic-news .label { top: 10px; left: -5px; font-size: 12px; }
.m-pic-news .label a { display: block; color: #fff; padding: 3px 10px; }
.m-pic-news .arrow { left: 0; top: -5px; width: 0; height: 0; border-left: 5px solid transparent; }
.m-infos-news1 { width: 560px; height: 140px; }
.m-infos-news2 { width: 705px; padding-bottom: 20px; }
.m-infos-news .title, .m-infos-news2 .title { width: 100%; font-size: 18px; display: inline-block; }
.m-infos-news .desc, .m-infos-user, .m-infos-user .user span {  color: #9aabb8; text-align: justify; }
.m-infos-news .desc { overflow: hidden; font-size: 14px; line-height: 26px; }
.m-infos-news1 .desc { height: 52px;  }
.m-infos-news3 .desc { height: 104px;  }
.m-infos-news4 .desc { height: 78px;  }
.m-infos-user { bottom: 0; left: 0; line-height: 30px; }
.m-infos-user li{ overflow: hidden; }
.m-infos-user .user { height: 31px; text-align: left; }
.m-infos-user .user img { width: 30px; height: 30px; border-radius: 50px; margin-right: 10px; }
.m-infos-user .user img, .u-pic-comment, .u-pic-zan { vertical-align: middle; }
.m-infos-user .user:hover span { color: #18a7ca; }
.m-infos-user .comment, .m-infos-user .zan { width: 70px; }
.m-infos-user1 .user, .m-infos-user3 .user, .m-infos-user4 .user, .m-infos-user1 .date, .m-infos-user3 .date { width: 140px; }
.m-infos-user1 .date { margin-left: 10px; }
.m-infos-user1 .comment, .m-infos-user1 .zan { padding-left: 40px; }
.u-pic-comment, .u-pic-zan, .u-pic-reply {  display: inline-block; width: 24px; height: 22px; }
.u-pic-comment { background-position: -48px -70px; }
.u-pic-zan { background-position: -70px -43px; }
/*话题*/
.m-logo-news { padding: 0 11px; height: 20px; margin-bottom: 10px; line-height: 20px; border: 2px solid #e31257; color: #e31257; text-align: center; }
.m-infos-user2 { padding-top: 20px; }
.m-infos-user2 li { width: 258px; height: 30px; line-height: 30px; text-align: center; }
.m-infos-user2 .user img { margin-left: 70px; }
/*深度*/ 
.m-pic-news2 img { width: 345px; height: 225px; vertical-align: bottom; } 
.m-infos-news3 { width: 430px; height: 225px; }
.m-infos-user3 .date, .m-infos-user3 .comment, .m-infos-user3 .zan { margin-left: 10px; }
.m-infos-user3 .comment, .m-infos-user3 .zan { width: 60px; }
/*推荐*/
.m-focs-5 img{ width: 815px; height: 345px; margin-bottom: 20px; }
.m-wrap-wrap4 { padding-left: 20px; }
.m-infos-news5 { width: 725px; }
/*推广*/
.m-infos-news4 { width: 530px; height: 126px; }
.m-pic-news4 img { width: 216px; height: 126px; vertical-align: bottom; }
/*快讯*/
.m-wrap-6 { padding: 25px 0; background-color: #fafafa; }
.m-title-column { padding: 10px 0 15px; }
.m-title-column a { display: block; }
.m-title-column .title, .m-title-column .title1 { padding-left: 10px; border-left: 5px solid #e43a47; font-weight: 700; font-size: 16px; }
.m-title-column .title { color: #43576a; }
.m-title-column .title1 { border-left-color: #f32f94; color: #f32f94 }
.u-more-text { right: 20px; top: 15px; color: #a2b1bd; font-size: 16px; }
.m-lst-ntxt1 { width: 310px;/* margin: 0 auto;*/ padding: 0 20px;  }
.m-lst-ntxt .title { display: inline-block; font-size: 16px; line-height: 45px; }
.m-lst-ntxt1 .title { width: 330px;  }
.m-lst-ntxt .time { color: #a2b1bd; font-size: 14px; padding: 10px 0; }
.m-lst-ntxt1 + .m-lst-ntxt1 {  border-top: 1px solid #e2e8eb; }
.m-lsts-ntxt1 li:hover, .m-lsts-ntxt1 li:hover .title, .m-lsts-ntxt1 li:hover .time { background-color: #18a7ca; color: #fff; }
.m-lsts-ntxt1 li:hover .m-lst-ntxt1 { border: 0; }
/*推广*/
.m-lsts-extend1 { font-size: 16px; }
.m-lst-extend1 { margin-top: 20px; }
/*.m-lst-extend1 + .m-lst-extend1 { padding-top: 25px; border-top: 1px dotted #b1bfc6; }*/
.m-img-extend1 img { width: 312px; height: 208px; }
.m-img-extend2 { display: block; }
.m-img-extend2 img { width: 120px; height: 120px; }
.u-name-extend1 { padding: 8px 28px; left: 110px; bottom: 20px; background-color: #18a7ca; color: #fff; }
/*品牌栏目*/
.m-lsts-npt, .m-lsts-ntxt2, .m-lsts-label, .m-lsts-extend1, .m-lsts-recommend { padding: 0 19px; }
.m-lsts-npt li, .m-lst-recommend, .m-lsts-extend1 li{ margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px dashed #e2e8eb; font-size: 16px; }
.m-lsts-npt .title1 { margin-top: 15px; }
.u-pic-con img { width: 205px; height: 87px; vertical-align: top; }
.u-pic-col { width: 87px; height: 87px;background: #fff url(http://assets.cheyun.com/v2/official/web/images/app/home/column.jpg) no-repeat; }
.u-pic-chuangyetan { background-position: 0 -88px; }
.u-pic-chuangjian { background-position: 0 -176px; }
.u-pic-dongjian { background-position: 0 -264px; }
.u-pic-hixinche { background-position: 0 -705px; }
.u-pic-shijieguan:hover { background-position: 0 -352px; }
.u-pic-chuangyetan:hover { background-position: 0 -440px; }
.u-pic-chuangjian:hover { background-position: 0 -528px; }
.u-pic-dongjian:hover { background-position: 0 -616px; }
.u-pic-hixinche:hover { background-position: 0 -792px; }
/*特别策划*/
.m-lsts-npt li .pic2 img, .m-lst-recommend img, .m-lsts-extend1 li .pic2 img { width: 100px; height: 67px; vertical-align: bottom; }
.m-lsts-npt li .title2, .m-lst-recommend .title2, .m-lsts-extend1 li .title2 { width: 195px; }
.m-lst-ntxt2 .title { width: 312px; padding-left: 15px; }
.m-lst-ntxt2 .dot { top: 50%; left: 0; margin-top: -3px; width: 5px; height: 5px; background-position: -76px -76px; }
.m-lsts-label { padding-bottom: 10px; }
.m-lsts-label li{ margin-bottom: 10px; font-size: 14px; margin-right: 10px; }
.m-lsts-label li a { display: block; border-radius: 5px; border:#e54e4e 1px solid; color: #e54e4e; padding: 6px 15px; }
.m-lsts-label li a:hover { background-color: #e54e4e; color: #fff; }
/*专题*/
.u-img-sp1 { width: 312px; height: 185px;vertical-align: top; }
/*行业动态*/
.m-wrap-trend, .g-wrap-coo { margin-top: 50px; border-top: 2px solid #e3e3e3; color: #43576a; }
.m-wrap-trend p, .m-tle-coo { text-align: center; }
.u-tle-trend { display: inline-block; }
.u-lst-dark, .u-lst-light { width: 221px; line-height: 32px; padding: 15px 25px; font-size: 16px; text-align: justify; }
.u-lst-dark { background-color: #f7f7f7; }
.u-lst-light { background-color: #ddd; }
.u-lst-dark:hover, .u-lst-light:hover { background-color: #00a9ce; }
.u-lst-dark:hover a, .u-lst-light:hover a { color: #fff; }
/*加载更多*/
.m-more-home { margin-top: 20px; height: 35px; line-height: 35px; background-color: #dce6eb; text-align: center; font-size: 16px; }
.m-more-home a { display: inline-block; width: 100%; }
/*右侧一周动态*/
.m-pic-link img { width: 350px; height: 135px; }
/*右侧广告位*/
/*.m-banner-s { max-width: 350px; max-height: 200px; overflow: hidden; }*/
/*合作伙伴*/
.g-wrap-coo .u-tle-trend { font-size: 30px; }
.u-lst-coo { padding: 0 30px 20px 0; font-size: 16px; }
/*皮肤*/
.m-pic-news .f-blue-l { background-color: #18a7ca; }
.m-pic-news .f-blue-a { border-bottom: 5px solid #18a7ca; }
.m-pic-news .f-purple-l { background-color: #6127d7; }
.m-pic-news .f-purple-a { border-bottom: 5px solid #6127d7; }
.m-pic-news .f-green-l { background-color: #06cc88; }
.m-pic-news .f-green-a { /*top: -4px;*/ border-bottom: 5px solid #06cc88; }
.f-border-r { right:0px; top: 50%; margin-top: -12px; height: 24px; border-right: 1px solid #e2e8eb; }
/*footer-start*/
.con-wrapper{ width: 1200px; margin: 0 auto; }
.con-footer{ margin-top: 140px; color: #868b91; background-color: #041529;}
.con-footer-inner{ position: relative; height: 320px; padding-top: 40px; }
.con-footer-cartoon{ position: absolute; right: 200px; top: -42px; }
.con-footer-logo{ margin-top: -50px; overflow: hidden; }
.con-footer-logo a{ display: block; }
.con-footer-left{ width: 400px; height: 225px; margin-top: 50px; border-right: 1px #132e4a solid; }
.con-footer-right{ width: 376px; }
.con-footer-iconlist{ margin-top: 52px; }
.con-footer-iconlist li{ float: left; margin-right: 34px; }
.con-footer-iconlist a{ display: block; width: 91px; height: 91px; }
.con-footer-iconlist p{ font-size: 16px; text-align: center; margin-top: 5px; }
.con-footer-about{ margin:-58px 24px 0; }
.con-footer-about dt a{ color: #868b91; font-size: 24px; }
.con-footer-about dd{ font-size: 14px; margin-top: 20px; line-height: 24px; }
.con-footer-authors{ margin: -8px 0 0 46px; font-size: 24px; }
.con-footer-authors dd{ margin-top: 16px; }
.con-footer-authors a{ float: left; margin-right: 22px; margin-bottom: 22px; }
.con-footer-authors img{ display: block; width: 60px; height: 60px; border-radius: 50%; }
.con-footer-link{ margin: 58px 24px 6px; }
.con-footer-link a{ color: #868b91; font-size: 14px; }
.con-footer-link a:hover,.con-footer-about dt a:hover{ color: #18a7ca; }
.con-footer-copyright{ font-size: 14px; margin-left:24px; }
.con-footer-cartoon,.con-footer-logo a { background: url(http://assets.cheyun.com/v2/official/web/images/common/common.png) no-repeat;}
.con-footer-advice,.con-footer-news,.con-footer-article{ width: 91px; height: 91px; background: url(http://assets.cheyun.com/v2/official/web/images/common/footer_icon.png) no-repeat; }
.con-footer-advice{ background-position: -246px 0; }
.con-footer-news{ background-position: -123px 0; }
.con-footer-article{ background-position: 0 0; }
.con-footer-cartoon { width: 134px; height: 42px; background-position: 0 -92px; }
.con-footer-logo a{ width: 217px; height: 54px; background-position: -0px -140px; }
/*footer-end*/
/*aside组件-start*/
.widget-share-wx,.widget-share-wx:hover,.widget-share-qzone,.widget-share-qzone:hover,.widget-share-btn .widget-aside-button,
.widget-share-wb,.widget-share-wb:hover,.con-like-btn .widget-aside-button,.con-like-btn .widget-aside-button:hover,
.widget-side-feedback .widget-aside-button,.widget-side-feedback .widget-aside-button:hover,.widget-side-top .widget-aside-button,
.widget-side-top .widget-aside-button:hover,.widget-side-top-ani .widget-aside-button,.widget-side-top-ani .widget-aside-button:hover,
.widget-side-code .widget-aside-button,.widget-side-code .widget-aside-button:hover, .u-side-pic, .widget-side-link1 .widget-aside-button,
.widget-side-link .widget-aside-button 
{ background: url(http://assets.cheyun.com/v2/official/web/images/common/common.png) no-repeat; }
.widget-aside{ display: none; position: fixed; width: 50px; left: 50%; margin-left: 620px; z-index: 1000; }
.widget-share-box{ bottom: 130px; }
.widget-share-btn{ position: relative; height: 50px; margin-top: 15px; }
.widget-aside-button{ display: block; width: 50px; height: 50px; }
.widget-share-btn .widget-aside-button{ position: absolute; z-index: 10; }
.con-like-btn{ margin-top: 15px; }
.widget-share-list{ position: absolute; width: 0; height: 50px; right: 20px; top: 0; border-radius: 50px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; background-color: #f0f0f0; overflow: hidden; }
.widget-share-list li{ float: left; width: 54px; height: 50px; text-align: center; }
.widget-share-list a{ display: inline-block; }
.widget-side-code{ position: relative; }
.widget-side-code,.widget-side-advice{ width: 50px; height: 50px; }
.widget-side-feedback .widget-aside-button{ margin-top: 15px; }
.widget-side-top, .widget-side-code, .widget-side-link, .widget-side-link1 { margin-top: 15px; }
.widget-side-link1 .widget-aside-button { display: -webkit-flex; display: -ms-flex; display: flex; align-items: center; justify-content: center; color: #acb2b8; }
.widget-side-link1 span { width: 24px; }
.widget-side-top .widget-aside-button{ margin-left: 2px; }
.widget-side-top-ani .widget-aside-button{ height: 95px; }
.widget-side-tucao{ width: 100px; height: 94px; position: relative; left: -40px; }
.widget-aside-tucaoButton{ display: block; width: 100px; height: 94px; background: url(http://assets.cheyun.com/v2/official/web/images/common/tucao.png) no-repeat; }
.widget-side-top .widget-aside-button{ width: 50px; height: 39px; background-position: -3px -319px; }
.widget-side-top .widget-aside-button:hover{ background-position: -56px -319px; }
.widget-side-top-ani .widget-aside-button{ height: 95px; background-position: -129px -200px; }
.widget-side-top-ani .widget-aside-button:hover{ background-position: -129px -200px; }
.widget-side-code .widget-aside-button{ background-position: -4px -202px; }
.widget-side-code .widget-aside-button:hover{ background-position: -68px -202px; }
.widget-share-btn .widget-aside-button{ background-position: -347px -63px; }
.widget-share-btn .widget-aside-button:hover{ background-position: -403px -63px; }
.widget-side-link .widget-aside-button { background-position: -347px 0; }
.widget-side-link .widget-aside-button:hover { background-position: -404px 0; }
.widget-side-link1 .widget-aside-button { background-position: -576px -297px; }
.widget-side-link1 .widget-aside-button:hover { background-position: -633px -297px; color: #fff; }
.con-like-btn .widget-aside-button{ background-position: -229px -63px; }
.con-like-btn .widget-aside-button:hover{ background-position: -284px -63px; }
.widget-share-wb{ width: 30px; height: 25px; background-position: -229px -1px; margin-top: 12px; margin-left: 14px; }
.widget-share-wb:hover{ background-position: -229px -33px; }
.widget-share-wx{ width: 31px; height: 26px; background-position: -263px 0; margin-top: 12px; margin-left: 10px; }
.widget-share-wx:hover{ background-position: -263px -31px; }
.widget-share-qzone{ margin-top: 11px; width: 29px; height: 28px; background-position: -300px 0; }
.widget-share-qzone:hover{ background-position: -300px -30px; }
.widget-side-feedback .widget-aside-button{ background-position: -347px 0; }
.widget-side-feedback .widget-aside-button:hover{ background-position: -405px 0; }
.widget-side-codepic { top: -179px; right: 60px; width: 157px; height: 356px; border: 1px solid #c8d4d7; display: none; background-color: #fff; }
.m-side-codepic { width: 157px; height: 160px; color: #a8a6a6; text-align: center; }
.u-side-pic { margin: 15px auto 10px; width: 134px; height: 134px; }
.u-side-pic1 { background-position: -574px 0; }
.u-side-pic2 { background-position: -574px -152px; }
.m-side-arrow { top: 50%; margin-top: 14px; right: -17px; width: 16px; height: 20px; }
.u-side-arrow { width: 0; height: 0; border-style: dashed dashed dashed solid; border-width: 10px 8px; }
.u-side-arrow1 { border-color: transparent transparent transparent #c8d4d7; }
.u-side-arrow2 { top: 0; left: -1px; border-color: transparent transparent transparent #fff; }
/*aside组件-end*/
.m-cpr-footer { display: inline-block; padding-left: 30px; padding-bottom: 3px; background: url(http://assets.cheyun.com/v2/official/web/images/common/ghs.png) no-repeat; color: #868b91; }
/*tips-start*/
.widget-tips { display: none; position: fixed; width: 100%; height: 60px; line-height: 60px; left: 0; top: 0; text-align: center; font-size: 24px; color: #fff; background-color: #1aaacd; z-index: 1000; }
/*tips-end*/
/*输入框提示-start*/
.widget-inputtips,.widget-inputerror { position: absolute; padding: 0 12px 0 16px; font-size: 14px; line-height: 36px; color: #424242; z-index: 10; margin-top: 12px; }
.widget-inputtips .widget-inputtips-icon,.widget-inputerror .widget-inputtips-icon { display: inline-block; width: 18px; height: 18px; vertical-align: middle; }
.widget-inputerror .widget-inputtips-icon { background-image: url(http://assets.cheyun.com/v2/official/web/images/common/error.png); }
.widget-inputtips:after,.widget-inputerror:after { position: absolute; left: 50%; top: -10px; margin-left: -10px; content: ""; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #feffe7; }
.widget-inputtips { background-color: #feffe7; }
.widget-inputerror:after{ border-bottom-color: #ffe6e6; }
.widget-inputerror { background-color: #ffe6e6; }
.widget-inputtips-words { margin-left: 6px;vertical-align: middle; }
.widget-inputtips-error { border: 1px #d6200d solid !important; }
.widget-inputtips-error input { color: #d6200d !important; }
/*输入框提示-end*/
/*公共 延续之前版本*/
.con-picture-animate { -webkit-transition: all 0.8s ease-out; transition: all 0.8s ease-out; }
.con-picture-animate:hover { -webkit-transform: scale(1.04); transform: scale(1.04); }
.pbanner .banner-r .clw, .car_list .car_img .car_w { padding: 3px 10px 4px; color: #fff; font-size: 14px; background-color: #17b0dc; }
.pbanner .banner-r .clw:hover, .car_list .car_img .car_w:hover { background-color: #09bcea; }
/*右边新闻列表*/
.aside-list-title{padding: 5px 15px;margin: 18px 0 15px;width: 320px;height: 32px;line-height: 32px;background-color: #f2f2f2;color: #000;}
.aside-list-title .title{float: left;font-size: 22px;color: #000;}
.aside-list-title .more{float: right;margin-top: 8px;background: url(http://assets.cheyun.com/v2/official/web/images/app/home/more.png) no-repeat;width: 10px;height: 17px;display: inline-block;}
.aside-list-list{line-height: 45px;}
.aside-list-list a{padding-left: 15px;color: #000;font-size: 16px;width: 335px;display:block;background: url(http://assets.cheyun.com/v2/official/web/images/app/home/itemBlack.jpg) no-repeat 5px 55%;}
.aside-list-list a:hover{background: url(http://assets.cheyun.com/v2/official/web/images/app/home/itemBlue.jpg) no-repeat 5px 55%;}
.aside-list-list a:hover, .aside-list-title:hover a span, .aside-list-people a:hover{color: #18a7ca;}
.aside-list-list, .aside-list-people{border-bottom: 1px solid #f2f2f2;margin-bottom: 30px;padding-bottom: 10px;}
.aside-list-people li{width: 71px;float: left;padding: 15px 23px;}
.aside-list-people a{/*color: #18a7ca;*/color: #939b9e;background: none;padding-left: 0;text-align: center;display: block;}
.aside-list-people img{width: 71px;height: 71px;border-radius: 50%;}
.aside-list-people span{font-size: 16px;line-height: 16px;display: inline-block;width: 71px;}
.aside-list-people.cloud{width: 351px;height: 256px;background: url(http://assets.cheyun.com/v2/official/web/images/app/topic/cloud.png) no-repeat;}
/*更多*/
.u-more-a { display: block; margin: 0 auto; text-align: center; }
.u-more-a1 { width: 183px; height: 46px; line-height: 46px; color: #18a7ca; font-size: 18px; border: 1px #18a7ca solid; }
.u-more-a1:hover { background-color: #42b5ce; color: #fff; }
/*图片模拟动画 class加载图片上*/
.m-pic-aniamte { -webkit-transition: all .8s ease-in-out; transition: all .8s ease-in-out; }
.m-pic-aniamte:hover { -webkit-transform: scale(1.04); transform: scale(1.04); }
/*栏目页点赞区域*/
.m-infos-brand1 { height: 30px; line-height: 30px; right: 0; bottom: 10px; font-size: 12px; color: #939b9e; }
.m-infos-brand1 li { padding-left: 40px; } 
/*带上border的标题 h3加span等*/
.m-tle-top { border-top: 1px #e6e6e6 solid; }
.m-tle-top1 { text-align: center; }
.u-tle-trend1, .u-tle-trend2 { margin: -2px 0 30px; border-top: 2px solid #00a9ce; }
.u-tle-trend1 { font-size: 21px; }
.u-tle-trend2 { font-size: 30px; }
.u-tle-trend3, .u-tle-trend4 { margin: -1px 0 30px; line-height: 50px; color: #1d2628; font-size: 26px;　}
.u-tle-trend3 { margin: -1px 0 30px; border-top: 3px solid #00a9ce; }
.u-tle-trend4 { margin: -1px 0 0; border-top: 2px #42b5ce solid; }
.u-tle-trend5 { margin: -1px 0 0; border-top: 1px #42b5ce solid; color: #43576a; font-size: 20px; font-weight: 600; }
/*左边border右边标题 h3*/
.m-tlt-label { border-left: 3px solid #18a7ca; }
/*带数字的分页*/
.m-paging-num {  margin: 40px auto 0px; text-align: center; font-size: 0; }
.m-paging-num a { display: inline-block; padding: 6px 15px; margin-left: -1px; border: 1px #e6e6e6 solid; cursor: pointer; font-size: 18px; }
.m-paging-num a:hover,.m-paging-num a.on { background-color:#00a6cc; color:#fff; }
/*特别策划，搜索，单标签页，频道首页等的左侧列表和右侧列表*/
.m-wrap-t1 { padding-bottom: 20px; }
.m-wrap-lst { padding: 35px 0 25px 5px; border-bottom: 1px solid #e2e8eb; }
.m-pic-news5 img { width: 275px;height: 183px; vertical-align: top; }
.m-pic-news5 .label a { font-size: 12px; }
.m-infos-news6 { width: 510px;height: 183px; }
.m-infos-news6 .desc { margin-top: 15px; height: 52px;  }
.m-infos-user4  { width: 510px; }
.m-infos-user4 .date { width: 160px; padding-left: 10px; text-align: center; }
.m-infos-user4 .zan { text-align: right; }
.m-lst-t1, .m-lst-t2 { padding: 20px 0; }
.m-img-t1 { width: 96px; height: 64px; overflow: hidden; }
.m-img-t1 img { width: 96px; height: 64px;  }
.u-txt-t1, .u-txt-t3 { font-size: 16px; color: #43576a; }
.u-txt-t1 { width: 230px; }
.m-lst-t1 + .m-lst-t1 { border-top: 1px #e6e6e6 solid; }
.u-more-text1 { top: 5px; right: 0; }
.m-wrap-t2 { padding-top: 20px; }
.m-wrap-t2 a, .m-wrap-t3 a { display: block; }
.m-img-t2, .m-img-t5 { width: 350px; overflow: hidden; }
.u-img-t2, .u-img-t5 { width: 350px; vertical-align: top; }
.m-img-t2, .u-img-t2 { height: 233px; }
.m-img-t5, .u-img-t5 { height: 150px; }
.m-img-t3 { left: 0; top: 30px; }
.u-img-t3 { width: 66px; height: 66px; vertical-align: top; background-color: #fff; }
.u-txt-t2 { padding: 15px 0 0; font-size: 16px; color: #43576a; }
.m-img-t4 { width: 65px; height: 65px; overflow: hidden; border: 1px #e6e6e6 solid; }
.m-img-t4 img { width: 65px; height: 65px; }
.u-txt-t3 { width: 265px; }
.m-wrap-t3 { padding: 20px 0; }
.m-tle-top2 { padding-bottom: 30px; }
.u-tle-trend6, .u-tle-trend7 { padding-top: 10px; margin: -1px 0 0 35px; border-top: 1px solid transparent; color: #43576a; font-size: 16px; }
.u-tle-trend6.on { border-top-color: #18a7ca; color: #18a7ca; }
.u-tle-trend7 { margin: -1px 15px 0 0; }
.u-tle-trend7 .light { color: #18a7ca; }
.m-infos-user5 { width: 350px; }
.u-more-text2 { top: 50%; right: 0; font-size: 14px; }
/*个人中心*/
.m-infos-user6 .user{ width: 120px; }
.m-infos-user6 .date{ width: 160px; text-align: center; }
.m-infos-user6 .comment, .m-infos-user6 .zan { width: 80px; padding-left: 0; text-align: right; }
/*要移位置的*/
.m-infos-user1 .user, .m-infos-user1 .date { width: 165px; }
.m-infos-user1 .zan, .m-infos-user3 .zan { text-align: right; }





/*导航*/
.dabeijing{ width:100%; height:100%;background-color:#dfdfdf}
.daohangtiao{ width:100%; height:59px; background-color:#27303f}
.neirong1{ width:1260px; height:44px; margin:auto;}
.logo{ width:171px; height:29px;padding-top:14px;float:left}
.daohang{ width:1260px; height:42px;padding-top: 17px;}
.sy{ width:41px; height:22px;float:left; margin-left:60px; color:#FFF; font-size:16px}
.sy:hover{ font-size:18px; color:#00a0e9; }
.fdj{ width:18px; height:18px; background-image: url(../images/%E5%88%9B%E5%AE%A2_03_03.gif); background-repeat:no-repeat;margin-left: 70px;float:left}
.suxian1{ width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; margin-left:9px; float:left}
.suxian2{width:1px; height:23px; background-color:#d8d8d8; background-repeat:no-repeat; float:left; margin-left:20px}
.shuru{ width:63px; height:11px; font-size:10px; color:#e5e5e5; background-color:#27303f; border:#27303f; margin-left:20px; padding-top:5px; float:left}
.dl{ float:left; color:#FFF; font-size:12px;margin-left: 50px}
.dl:hover{ color:#00a0e9}